<div class="col-sm-12 col-md-4">
    <fieldset>
        <legend>Change Password</legend>
        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p>
        <div class="form-group">
            <label for="oldPassField">Old Password</label>
            <input type="password" ng-keypress="reset()" ng-model="oldpass" class="form-control"
                   id="oldPassField" name="oldPass"/>
        </div>
        <div class="form-group">
            <label for="oldPassField">New Password</label>
            <input type="password" ng-keypress="reset()" ng-model="newpass" class="form-control"
                   id="oldPassField" name="newPass"/>
        </div>
        <div class="form-group">
            <label for="oldPassField">Confirm Password</label>
            <input type="password" ng-keypress="reset()" ng-model="confirm" class="form-control"
                   id="oldPassField" name="confirm"/>
        </div>
        <button ng-click="updatePassword()" class="btn btn-block btn-primary btn-inversed">update
            password
        </button>
    </fieldset>
</div>