<h2 class="center">Profile</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Info</legend>
            <div class="form-group">
            <label for="emailField">Email</label>
            <input type="text" readonly class="form-control" id="emailField" name="name"
            ng-model="profile.email"/>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nameField">First name</label>
                        <input type="text" class="form-control" id="nameField" name="name"
                               ng-model="profile.firstName"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nameField">Last name</label>
                        <input type="text" class="form-control" id="nameField" name="name"
                               ng-model="profile.lastName"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="creditScoreField">Credit Score</label>
                <select id="creditScoreField" class="form-control" ng-model="profile.creditScore" required>                    
                    <option value="excellent">720 and Up</option>
                    <option value="good">680 to 719</option>
                    <option value="average">620 to 679</option>
                    <option value="poor">580 to 619</option>
                    <option value="bad">500 to 579</option>
                </select>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Current Address</legend>
            <div class="form-group">
                <label for="streetField">Street</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="profile.street"/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="cityField">City</label>
                        <input type="text" class="form-control" id="cityField" name="city"
                               ng-model="profile.city"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="stateField">State</label>
                        <input type="text" class="form-control" id="stateField" name="state"
                               ng-model="profile.state"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="zipField">Zip</label>
                        <input type="text" class="form-control" id="zipField" name="zip"
                               ng-model="profile.zip"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneField">Phone</label>
                <input type="text" class="form-control" id="phoneField" name="phone"
                       ng-model="profile.phone"/>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Other</legend>
            <div class="form-group">
                <label for="occupantsField">Number of Occupants</label>
                <input type="number" maxlength="3" min="1" max="999" step="1" class="form-control" id="occupantsField" name="occupants"
                       ng-model="profile.occupants"/>
            </div>
            <div class="form-group">
                <label for="incomeField">Annual Income</label>
                <select id="incomeField" class="form-control" ng-model="profile.income" required>                    
                    <option value="< 50,000">< $50,000</option>
                    <option value="50,000 - 100,000">$50,000 - $100,000</option>
                    <option value="100,000 - 249,000">$100,000 - $249,000</option>
                    <option value="249,000 - 499,000">$249,000 - $499,000</option>
                    <option value="500,000 +">$500,000 +</option>
                </select>                
            </div>
            <div class="form-group">
                <label>Pets</label>
                <div>
                <input type="checkbox" name="pets.dog" ng-model="profile.pets.dog"> Dog &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="pets.cat" ng-model="profile.pets.cat"> Cat &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="pets.other" ng-model="profile.pets.other"> Other
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <button  class="btn btn-primary btn-inversed btn-block" ng-click="saveProfile()">{{profileMessage}}</button>
    </div>
</div>