<div id="header">
    <div id="header-inner">
        <ng-include src="'nav/partials/topbar.tpl.html'"></ng-include>
        <!-- /.header-bar -->

        <div class="header-top">
            <div class="container">
                <div class="header-identity">
                    <a href="index.html" class="header-identity-target">
                        <span class="header-icon"><i class="fa fa-home"></i></span>
                        <span class="header-title">rented.io</span><!-- /.header-title -->
                        <span class="header-slogan">Name your Rent&trade;</span><!-- /.header-slogan -->
                    </a><!-- /.header-identity-target-->
                </div>
                <!-- /.header-identity -->

                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".header-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.container -->
        </div>
        <!-- .header-top -->

        <ng-include src="'nav/partials/nav.tpl.html'"></ng-include>
        <!-- /.header-navigation -->
    </div>
    <!-- /.header-inner -->
</div>
<!-- /#header -->