<div class="header-navigation" ng-show-auth="'login'">
    <div class="container">
        <div class="row">
            <ul class="header-nav nav nav-pills">
                <li class="menuparent">
                    <a ng-class="isActive('/home')" href="#/home">Home</a>
                </li>
                <li class="menuparent">
                    <a ng-class="isActive('/properties')" href="#/properties">Properties</a>
                </li>
            </ul>
            <ng-include src="'nav/partials/search.tpl.html'"></ng-include>
        </div>
    </div>
    <!-- /.container -->
</div>