

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0px;
  color: #5a5a5a;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  padding-top:20px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-sm-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h3 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
/*  letter-spacing: 0px; */
}

.mainbox {
	-moz-box-sizing: border-box;
	background-color: white;
	width: 100%;
	padding-top: 0px;
}