<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <title>Campusly - Update</title>
</head>
<body>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="container">
          <tr>
            <td>

              <!-- content start -->
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>

                          <img width="76" height="100" src="http://i61.tinypic.com/2dj1e84.jpg" class="center-block" style="margin-top: 30px">

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <h3>Dear *|FNAME|*,</h3>
                    <h4>Connect with {{=(lookings.length+roomListings.length)}} new students who are looking for a room or roommate!</h4>
                    <h4>New posts from {{=d.getMonth()+1}}/{{=d.getDate()}}/{{=d.getFullYear()}}<br></h4>

                    <!--begin looking section-->
                    {{ if (lookings.length > 0) { }}

                        <table class="twelve columns">

                            {{ for(var i=0; i<lookings.length; i++) {}}
                              <tr>
                                  <td>
                                      <a href="https://campusly.org/lookingDetail/{{=lookings[i].id}}">
                                      Campus: {{= lookings[i].relatedUserId.usereducationUsers[0].relatedUniversityId.name }}<br/>
                                      Move in date: {{= lookings[i].moveInDate.getMonth()+1 }}/{{= lookings[i].moveInDate.getDate() }}/{{= lookings[i].moveInDate.getFullYear() }}<br/>
                                      Max rent: ${{= lookings[i].maxMonthlyRent }}<br/>
                                      Gender: {{= lookings[i].gender }}<br/>
                                      Max roommates: {{= lookings[i].numRoommates }}<br/>
                                      Looking to meet new roommates?: {{= lookings[i].openToFullYearLeaseNewRoomates ? 'Yes' : 'No'}}
                                      </a>
                                  </td>
                              </tr>
                                <hr/>
                            {{ } }}

                        </table>
                    {{ } }}
                        <!--end looking section-->

                    <!--begin room listing section-->

                      {{ if (roomListings.length > 0) { }}

                          <table class="twelve columns">

                                {{ for(var i=0; i<roomListings.length; i++) {}}
                                <tr class="spaceUnder">
                                        <td style="width: 50%;"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{=roomListings[i].relatedPropertyId.latitude}},{{=roomListings[i].relatedPropertyId.longitude}}&zoom=13&scale=1.5&size=250x160&markers=color:blue%7C{{=roomListings[i].relatedPropertyId.latitude}},{{=roomListings[i].relatedPropertyId.longitude}}&key=AIzaSyAm7woOFr0TOKG0U7jsBF5K3LSifdDjgfs"></td>
                                        <td style="width: 50%;"> <a href="https://campusly.org/roomDetail/{{=roomListings[i].id}}">Address: {{=roomListings[i].relatedPropertyId.streetNumeric}} {{=roomListings[i].relatedPropertyId.streetAddress}} {{=roomListings[i].relatedPropertyId.apt?roomListings[i].relatedPropertyId.apt:''}}, {{=roomListings[i].relatedPropertyId.city}} {{=roomListings[i].relatedPropertyId.zip}}<br/>
                                        Move in date: {{= roomListings[i].availableMoveIn.getMonth()+1 }}/{{= roomListings[i].availableMoveIn.getDate() }}/{{= roomListings[i].availableMoveIn.getFullYear() }}<br/>
                                        Price: ${{= roomListings[i].monthlyPrice }}<br/>
                                        Room type: {{= roomListings[i].roomType }}<br/>
                                        Shared bathroom: {{= roomListings[i].sharedBathroom }}<br/></a></td></tr>
                                <tr><td colspan="2">Room description: {{= roomListings[i].description }}</td></tr>
                                <hr/>
                                {{ } }}

                          </table>

                      {{ } }}

                  </td>
                </tr>
              </table>

              <table class="row">
                <tr>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>

                      </tr>
                    </table>

                  </td>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>
                        <td class="center">
                          <center>
                            <table class="button success round">
                              <tr>
                                <td>

                                  <a href="https://campusly.org/login">Sign-in & Connect</a>

                                </td>
                              </tr>
                            </table>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                  <td class="wrapper last">

                    <table class="four columns">
                      <tr>


                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            <!--some text-->

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>

<!--some text-->

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                          <center>
                            <p style="text-align:center;"><a href="https://campusly.org/editProfile">Unsubscribe</a> | <a href="https://campusly.org/terms">Terms</a> | <a href="https://campusly.org/privacy">Privacy</a></p>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <!-- container end below -->
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
</body>
</html>
