<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <title>Campusly - Update</title>
</head>
<body>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="container">
          <tr>
            <td>

              <!-- content start -->
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>

                          <img width="76" height="100" src="http://i61.tinypic.com/2dj1e84.jpg" class="center-block" style="margin-top: 30px">

                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr>
                        <td>

                          <h1>Daily update for {{=d.getMonth()+1}}/{{=d.getDate()}}/{{=d.getFullYear()}}</h1>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>

                          <p>Connect with {{=lookings.length}} new students who are looking for a room or roommate!</p>

                          Students looking:
                            {{ for(var i=0; i<lookings.length; i++) {}}
                              <ul>
                                <a href="https://campusly.org/lookingDetail/{{=lookings[i].id}}">
                                <!--name: {{= lookings[i].relatedUserId.firstname }}<br/>-->
                                <!--university: {{= lookings[i].relatedUserId.usereducationUsers.educationCenterName ? lookings[i].relatedUserId.usereducationUsers.educationCenterName : 'N/A'}}<br/>-->
                                <!--mayor: {{= lookings[i].relatedUserId.usereducationUsers.mayor ? lookings[i].relatedUserId.usereducationUsers.mayor : 'N/A'}}<br/>-->
                                Move in date: {{= lookings[i].moveInDate.getMonth()+1 }}/{{= lookings[i].moveInDate.getDate() }}/{{= lookings[i].moveInDate.getFullYear() }}<br/>
                                Max rent: ${{= lookings[i].maxMonthlyRent }}<br/>
                                Gender: {{= lookings[i].gender }}<br/>
                                Max roommates: {{= lookings[i].numRoommates }}<br/>
                                Looking to meet new roommates?: {{= lookings[i].openToFullYearLeaseNewRoomates ? 'Yes' : 'No'}}
                                </a>
                              </ul>
                          <hr/>
                            {{ } }}

                        </td>
                        <!--<td class="expander"></td>-->
                      </tr>
                    </table>

                    <p> {{=roomListings.length}} new rooms posted (details coming soon)!</p>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>

                      </tr>
                    </table>

                  </td>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>
                        <td class="center">
                          <center>
                            <table class="button success round">
                              <tr>
                                <td>

                                  <a href="https://campusly.org/login">Sign in & connect</a>



                                </td>
                              </tr>
                            </table>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                  <td class="wrapper last">

                    <table class="four columns">
                      <tr>


                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

            <!--some text-->

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>

<!--some text-->

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>




              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                          <center>
                            <p style="text-align:center;"><a href="https://campusly.org/terms">Terms</a> | <a href="https://campusly.org/privacy">Privacy</a></p>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <!-- container end below -->
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
</body>
</html>
