
<div ui-view="">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>No.</th>
      <th>Education centre name</th>
      <th>Type</th>
      <th>Graduation</th>
      <th>Major</th>
      <th>degreeType</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in education.listOfEducations track by $index">
      <td>{{$index+1}}</td>
      <td>{{item.educationCenterName}}</td>
      <td>{{item.type}}</td>
      <td>{{item.graduation}}</td>
      <td>{{item.major}}</td>
      <td>{{item.degreeType}}</td>
      <td>
        <div class="btnContainter ">
          <button ui-sref=".edit({id: item.id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</button>
          <button ng-click="education.deleteEducation(item)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  {{education.listOfEducations.type}}
  <button class="btn btn-primary" ui-sref=".new">Add</button>
</div>
