
<div ui-view="">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>No.</th>
      <th>Company name</th>
      <th>Role</th>
      <th>Start</th>
      <th>End</th>
      <th>Presently employed</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in occupation.listOfOccupations track by $index">
      <td>{{$index+1}}</td>
      <td>{{item.company}}</td>
      <td>{{item.role}}</td>
      <td>{{item.start | date: 'dd.MM.yyyy'}}</td>
      <td>{{item.end | date: 'dd.MM.yyyy'}}</td>
      <td>{{item.presentlyEmployeed}}</td>
      <td>
        <div class="btnContainter ">
          <button ui-sref=".edit({id: item.id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</button>
          <button ng-click="occupation.deleteOccupation(item)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" ui-sref=".new">Add</button>
</div>
