.features-gradient {
    background-image: -o-linear-gradient(bottom, #ffffff 15%, #f6f6f6 100%, #f6f6f6 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 15%, #f6f6f6 100%, #f6f6f6 100%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 15%, #f6f6f6 100%, #f6f6f6 100%);
    background-image: -ms-linear-gradient(bottom, #ffffff 15%, #f6f6f6 100%, #f6f6f6 100%);
    background-image: linear-gradient(to bottom, #ffffff 15%, #f6f6f6 100%, #f6f6f6 100%);
    //background-color: #f6f6f6;
}

#main-inner {

   .feature-icon {
      height: 290px;

      h4 {
        font-size: 28px;
        font-weight: 300;
        margin-top: 30px;
      }
   }

   .feature-stripe {
      font-weight: 300;
      color: @gray-darker;

      .container > .row {
        margin-top: 80px;
        margin-bottom: 80px;
      }

      h4 {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 27px;
        margin-top: 0px;
      }

      img {
        min-height: 216px;
      }

      ul {
        font-size: 24px;
 
        li {
           padding-top: 28px;
        }

        li:before { 
            content:"-";
            position:relative;
            left: -5px;
        }
      }
   }

   @media (min-width: @screen-sm-min) {
      .feature-icon + .feature-icon {
           border-left: 1px solid #999;
      }
   }

}
