#footer {

    .footer-section-title {
        color: black;
        font-weight: bold;
        font-size: 16px; 
    }

    .footer-bottom {
        font-size: 14px;
        color: #656565;
    }

    .footer-bottom a {
        color: #656565;
    }

}
