#main {
  padding-top: 64px;
}

#header-wrapper {

    .navbar-inverse {

        background-color: @brand-primary;
        border-width: 0 0 0 0;        

        .navbar-nav > li > a.active {
            color: @brand-primary;
        }

        .navbar-header {
            background-color: @brand-primary;
        }

        .navbar-toggle {
            background-color: @brand-primary;
            margin-right: 15px;
            border: 0px;
        }

        .nav-brand {
            min-width: 170px;
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
        }

    }

    .navbar-collapse {
        background-color: #000000;
        margin-bottom: 15px;
    }

    .header-black-hide {
       display: none;
       position: fixed;
       background-color: #000000;
       height: 64px;
       width: 400px;
       top: 0px;
       right: 0px;
    }

    @media (min-width: @screen-wd-min) {

        .header-black-hide {
             width: 800px;
        }

    }

    @media (min-width: @screen-md-min) {
        ul.nav.primary {

            li:first-child a {
              margin-left: 33px;
            }

            li:nth-child(2) a {
              margin-left: 55px;
            }

            li:nth-child(3) a {
              margin-left: 55px;
            }

        }

        ul.nav.secondary li:first-child a {
          margin-right: 35px;
        }
    }

    @media (min-width: @screen-sm-min) {

        .header-black-hide {
             display: block;
        }

        .navbar-collapse {
            margin-bottom: 0px;
        }

    }

}

