.homepage-gradient {
    background-image: -o-linear-gradient(bottom, #ffffff 15%, #e4e7e9 100%, #e4e7e9 100%);
    background-image: -moz-linear-gradient(bottom, #ffffff 15%, #e4e7e9 100%, #e4e7e9 100%);
    background-image: -webkit-linear-gradient(bottom, #ffffff 15%, #e4e7e9 100%, #e4e7e9 100%);
    background-image: -ms-linear-gradient(bottom, #ffffff 15%, #e4e7e9 100%, #e4e7e9 100%);
    background-image: linear-gradient(to bottom, #ffffff 15%, #e4e7e9 100%, #e4e7e9 100%);
    background-color: #e4e7e9;
}

.homepage-drawing {
    /* background: transparent url('img/home.png') no-repeat local center bottom; */
    height: 596px;
    background-image:  url('img/home.png');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.jumbotron {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

}

@media (min-width: 480px) {
  .jumbotron {

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 30px;
      }

  }
}
