@import "../assets/css/bootstrap.css";
@import "../assets/css/font-awesome.css";
@import "../assets/libraries/flexslider/flexslider.css";
@import "../assets/css/fonts.css";
@import "../assets/css/realocation.css";

@import "../app/user/less/login.less";

#header-wrapper {
   position: fixed;
   left: 0px;
   right: 0px;
   z-index: 1030;
}

#main {
  padding-top: 50px;
}

.homepage-feature-title{
  font-weight: bold;
  vertical-align: middle;
  margin: 0;
  vertical-align: middle;
  font-size: 24px
}

.homepage-feature{
  margin-bottom: 20px;
}

.homepage-feature-body{
  font-size: 16px;
}

.homepage-feature-list{
  font-size: 18px;

  li{
    margin-bottom: 15px;
  }
}

.homepage-property-box{
  padding-top: 10px;
    color: #39b54a;

}

.homepage-property-box a{  
    color: #39b54a;
}

h4.homepage-property-box-subtitle, h4.homepage-property-box-subtitle a {
  margin-bottom: 0px;
}

.homepage-block-content{
  padding:50px 0;
}

.modal-backdrop.in{
  opacity: 0.8;
}

.header-title{
  text-transform: none;
}

.background-brick{
  background-image: url("img/patterns/brickwall.png");
  background-repeat: repeat;
  background-position: center center;
}
