@import "../assets/css/bootstrap.min.css";
//@import "../assets/css/font-awesome.css";
@import "../assets/libraries/flexslider/flexslider.css";

@import "variables.less";
@import "../app/user/less/login.less";
@import "../app/user/less/navbar.less";
@import "header.less";
@import "home.less";
@import "footer.less";
@import "buttons.less";
@import "features.less";
@import "properties.less";
@import "roboto.less";
@import "navbar-arrow.less";
@import "form.less";
@import "dashboard.less";
@import "circular-bar.less";
@import "clndr.less";

@media (min-width: 1200px) {
    body .container {
       width: 1054px;
    }
}

#main-wrapper {
  min-height: 660px;
  background-color: #f6f6f6;
}

#main-header {
  min-height: 60px;
  background-color: #ffffff;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

h1 {
     .center;
     text-align: center;
     margin-top: 60px;   
     margin-bottom: 50px;   
}

.row h1 {
     margin-top: 0px;   
}

h5 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

.control-label {
     font-size: 24px;
     font-weight: normal;
}

body .form-horizontal .control-label {
     text-align: left;
     padding-right: 0px;
}

.white-stripe {
     background-color: #ffffff;
     width: 100%;
}

.brand-stripe {
     background-color: @brand-primary;
     width: 100%;
}

.header-shadow {
     box-shadow: 0 0 3px #eeeeef;
}

.content-header {
    .row {
        position: relative;

        h2 {
          color: #9d9d9d;
          margin-bottom: 20px;
        }

        ul {
          font-size: 24px;
          font-weight: 300;
          li {
            padding-top: 20px;
          }
        }
    }
}

.box-bottom {
   position: absolute;
   bottom: 0px; 
}

a[ng-click] {
  cursor: pointer;
}

.top-buffer {
  margin-top: 30px;
}

.top-buffer-lg {
  margin-top: 60px;
}

.bottom-buffer {
  margin-bottom: 30px;
}

.vertical-buffer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.vertical-buffer-xl {
  margin-top: 120px;
  margin-bottom: 120px;
}

.nopad-left {
  padding-left: 0px;
}

.nopad-right {
  padding-right: 0px;
}

.text-lg {
  font-size: @font-size-large;
}

.noselect
{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.vertical-padding(@size: 5px)
{
  padding-top: @size;
  padding-bottom: @size;
}

.transition(@props)
{
  -webkit-transition: @props;
  -moz-transition: @props;
  -ms-transition: @props;
  -o-transition: @props;
  transition: @props;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
