<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>


<div class="main-wrapper">

  <div class="container">

    <h2>Settings</h2>

    <div class="white-box">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group input-post">
            <label for="dailyUpdate">Receive daily update e-mail?</label>
            <select
              ng-options="option.value as option.text for option in settings.ddlYesNoSelect"
              id="dailyUpdate" class="form-control" ng-model="settings.tempMe.shareCreditReport">
            </select>
          </div>

          <div class="form-group input-post">
            <label for="allowAroundMe">Allow students around me to connect?</label>
            <select
              ng-options="option.value as option.text for option in settings.ddlYesNoSelect"
              id="allowAroundMe" class="form-control" ng-model="settings.tempMe.shareProfile">
            </select>
          </div>

          <div class="form-group input-post">
            <label for="userSearchRadius">Set search distance circle around your current location</label>
            <select id="userSearchRadius" name="userSearchRadius" class="form-control" ng-model="settings.tempMe.experianIdToken">
              <option value="1">1 mile</option>
              <option value="3">3 miles</option>
              <option value="7">7 miles</option>
            </select>
          </div>

       </div>
     </div>
    </div>
    <br/>
    <button ng-click="settings.changeSettings(settings.tempMe)" class="btn-rented-medium primary pull-right">Save</button>

  </div>
</div>
