<div class="alert alert-{{shout.type}} text-center" ng-show="shout.content">{{shout.content}}</div>

<div class="container">

    <h1>Invite Owner</h1>

    <ol style="font-size: 24px;">
        
        <div class="input-group input-group-lg vertical-buffer">
              <input type="text" class="form-control" placeholder="owner@example.com, owner2@example.com" ng-model="inviteAddress">
              <span class="input-group-btn">
                <button class="btn btn-rented" type="button" ng-click="invite(inviteAddress)">Invite!</button>
              </span>
        </div><!-- /input-group --> 

    </ol>
</div>
