<div class="container">
    <h1>My Offers</h1>

    <div class="row properties">
        <div class="col-sm-3 top-buffer-lg" ng-repeat="property in properties | loadProperty">
            <div ng-repeat="bid in property.bids | loadBid" style="display: none;"></div> <!-- FIXME -->
            <ng-include src="'tenant/partials/property-teaser.tpl.html'"></ng-include>
            <a href="#/property/{{property.$id}}" class="btn btn-rented">See More</a>
            <button class="btn btn-rented" ng-click="cancelBid(property)" ng-hide="(!property.bestOffer)||(property.bestOffer.userId==profile.$id&&property.bestOffer.accepted)">Cancel My Offer</button>
        </div>
    </div>

    <h1 ng-show="watchlist.length">My Watchlist</h1>

    <div class="row properties bottom-buffer-xl">
        <div class="col-sm-3 top-buffer-lg" ng-repeat="property in watchlist | loadProperty">
            <ng-include src="'tenant/partials/property-teaser.tpl.html'"></ng-include>
            <!--a href="http://www.craigslist.org/about/sites#US" class="btn btn-rented" target="_blank">See More On Craigslist</a-->
            <a href="#/property/{{property.$id}}" class="btn btn-rented">See More</a>
            <button class="btn btn-rented" ng-click="unwatch(property)">Unwatch</button>
        </div>
    </div>

</div>
