<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>rented.io</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

</head>
<body ng-cloak ng-controller="AppCtrl" class="header-light">
<div id="wrapper">
    <div id="header-wrapper" ng-controller="HeaderCtrl">
        <ng-include src="'nav/partials/header.tpl.html'"></ng-include>
    </div>
    <div id="main-wrapper">
        <div id="main">
            <div id="main-inner">
                <div ng-view autoscroll="true"></div>
            </div>
        </div>
    </div>
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                <div class="footer-bottom">
                    <div class="container">
                        <p class="center no-margin">
                            &copy; 2014 Rented Inc., All rights reserved | <a href="#/terms-and-conditions">Terms of Use</a> | <a href="#/privacy-policy">Privacy Policy</a>
                        </p>
                    </div><!-- /.container -->
                </div><!-- /.footer-bottom -->
            </div><!-- /#footer-inner -->
        </div><!-- /#footer -->
    </div><!-- /#footer-wrapper -->
</div>
<!-- compiled JavaScript -->
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>