<!-- /.header-nav -->
<div class="form-search-wrapper col-sm-3">
    <form method="post" action="?" class="form-horizontal form-search">
        <div class="form-group has-feedback no-margin">
            <input type="text" class="form-control" placeholder="Search">

                                <span class="form-control-feedback">
                                    <i class="fa fa-search"></i>
                                </span><!-- /.form-control-feedback -->
        </div>
        <!-- /.form-group -->
    </form>
</div>