<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper">
<div class="container">
  <div class="row">
    <div class="page-header">
      <h2>Post Looking</h2>
      <p style="padding-bottom: 20px">Tell other students what kind of room you are looking for.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box">

    <!--start of first col 4-->
    <div class="col-md-4">

        <!-- Move-in date -->

        <div class="row">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-arrow-right fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="moveInDate">Move-in date</label>
            <p class="input-group">
              <input type="text" id="moveInDate" class="form-control" datepicker-popup="{{format}}" ng-model="newLooking.tempLooking.moveInDate" is-open="datePickers.startDate" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
            </p>
          </div>
        </div>

        <!-- Move-out date -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-arrow-left fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="moveInDate">Move-out date</label>
            <p class="input-group">
              <input type="text" id="moveOutDate" class="form-control" datepicker-popup="{{format}}" ng-model="newLooking.tempLooking.moveOutDate" is-open="datePickers.endDate" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
            </p>
          </div>
        </div>

      <!--<div class="col-md-4">-->

      <!-- Max monthly rent -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-tag fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="maxMonthlyRent">Max monthly rent ($)</label>
          <input type="number" id="maxMonthlyRent" name="maxMonthlyRent" class="form-control"  placeholder="e.x. 500" ng-model="newLooking.tempLooking.maxMonthlyRent"/>
        </div>

      </div>

      <!-- Utilities included -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-bar-chart fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="utilitiesIncluded">Utilities included?</label><br/>
          <select id="utilitiesIncluded" class="form-control" ng-model="newLooking.tempLooking.utilitiesIncluded">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Bus lines -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-bus fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="busRouteRequired">Near bus lines?</label><br/>
          <select id="busRouteRequired" class="form-control" ng-model="newLooking.tempLooking.busRouteRequired">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

    </div>
    <!--end of first col 4-->

    <!--start of second col 4-->
     <div class="col-md-4">

       <!-- No. of roommates -->

       <div class="row">
         <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
           <div class="post-bubble">
             <i class="fa fa-users fa-lg"></i>
           </div>
         </div>
         <div class="col-xs-9 col-sm-7 input-post">
           <label for="numRoommates">Max no. of roommates</label>
           <input type="number" id="numRoommates" name="numRoommates" class="form-control"  placeholder="e.x. 3" ng-model="newLooking.tempLooking.numRoommates"/>
         </div>
       </div>

       <!-- Gender preference -->

       <div class="row post-padding">
         <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
           <div class="post-bubble">
             <i class="fa fa-venus-mars fa-lg"></i>
           </div>
         </div>
         <div class="col-xs-9 col-sm-7 input-post">
           <label for="gender">Gender preference</label>
           <select id="gender" class="form-control" ng-model="newLooking.tempLooking.gender">
             <option value="male only">Male only</option>
             <option value="female only">Female only</option>
             <option value="no preference">No preference</option>
           </select>
         </div>
       </div>

       <!-- Shared bathroom -->

       <div class="row post-padding">
         <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
           <div class="post-bubble">
             <i class="fa fa-shower fa-lg"></i>
           </div>
         </div>
         <div class="col-xs-9 col-sm-7 input-post">
           <label for="sharedBathroom">Shared bathroom?</label><br/>
           <select id="sharedBathroom" class="form-control" ng-model="newLooking.tempLooking.sharedBathroom">
             <option value="true">Yes</option>
             <option value="false">No</option>
           </select>
         </div>
       </div>

       <!-- Room type -->

       <div class="row post-padding">
         <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
           <div class="post-bubble">
             <i class="fa fa-bigBed fa-lg"></i>
           </div>
         </div>
         <div class="col-xs-9 col-sm-7 input-post">
           <label for="roomType">Room preference</label>
           <select id="roomType" class="form-control" ng-model="newLooking.tempLooking.roomType">
             <option value="single">Single</option>
             <option value="double">Double</option>
             <option value="living room">Living room</option>
           </select>
         </div>
       </div>

       <!-- Furnished -->

       <div class="row post-padding">
         <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
           <div class="post-bubble">
             <i class="fa fa-desk fa-lg"></i>
           </div>
         </div>
         <div class="col-xs-9 col-sm-7 input-post">
           <label for="furnished">Furnished?</label><br/>
           <select id="furnished" class="form-control" ng-model="newLooking.tempLooking.furnished">
             <option value="true">Yes</option>
             <option value="false">No</option>
           </select>
         </div>
       </div>
     </div>
    <!--end of second col 4-->

    <!--start of third col 4-->
    <div class="col-md-4">

      <!-- Smoking -->

      <div class="row">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-smoking fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="smokingAllowed">Smoking allowed?</label><br/>
          <select id="smokingAllowed" class="form-control" ng-model="newLooking.tempLooking.smokingAllowed">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Pets -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-pet fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="petsAllowed">Pets allowed?</label><br/>
          <select id="petsAllowed" class="form-control" ng-model="newLooking.tempLooking.petsAllowed">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Parking -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-car fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="parkingNeeded">Parking included?</label><br/>
          <select id="parkingNeeded" class="form-control" ng-model="newLooking.tempLooking.parkingNeeded">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Meet new roommates -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-user-plus fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="parkingNeeded">Meet new roommates?</label><br/>
          <select id="openToFullYearLeaseNewRoomates" class="form-control" ng-model="newLooking.tempLooking.openToFullYearLeaseNewRoomates">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

    </div>

    <!--end of third col 4-->

      <!-- Looking Details -->

      <div class="row post-padding">
        <div class="col-xs-10 col-sm-10 col-xs-offset-2 col-sm-offset-2 input-post">
          <textarea required name="area" id="area" cols="60" rows="3" ng-model="newLooking.tempLooking.area"  class="form-control" placeholder="Enter looking post details"></textarea><br/>
        </div>
      </div>

    <!--<button ng-click="" class="btn btn-primary">Delete</button>-->

    </div>
  </div>

  <!-- Save button for looking post -->

  <div class="row post-padding">
    <div class="col-xs-12 col-sm-12">
      <button ng-click="newLooking.addLooking(newLooking.tempLooking)" class="btn-rented-medium primary pull-right">Save</button>
    </div>
  </div>

</div>
</div>
