<div class="container">
  <div class="row">
    <div class="page-header">
      <h2>New looking</h2>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box">

    <!--start of first col 4-->
    <div class="col-md-4">
        <label for="moveInDate">Move in</label>
        <p class="input-group">
          <input type="text" id="moveInDate" class="form-control" datepicker-popup="{{format}}" ng-model="newLooking.tempLooking.moveInDate" is-open="datePickers.startDate" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
        </p>

        <label for="moveInDate">Move out</label>
        <p class="input-group">
          <input type="text" id="moveOutDate" class="form-control" datepicker-popup="{{format}}" ng-model="newLooking.tempLooking.moveOutDate" is-open="datePickers.endDate" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
        </p>

      <!--<div class="col-md-4">-->
        <label for="maxMonthlyRent">Max rent</label>
        <input type="number" id="maxMonthlyRent" name="maxMonthlyRent" class="form-control"  placeholder="Max monthly rent" ng-model="newLooking.tempLooking.maxMonthlyRent"/>

        <label for="utilitiesIncluded">utilities included</label><br/>
        <select id="utilitiesIncluded" class="form-control" ng-model="newLooking.tempLooking.utilitiesIncluded">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>

        <label for="busRouteRequired">Near bus lines</label><br/>
        <select id="busRouteRequired" class="form-control" ng-model="newLooking.tempLooking.busRouteRequired">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
    </div>
    <!--end of first col 4-->

    <!--start of second col 4-->
     <div class="col-md-4">

         <label for="numRoommates">Max roommates</label>
         <input type="number" id="numRoommates" name="numRoommates" class="form-control"  placeholder="num roommates" ng-model="newLooking.tempLooking.numRoommates"/>

         <label for="gender">Gender</label>
         <select id="gender" class="form-control" ng-model="newLooking.tempLooking.gender">
           <option value="male only">male only</option>
           <option value="female only">female only</option>
           <option value="no preference">no preference</option>
         </select>

         <label for="sharedBathroom">Shared Bathroom</label><br/>
         <select id="sharedBathroom" class="form-control" ng-model="newLooking.tempLooking.sharedBathroom">
           <option value="true">Yes</option>
           <option value="false">No</option>
         </select>

          <label for="roomType">Room type</label>
          <select id="roomType" class="form-control" ng-model="newLooking.tempLooking.roomType">
            <option value="single">single</option>
            <option value="double">double</option>
            <option value="living room">living room</option>
         </select>

         <label for="furnished">furnished</label><br/>
         <select id="furnished" class="form-control" ng-model="newLooking.tempLooking.furnished">
           <option value="true">Yes</option>
           <option value="false">No</option>
         </select>
     </div>
    <!--end of second col 4-->

    <!--start of third col 4-->
    <div class="col-md-4">
      <label for="smokingAllowed">Smoking</label><br/>
      <select id="smokingAllowed" class="form-control" ng-model="newLooking.tempLooking.smokingAllowed">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>

      <label for="petsAllowed">Pets</label><br/>
      <select id="petsAllowed" class="form-control" ng-model="newLooking.tempLooking.petsAllowed">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>

      <label for="parkingNeeded">Parking</label><br/>
      <select id="parkingNeeded" class="form-control" ng-model="newLooking.tempLooking.parkingNeeded">
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select><br/>

      <input type="checkbox" ng-model="newLooking.tempLooking.openToFullYearLeaseNewRoomates" id="openToFullYearLeaseNewRoomates"/>
      <label for="openToFullYearLeaseNewRoomates">Open To Full Year Lease New Roomates</label><br/>
    </div>
    <!--end of third col 4-->

    <!--<button ng-click="" class="btn btn-primary">Delete</button>-->
    <button ng-click="newLooking.add(newLooking.tempLooking)" class="btn btn-primary">Save</button>
    <button ui-sref="dashboard" ui-sref-opts="{reload:true}"  class="btn btn-primary">Back</button>
    </div>
  </div>
</div>
