<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Add education</h1>
    </div>
    <div class="col-sm-12">


      <label for="educationCenterName">Education centre name</label>
      <input type="text" id="educationCenterName" name="educationCenterName" class="form-control" ng-model="addEducation.tempEducation.educationCenterName"/>

      <label for="type">Type</label>
      <select id="type" class="form-control" data-ng-model="addEducation.tempEducation.type">
        <option value="university">University</option>
        <option value="trade">Trade</option>
        <option value="military">Military</option>
      </select>

      <br/>
      <label for="graduation">Graduated?</label><br/>
      <label class="radio-inline"><input type="radio" name="graduation" id="graduation" ng-model="addEducation.tempEducation.graduation" value="1">Yes</label>
      <label class="radio-inline"><input type="radio" name="graduation" id="graduation" ng-model="addEducation.tempEducation.graduation" value="0">No</label>

      <div class="row">
        <div class="col-md-4"><br/>
          <label for="start">Start date</label>
          <p class="input-group">
            <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="addEducation.tempEducation.startDate" is-open="datePickers.startDate" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
        <div class="col-md-4"><br/>
          <label for="end">End date</label>
          <p class="input-group">
            <input type="text" id="end" class="form-control" datepicker-popup="{{format}}" ng-model="addEducation.tempEducation.endDate" is-open="datePickers.endDate"  close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
        <div class="col-md-4" ng-if="addEducation.tempEducation.graduation==1"><br/>
          <label for="graduationDate">Graduation date</label>
          <p class="input-group">
            <input  type="text" id="graduationDate" class="form-control" datepicker-popup="{{format}}" ng-model="addEducation.tempEducation.graduationDate" is-open="datePickers.graduationDate"  close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'graduationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div><div class="col-md-4" ng-if="addEducation.tempEducation.graduation==0"></div>    </div>

        <label for="major">Major</label>
        <input type="text" ng-model="addEducation.tempEducation.major" id="major" class="form-control" name="major"/>

      <label for="degreeType">Degree type</label>
      <select id="degreeType" class="form-control" data-ng-model="addEducation.tempEducation.degreeType">
        <option value="undergraduate">Undergraduate</option>
        <option value="graduate">Graduate</option>
        <option value="doctorate">Doctorate</option>
        <option value="post-doctorate">Post-doctorate</option>
      </select>

      <br/>

      <button class="btn btn-primary" ng-click="addEducation.addNewEducation(addEducation.tempEducation)">Add</button>
      <button class="btn btn-primary" ui-sref="settings.education">Back to education overview</button>

      <pre>{{addEducation.tempEducation|json}}</pre>
  </div>




</div>
</div>
