<h5>Make An Offer</h5>

<form method="post" class="form-horizontal" ng-submit="makeAnOffer(bid,property)" ng-controller="TenantBidCtrl" ng-show="gotProfile">
    <div class="form-group">
        <label class="col-sm-4 control-label">Price</label>
        <div class="col-sm-8">
            <input class="form-control input-lg" type="number" ng-model="bid.rentAmount" min="{{property.lowestRent}}" ng-disabled="!property.dynamicPricing" required autofocus>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Move-In Date</label>
        <div class="col-sm-8">
            <input type="date" class="form-control input-lg" ng-model="bid.moveInDate" min="{{property.availableDate}}" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Lease Terms</label>
        <div class="col-sm-8">
            <select class="form-control input-lg" ng-model="bid.leaseTerm" ng-options="term.months as term.desc for term in terms" ng-disabled="terms.length==1" required>
              <option value="">Select...</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-6 text-right">
            <a class="btn btn-rented" ng-click="watch(property)" ng-hide="inWatchlist(property)">Add To Watchlist</a>
            <a class="btn btn-rented" ng-click="unwatch(property)" ng-show="inWatchlist(property)">Remove From Watchlist</a>
        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-rented">Make An Offer</button>
            <!-- Edit My Offer -->
        </div>
    </div>
</form>
