<h5>Make An Offer</h5>

<p class="badge top-buffer-sm" style="font-size: 18px; background-color: #666666; line-height: 2;" ng-show="property.bestOffer.accepted&&!property.tenant">Rental Pending</p>
<p class="badge top-buffer-sm" style="font-size: 18px; background-color: #51b65b; line-height: 2;" ng-show="property.tenant">Rented</p>

<form ng-hide="property.bestOffer.accepted" method="post" class="form-horizontal" ng-submit="makeAnOffer(bid,property)" ng-controller="TenantBidCtrl" ng-show="gotProfile">
    <div class="form-group">
        <label class="col-sm-4 control-label">Price</label>
        <div class="col-sm-8">
            <input class="form-control input-lg" type="number" ng-model="bid.rentAmount" min="{{property.lowestRent}}" ng-disabled="!property.dynamicPricing" required autofocus>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Move-In Date</label>
        <div class="col-sm-8">
            <input type="date" class="form-control input-lg" ng-model="bid.moveInDate" min="{{property.availableDate}}" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Lease Terms</label>
        <div class="col-sm-8">
            <select class="form-control input-lg" ng-model="bid.leaseTerm" ng-options="term.months as term.desc for term in terms" ng-disabled="terms.length==1" required>
              <option value="">Select...</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-6 text-right">
            <a class="btn btn-rented" ng-click="watch(property)" ng-hide="inWatchlist(property)">Add To Watchlist</a>
            <a class="btn btn-rented" ng-click="unwatch(property)" ng-show="inWatchlist(property)">Remove From Watchlist</a>
        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-rented" ng-hide="bid.userId">Make An Offer</button>
            <button type="button" class="btn btn-rented" ng-show="bid.userId" ng-click="editMyBid(bid,property)">Edit My Offer</button>
        </div>
    </div>
</form>
