<div class="white-stripe" >
    <div class="container">
        <a go-back class="prev pull-left top-buffer">Back</a>
        <h1>How to Apply Online</h1>
        
    </div>
</div>

<div class="feature-stripe" style="background-color: #e5e5e5;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>1. Create your profile (online application)</h4>
                <div class="row">
                    <img src="assets/img/features/tenants/createprofile.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Include your contact, address, and move-in information</li>
                       <li>One application works for all properties</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-stripe" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>2. Apply for a property</h4>
                <div class="row">
                    <img src="assets/img/features/tenants/apply.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Find your property from your favorite search site (Craigslist, Lovely, etc.) or invite an owner</li>
                       <li>Share your desired move-in date and lease length</li>
                       <li>Press Apply and your application is submitted!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-stripe" style="background-color: #ededed;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>3. Complete credit check</h4>
                <div class="row">
                    <img src="assets/img/features/owners/credit-report.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Complete your Experian credit check</li>
                       <li>Your one credit report works across multiple properties</li>
                       <li>Enjoy all the time you just saved!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>