<div class="white-stripe" >
    <div class="container">
        <a go-back class="prev pull-left top-buffer">Back</a>
        <h1>How to Add a Property</h1>
        
    </div>
</div>

<div class="feature-stripe" style="background-color: #e5e5e5;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>1. Click on add property</h4>
                <div class="row">
                    <img src="assets/img/features/owners/addproperty.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Enter address and desired pricing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-stripe" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>2. Copy your unique property link</h4>
                <div class="row">
                    <img src="assets/img/features/owners/propertylink.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Allows you to send all tenants to the application page</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-stripe" style="background-color: #ededed;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>3. Advertise online and include your unique property link</h4>
                <div class="row">
                    <img src="assets/img/features/owners/advertise.png" class="col-sm-7 col-xs-12 img-responsive">
                    <ul class="col-sm-5 col-xs-12 list-unstyled">
                       <li>Include the property link in the description</li>
                       <li>Tenants can be asked to apply before or after they view the property</li>
                       <li>Compare applications side-by-side online!</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>