<div class="container">
<div class="block-content block-content-small-padding">
<div class="block-content-inner">
<div class="row">
<div class="col-sm-12">
<h2>Available Properties</h2>

<div class="property-rows">
    <div class="property-row" ng-repeat="(id, property) in properties">
        <div class="row">
            <div class="property-row-picture col-sm-6 col-md-6 col-lg-4">
                <div class="property-row-picture-inner">
                    <a href="#/property/{{id}}" class="property-row-picture-target">
                        <img src="assets/img/{{id}}/{{property.images[0]}}" alt="">
                    </a>

                    <div class="property-row-meta">
                        <div class="property-row-meta-item col-sm-3">
                            <strong>{{property.baths}}</strong>
                            <span>Baths</span>
                        </div><!-- /.col-sm-3 -->

                        <div class="property-row-meta-item col-sm-3">
                            <strong>{{property.beds}}</strong>
                            <span>Beds</span>
                        </div><!-- /.col-sm-3 -->

                        <div class="property-row-meta-item col-sm-3">
                            <strong>{{property.area}}</strong>
                            <span>Area</span>
                        </div><!-- /.col-sm-3 -->

                        <div class="property-row-meta-item col-sm-3">
                            <strong>{{property.garages}}</strong>
                            <span>Garages</span>
                        </div><!-- /.col-sm-3 -->
                    </div><!-- /.property-row-meta -->
                </div><!-- /.property-row-picture -->
            </div><!-- /.property-row-picture -->

            <div class="property-row-content col-sm-6 col-md-6 col-lg-8 col-md-6 col-lg-8">
                <h3 class="property-row-title">
                    <a href="#/property/{{id}}">{{property.address}}</a>
                </h3><!-- /.property-row-title -->

                <h4 class="property-row-subtitle">
                    <a href="#/property/{{id}}">{{property.city}}, {{property.state}} {{property.zip}}</a>
                </h4><!-- /.property-row-subtitle -->

                <div class="property-row-price"><span>Minimum Bid</span> $ {{property.rent}}</div><!-- /.property-row-price -->

                <p class="property-row-body" ng-bind-html="property.description">
                </p><!-- /.property-row-body -->
            </div><!-- /.property-row-content -->
        </div><!-- /.row -->
    </div><!-- /.property-row -->
</div><!-- /.property-rows -->

</div>
</div><!-- /.block-content-inner -->
</div><!-- /.block-content -->
</div><!-- /.container -->