<h5 ng-show="property.bids.length">Current Offers</h5>

<table class="table table-striped" ng-show="property.bids.length">
  <thead>
    <tr>
      <th>Price</th>
      <th>Move-In Date</th>
      <th>Lease Terms</th>
      <th>Pets</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bid in property.bids">
      <td>${{bid.rentAmount}}</td>
      <td>{{bid.moveInDate | date:'MM/dd/yyyy' | nvl}}</td>
      <td>{{bid.leaseTerm}} months</td>
      <td>{{bid.havePet ? 'yes' : 'no' }}</td>
    </tr>
  <tbody>
</table>
