<h5>Current Offers</h5>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Price</th>
      <th>Move-In Date</th>
      <th>Lease Terms</th>
      <th>Pets</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>$62662.00</td>
      <td>9/22/2014</td>
      <td>1 year</td>
      <td>2 dogs</td>
    </tr>
    <tr>
      <td>$62662.00</td>
      <td>9/22/2014</td>
      <td>2 year</td>
      <td>1 cat</td>
    </tr>
    <tr>
      <td>$62662.00</td>
      <td>9/22/2014</td>
      <td>4 year</td>
      <td>1 dog</td>
    </tr>
  <tbody>
</table>
