<div class="row" style="margin-top: 30px;">
  <div class="col-sm-7">
    <div class="property-detail-overview-item">
        <strong>Security Deposit:</strong>
        <span>{{property.securityDeposit | rentCurrency}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Pet Deposit:</strong>
        <span>{{property.pets.deposit | nvl}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Pets:</strong>
        <span ng-hide="property.pets.allowDogs||property.pets.allowCats||property.pets.allowOther">None</span>
        <span ng-show="property.pets.allowDogs">Dogs</span>
        <span ng-show="property.pets.allowCats">Cats</span>
        <span ng-show="property.pets.allowOther">{{property.pets.other}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Availability:</strong>
        <span>{{property.availableDate | nvl}}</span>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="property-detail-overview-item">
        <strong>Bedrooms:</strong>
        <span>{{property.bedrooms | nvl}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Baths:</strong>
        <span>{{property.bathrooms | nvl}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Parking:</strong>
        <span>{{property.parking | nvl}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Area:</strong>
        <span>{{property.area | nvl}} sq.ft.</span>
    </div>
  </div>
</div>

