<div class="row" style="margin-top: 30px;">
  <div class="col-sm-6">
    <div class="property-detail-overview-item">
        <strong>Security Deposit:</strong>
        <span>{{property.securityDeposit}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Pet Deposit:</strong>
        <span>{{property.petDeposit}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Pets:</strong>
        <span>{{property.pets}}</span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="property-detail-overview-item">
        <strong>Rooms:</strong>
        <span>{{property.rooms}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Baths:</strong>
        <span>{{property.baths}}</span>
    </div>
    <div class="property-detail-overview-item">
        <strong>Parking:</strong>
        <span>{{property.garages}}</span>
    </div>
  </div>
</div>

