    <h1>Ready to Apply</h1>

    <ol style="font-size: 24px;" class="bottom-buffer-xl">
        <li> Invite an owner
            <div class="input-group input-group-lg vertical-buffer">
              <input type="text" class="form-control" placeholder="owner@example.com, owner2@example.com" ng-model="inviteAddress">
              <span class="input-group-btn">
                <button class="btn btn-rented" type="button" ng-click="invite(inviteAddress)">Invite!</button>
              </span>
            </div><!-- /input-group --> 
        </li>
        <li>
            <a href="http://www.craigslist.org/about/sites#US" class="next" target="_blank">Visit Craigslist to Search</a>
        </li>
    </ol>
