body{
  font-family: "ProximaNova", sans-serif;
  color: #333333;
  font-size: 14px;
  /* background-color: #e8e8e8; */
}

/* ==========================================================================
Proxima Nova Regular
========================================================================== */
@font-face{
  font-family: "ProximaNova";
  src: url("../assets/fonts/ProximaNova/ProximaNovaReg.otf") format("opentype");
}

/* ==========================================================================
Proxima Nova Italics
========================================================================== */
@font-face{
  font-family: "ProximaNova";
  font-style: italic;
  src: url("../assets/fonts/ProximaNova/ProximaNovaBlackIt.otf") format("opentype");
}

/* ==========================================================================
Proxima Nova Bold
========================================================================== */
@font-face{
  font-family: "ProximaNova";
  font-weight: bold;
  src: url("../assets/fonts/ProximaNova/ProximaNovaBold.otf") format("opentype");
}

/* ==========================================================================
Proxima Nova Semi-Bold
========================================================================== */
@font-face{
  font-family: "ProximaNova";
  font-weight: 600;
  src: url("../assets/fonts/ProximaNova/ProximaNovaSbold.otf") format("opentype");
}

*, html, body {
  outline: 0;
  margin: 0;
  padding: 0;
  color: #666;
  font-family: "Proxima Nova","Helvetica", sans-serif;
}

body {
  background-color: #fff;
}

html, body {
  font-size: 16px;
  line-height: 1.5em;
  height: 100%;
  position: relative;
}

p, ul, ol {
  margin: 0;
}

label input, label select, label textarea {
  display: block;
  margin-top: 10px;
}

label + label {
  margin-top: 10px;
}

@media (min-width: 1200px) {
  html, body {
    font-size: 16px;
  }
}
@media (max-width: 960px) {
  html, body {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  html .login-header .left-content, html .login-header .right-content, body .login-header .left-content, body .login-header .right-content {
    width: 100%;
    display: block;
    text-align: center;
  }
  html .login-header .right-content, body .login-header .right-content {
    margin: 15px 0 0 0;
  }
}
@media (max-width: 640px) {
  html, body {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  html, body {
    font-size: 12px;
  }
}
.link {
  color: #f7953d;
  font-family: "Proxima Nova", sans-serif;
}
.link:hover {
  color: #f7953d;
  text-decoration: underline;
}

.link a{
  text-decoration: none;
}

.main {
  min-height: 100%;
  position: relative;
  background:linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(../../../assets/images/jumbotron/students.jpg);
  background-size: cover;
  padding-bottom: 50px;
  height: 800px;
}

.main-form {
  margin-top: 4em;
}
.main-form .lbl {
  display: block;
}
.main-form .lbl input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 2px #e4e4e4;
  padding: 10px 0;
  font-family: "Proxima Nova", sans-serif;
}
.main-form .lbl input:focus {
  border-color: #f7953d;
}
.main-form .lbl input.has-error {
  border-bottom: solid 2px #f64343;
}

.main-form .lbl:nth-of-type(n+2) {
  margin-top: 15px;
}
.main-form .options {
  margin-top: 2em;
  text-align: center;
}
.main-form .options .submit {
  width: 100%;
}
.main-form .options span, .main-form .options .link {
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}
.main-form .options .link {
  color: #333333;
}

.main-form-signup {

}
.main-form-signup .lbl {
  display: block;
}
.main-form-signup .lbl input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: solid 2px #e4e4e4;
  padding: 10px 0;
  font-family: "Proxima Nova", sans-serif;
}
.main-form-signup .lbl input:focus {
  border-color: #f7953d;
}
.main-form-signup .lbl input.has-error {
  border-bottom: solid 2px #f64343;
}

.main-form-signup .lbl:nth-of-type(n+2) {
  margin-top: 15px;
}
.main-form-signup .options {
  margin-top: 2em;
  text-align: center;
}
.main-form-signup .options .submit {
  width: 100%;
}
.main-form-signup .options span, .main-form-signup .options .link {
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}
.main-form-signup .options .link {
  color: #333333;
}

.btn, .lrg-btn, .small-btn {
  height: 40px;
  line-height: 40px;
  border-radius: 25px;
  font-family: "Proxima Nova", sans-serif;
  display: inline-block;
  border: none;
  color: #fff;
  padding: 0 25px;
}
.btn.btn-primary{
  background-color: #f7953d;
}

.btn:hover, .lrg-btn:hover, .small-btn:hover {
  background-color: #f7953d;
  color: #333333;
}
.btn:active, .lrg-btn:active, .small-btn:active {
  background-color: #333333;
  color: #fff;
}

.lrg-btn {
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  font-family: "Proxima Nova", sans-serif;
}

.small-btn {
  height: 30px;
  line-height: 30px;
}

.login-header {
  /*background: #55a5b2;*/
  /*background: -moz-linear-gradient(top,  #55a5b2 0%, #119bad 100%);*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55a5b2), color-stop(100%,#119bad));*/
  /*background: -webkit-linear-gradient(top,  #55a5b2 0%,#119bad 100%);*/
  /*background: -o-linear-gradient(top,  #55a5b2 0%,#119bad 100%);*/
  /*background: -ms-linear-gradient(top,  #55a5b2 0%,#119bad 100%);*/
  /*background: linear-gradient(to bottom,  #55a5b2 0%,#119bad 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a5b2', endColorstr='#119bad',GradientType=0 );*/

  background-image:linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(./../../../assets/images/jumbotron/nav.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 0;
}

.login-header .greetings {
  color: #fff;
}
.login-header .profile-image {
  height: 2.5em;
  border: 2px solid #fff;
  vertical-align: middle;
}

.login-header.transparent {
  background: transparent;
}
.login-header .container {
  display: table;
}
.login-header .left-content, .login-header .right-content {
  display: table-cell;
}
.login-header .left-content *, .login-header .right-content * {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.login-header .right-content {
  text-align: right;
}
.login-header .txt {
  color: #fff;
  margin-left: 10px;
  position: relative;
  top: .25em;
}
.login-header .sign-in {
  color: #fff;
  margin-right: 10px;
}
.login-header .sign-up {
  background-color: #fff;
  color: #333333;
  border: none;
}

.login-box {
  max-width: 550px;
  width: 100%;
  margin: 100px auto 0px auto;
  padding: 30px 50px !important;
}

.white-box-login {
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  box-shadow: none;
  position: relative;
}

.white-box-signup {
  margin-top: 15%;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  box-shadow: none;
  position: relative;
  float: right;
  width: 35%;
}

.text-box-landing {
  margin-top: 20%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: none;
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
  color: white;
}

.jumbotron .text-box-landing h1 {
  font-size: 3.4em;
}

.value-landing {
  margin-top: 20%;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  float: left;
  width: 50%;
  text-align: center;
  color: #333333;
}

.value-landing-desktop {
  padding: 20px;
  position: relative;
  float: right;
  width: 50%;
  height: 800px;
}

.value-landing-desktop img {
  height: 800px;
}

.value-landing-housing {
  margin-top: 3%;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  margin-left: 3%;
  color: #333333;
}

.value-landing-laptop {
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}

.value-landing-laptop img {
  height: 700px;
}

.login-box .social {
  margin-top: 30px;
  display: table;
  width: 100%;
}
.login-box .social .link {
  display: table-cell;
  width: 33.33%;
}
.login-box .social .link span {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-left: 31px;
  color: #e4e4e4;
  font-family: "Proxima Nova", sans-serif;
}
.login-box .social .link span:hover {
  color: #f7953d;
}
.login-box .social .link span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
}
.login-box .social .link.email span:before {
  background-image: url("../../../assets/images/icons/email.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-box .social .link.email span:hover:before {
  background-image: url("../../../assets/images/icons/email_hover.svg");
}
.login-box .social .link.fb {
  text-align: center;
}
.login-box .social .link.fb span:before {
  background-image: url("../../../assets/images/icons/facebook.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-box .social .link.fb span:hover:before {
  background-image: url("../../../assets/images/icons/facebook_hover.svg");
}
.login-box .social .link.google {
  text-align: right;
}
.login-box .social .link.google span:before {
  background-image: url("../../../assets/images/icons/google.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-box .social .link.google span:hover:before {
  background-image: url("../../../assets/images/icons/google_hover.svg");
}

.help-block{
  font-size:0.7em;
  color: #f64343;
}

/* iPhone 2G to 4S
-------------------------------------------------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .main-form .options .btn-rented-large {
    width: 200px;
  }

  .white-box-signup {
    float: none;
    width: 100%;
  }

  .jumbotron .text-box-landing {
    width: 100%;
  }

  .jumbotron .text-box-landing h1 {
    font-size: 2em;
  }

  .value-landing {
    float: none;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .value-landing-desktop {
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -300px;
  }

  .value-landing-desktop img {
    height: 30%;
  }

  .value-landing-housing {
    margin-left: 0px;
  }

  .value-landing-laptop {
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .value-landing-laptop img {
    height: 160px;
  }

}

/* iPhone 5/5S
-------------------------------------------------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

  .white-box-signup {
    margin-top: 250px;
    float: none;
    width: 100%;
  }

  .jumbotron .text-box-landing {
    width: 100%;
  }

  .jumbotron .text-box-landing h1 {
    font-size: 2em;
  }

  .value-landing {
    float: none;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .value-landing-desktop {
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -400px;
    text-align: center;
  }

  .value-landing-desktop img {
    height: 30%;
  }

  .value-landing-housing {
    margin-left: 0px;
  }

  .value-landing-laptop {
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .value-landing-laptop img {
    height: 160px;
  }

}

/* iPhone 6
-------------------------------------------------- */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  .white-box-signup {
    margin-top: 250px;
    float: none;
    width: 100%;
  }

  .jumbotron .text-box-landing {
    width: 100%;
    margin-top: 50px;
  }

  .jumbotron .text-box-landing h1 {
    font-size: 2.2em;
  }

  .value-landing {
    float: none;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .value-landing-desktop {
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -400px;
    text-align: center;
  }

  .value-landing-desktop img {
    height: 30%;
  }

  .value-landing-housing {
    margin-left: 0px;
  }

  .value-landing-laptop {
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .value-landing-laptop img {
    height: 185px;
  }

}

/* iPhone 6 Plus
-------------------------------------------------- */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {

  .white-box-signup {
    margin-top: 250px;
    float: none;
    width: 100%;
  }

  .jumbotron .text-box-landing {
    width: 100%;
    margin-top: 50px;
  }

  .jumbotron .text-box-landing h1 {
    font-size: 2.2em;
  }

  .value-landing {
    float: none;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }

  .value-landing-desktop {
    float: none;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -400px;
    text-align: center;
  }

  .value-landing-desktop img {
    height: 40%;
  }

  .value-landing-housing {
    margin-left: 0px;
  }

  .value-landing-laptop {
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .value-landing-laptop img {
    height: 207px;
  }

}

/* iPad and iPad-Mini (all gen)
-------------------------------------------------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

  .white-box-signup {
    margin-top: 150px;
    width: 45%;
  }

  .jumbotron .text-box-landing h1 {
    margin-top: 35%;
  }

  .jumbotron .text-box-landing h1 {
    font-size: 2.5em;
  }

  .value-landing {
    margin-top: 20%;
    text-align: center;
  }

  .value-landing-desktop {
    margin-top: 0px;
    margin-bottom: -400px;
    text-align: center;
  }

  .value-landing-desktop img {
    height: 70%;
  }

  .value-landing-housing {
    margin-left: 0px;
  }

  .value-landing-laptop {
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .value-landing-laptop img {
    height: 384px;
  }

}

/* Large desktop monitors
-------------------------------------------------- */
@media (min-device-width: 1500px) {

  .value-landing-desktop {
    margin-right: -10%;
  }

}
