<div class="main">
  <div ng-include="'components/layout/navbar/navbar.html'"></div>
  <section class="login-box white-box">
    <h2 class="heading">Login with...</h2>

    <article class="social">
      <a class="link email"><span>Email</span></a>
      <a class="link fb" ng-click="loginOauth('facebook')"><span>Facebook</span></a>
      <a class="link google" ng-click="loginOauth('google')"><span>Google+</span></a>
    </article>

    <form class="main-form" name="form" ng-submit="login(form)" novalidate>

      <label class="lbl">
        <input id="email" type="email" name="email" ng-model="user.email" placeholder="Email address (.edu required)" required>
      </label>

      <label class="lbl">
        <input type="password" name="password" id="password" ng-model="user.password" required placeholder="Password">
      </label>

      <div class="options">
        <input type="submit" value="Sign me in!" class="lrg-btn submit" ui-sref=".signup">
        <span>Don't have an account? <a class="link" ui-sref="signup">Sign up</a></span>
      </div>

    </form>
  </section>
</div>
