<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper">

  <div class="container">

    <div class="rooms">

      <div class="row">
        <div class="page-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h2>Available Housing <small ng-if="rooms.availableRooms.length < 64">({{rooms.availableRooms.length}} posts)</small><a class="btn btn-primary pull-right" ui-sref="addRoom">Post Housing</a></h2>
        </div>
      </div>

      <div class="row searchAndSortBox" ng-if="rooms.education.universityId">

        <!-- Search -->

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-show="!rooms.showSearch">
          <button class="btn-rented-medium secondary" ng-click="rooms.showSearch=!rooms.showSearch" ng-show="!rooms.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Search</button>
          <button class="btn-rented-medium secondary" ng-click="rooms.showSearch=!rooms.showSearch" ng-show="rooms.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Close</button>
          <button style="margin-top: 5px" class="btn-rented-small reset" id="search" name="search" ng-click="rooms.clearSearchAndSearch(false)">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="rooms.showSearch">
          <button class="btn-rented-medium secondary" ng-click="rooms.showSearch=!rooms.showSearch" ng-show="!rooms.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Search</button>
          <button class="btn-rented-medium secondary" ng-click="rooms.showSearch=!rooms.showSearch" ng-show="rooms.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Close</button>
          <button style="margin-top: 5px" class="btn-rented-small reset" id="search" name="search" ng-click="rooms.clearSearchAndSearch(false)">Reset</button>
          <div ng-include=" 'app/rooms/searchCriteria.html' "></div>
        </div>
        <!-- Sort -->

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 sortBox" ng-show="!rooms.showSearch">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
            <select style="margin-top: -2px" id="sortBy" class="form-control" ng-model="rooms.sortBy">
              <option value="" disabled>Sort by</option>
              <option value="createdAt">Posting date</option>
              <option value="monthlyPrice">Price</option>
              <option value="availableMoveIn">Move-in date</option>
              <option value="distanceToMyUniversity" ng-if="rooms.education.universityId">Dist. to Campus</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <input type="radio" name="sortOrder" value="ascending" ng-model="rooms.sortOrder">&nbsp;<i class="fa fa-arrow-up"></i></input>
            <input type="radio" name="sortOrder" value="descending" ng-model="rooms.sortOrder">&nbsp;<i class="fa fa-arrow-down"></i></input>
            <button class="btn-rented-small secondary" id="sort" name="sort" ng-click="rooms.search(false)">Sort</button>
          </div>
        </div>
      </div> <!-- end search and sort -->

      <!-- Main room view -->

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="!rooms.education.universityId && rooms.initialized">
        <h3>Please set your <a ui-sref="editProfile({focus:'updateEducation'})">university</a> to see available rooms</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="rooms.education.universityId">
          <slick dots="true" class="slider" init-onload="true" data="rooms.groups" slides-to-show="1" slides-to-scroll="1" >
            <div ng-repeat="group in rooms.groups" class="row">
              <!--ng-if="room.roomDetails.creatorId!==rooms.me.id" to not show own user room listings-->
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 room" ng-repeat="room in group">
                <div class="flip-container-room">
                  <div class="flipper">
                    <div class="front white-box">
                      <!--walk around - user need to click on front side because with flipper off there is no back side -->
                      <a ui-sref="roomDetail({param: room.roomDetails.id, allIds:rooms.allIds})" style="text-decoration: none">
                      <div class="picture safariFix">
                        <img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?center={{room.propertyDetails.coords.latitude}},{{room.propertyDetails.coords.longitude}}&zoom=14&scale=2&size=400x250&markers=color:blue%7C{{room.propertyDetails.coords.latitude}},{{room.propertyDetails.coords.longitude}}&key=AIzaSyAm7woOFr0TOKG0U7jsBF5K3LSifdDjgfs">
                      </div>
                      <div class="info">
                        <strong class="value">
                          {{room.roomDetails.monthlyPrice | currency}} / mo.
                        </strong>
                      </div>
                      <ul class="specs">
                        <li><i class="fa fa-bigBed"></i>&nbsp;&nbsp;{{room.roomDetails.roomType}}</li>
                        <li><i class="fa fa-shower"></i>&nbsp;&nbsp;{{room.roomDetails.sharedBathroom ? "Shared" : "Private"}} bathroom</li>
                        <li ng-show="room.roomDetails.numRoomates > 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetails.numRoomates}} roommates + You</li>
                        <li ng-show="room.roomDetails.numRoomates == 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetails.numRoomates}} roommate + You</li>
                        <li><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;{{room.roomDetails.gender}}</li>
                        <li><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{room.roomDetails.availableMoveIn | date }}</li>
                        <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{room.roomDetails.leaseType}}</li>
                        <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{room.propertyDetails.city}}</li>
                      </ul>
                      </a>
                    </div>
                    <div class="back">
                      <a ui-sref="roomDetail({param: room.roomDetails.id, allIds:rooms.allIds})"> <h2>View Detail</h2> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </slick>
        </div>

      </div>


      </div>
    </div>
  </div> <!-- end container -->
</div> <!-- end main wrapper -->
