<div class="container">
    <ul class="nav navbar-nav navbar-user">
       <!--li><a href="#/tenants/on-boarding" class="first" ng-class="isActive('/tenants/on-boarding')">On Boarding</a></li-->
       <li><a href="#/tenants/dashboard" ng-class="isActive('/tenants/dashboard')">My Dashboard</a></li>
       <li><a href="#/tenants/properties" ng-class="isActive('/tenants/properties')">My Properties</a></li>
       <li><a href="#/tenants/myprofile" ng-class="isActive('/tenants/myprofile')">My Profile</a></li>
       <li><a href="#/tenants/invite-owner" ng-class="isActive('/tenants/invite-owner')">Invite Owner</a></li>
        <li><a href="#/tenants/doc-center" ng-class="isActive('/tenants/doc-center')">Document Center</a></li>
    </ul>
</div>
