<fieldset class="required">
   <legend>References</legend>

   <div class="row">
       <div class="col-sm-12">
           <div class="form-group">
               <label class="col-sm-12 control-label">Current Owner or Property Manager</label>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Name</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.currentOwner.name" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Phone</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="tel" ng-model="profile.currentOwner.phone" ui-mask="999.999.9999" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">E-mail</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="email" ng-model="profile.currentOwner.email" required>
               </div>
           </div>
       </div>
   </div>
   
   <div class="row">
       <div class="col-sm-12">
           <div class="form-group">
               <label class="col-sm-12 control-label">Past Owner or Property Manager</label>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Name</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.pastOwner.name" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Phone</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="tel" ng-model="profile.pastOwner.phone" ui-mask="999.999.9999" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">E-mail</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="email" ng-model="profile.pastOwner.email" required>
               </div>
           </div>
       </div>
   </div>
   
   <div class="row">
       <div class="col-sm-12">
           <div class="form-group">
               <label class="col-sm-12 control-label">Personal Reference</label>
           </div>
       </div>
   </div>
   <div class="row">
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Name</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.personal.name" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">Phone</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="tel" ng-model="profile.personal.phone" ui-mask="999.999.9999" required>
               </div>
           </div>
       </div>
       <div class="col-sm-4">
           <div class="form-group">
               <label class="col-sm-4 control-label">E-mail</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="email" ng-model="profile.personal.email" required>
               </div>
           </div>
       </div>
   </div>
   
</fieldset>

<fieldset class="fieldset-required">
   <legend>Emergency Contact</legend>

   <div class="row">
       <div class="col-sm-6">
           <div class="form-group">
               <label class="col-sm-4 control-label">Contact Info</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="tel" ng-model="profile.emergencyPhone" ui-mask="999.999.9999" required>
               </div>
           </div>
       </div>
   </div>

</fieldset>

<fieldset>
   <legend>Vehicle Details</legend>

   <div class="row">
       <div class="col-sm-3">
           <div class="form-group">
               <label class="col-sm-4 control-label">Year</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="number" ng-model="profile.vehicle.year" required>
               </div>
           </div>
       </div>
       <div class="col-sm-3">
           <div class="form-group">
               <label class="col-sm-4 control-label">Make</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.vehicle.make" required>
               </div>
           </div>
       </div>
       <div class="col-sm-3">
           <div class="form-group">
               <label class="col-sm-4 control-label">Model</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.vehicle.model" required>
               </div>
           </div>
       </div>
       <div class="col-sm-3">
           <div class="form-group">
               <label class="col-sm-4 control-label">Vehicle</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.vehicle.vehicle" required>
               </div>
           </div>
       </div>
   </div>

</fieldset>

<fieldset class="fieldset-required">
   <legend>Occupation</legend>

   <div class="row">
       <div class="col-sm-6">
           <div class="form-group">
               <label class="col-sm-4 control-label">Job Title</label>
               <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" ng-model="profile.jobTitle" required>
               </div>
           </div>
       </div>
       <!--div class="col-sm-6">
            <button class="btn btn-rented">CONNECT <strong>LINKEDIN</strong></button>
       </div-->
   </div>

</fieldset>
