    <form name="profileForm" method="post" class="form-horizontal bottom-buffer-xl button-container" ng-controller="TenantProfileCtrl" ng-class="{ 'show-errors': showErrors }">

        <div class="buttons">
           <button type="button" class="btn btn-rented right-buffer" ng-click="save(profile)">Save</button>
           <a ng-click="page=1" class="prev" ng-class="{ active: page==1 }">1</a>
           <a ng-click="page=2" class="next" ng-class="{ active: page==2 }">2</a>
        </div>

        <h1 ng-hide="onBoarding">My Profile {{page==2 ? 'Cont' : ''}}</h1>
        <h1 ng-show="onBoarding">Your Profile {{page==2 ? 'Cont' : ''}}</h1>

        <div ng-include="'tenant/partials/profile-page-1.tpl.html'" ng-show="page==1">
        </div>

        <div ng-include="'tenant/partials/profile-page-2.tpl.html'" ng-show="page==2">
        </div>

    </form>

