<div class="container">
    <div class="block-content fullwidth background-secondary background-map clearfix">
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="block-content-inner row">
                <div class="homepage-feature col-xs-12">
                    <div class="feature-icon col-xs-2 col-sm-2">
                        <div class="feature-icon-inner">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <!-- /.feature-icon-inner -->
                    </div>
                    <!-- /.feature-icon -->
                    <div class="col-xs-10 col-sm-10">
                        <h2 class="homepage-feature-title">Schedule a Visit</h2>

                        <div class="homepage-feature-body">
                            Visit properties during open house or schedule a private tour.
                        </div>
                    </div>
                    <!-- /.feature-content -->
                </div>
            </div>
            <div class="block-content-inner row">
                <div class="homepage-feature col-xs-12">
                    <div class="feature-icon col-xs-2 col-sm-2">
                        <div class="feature-icon-inner">
                            <i class="fa fa-money"></i>
                        </div>
                        <!-- /.feature-icon-inner -->
                    </div>
                    <!-- /.feature-icon -->

                    <div class="col-xs-10 col-sm-10">
                        <h2 class="homepage-feature-title">Name your Rent&trade;</h2>

                        <div class="homepage-feature-body">
                            Submit your best rent offer on our site.
                        </div>
                    </div>
                    <!-- /.feature-content -->
                </div>
            </div>
            <div class="block-content-inner row">
                <div class="homepage-feature col-xs-12">
                    <div class="feature-icon col-xs-2 col-sm-2">
                        <div class="feature-icon-inner">
                            <i class="fa fa-file-text"></i>
                        </div>
                        <!-- /.feature-icon-inner -->
                    </div>
                    <!-- /.feature-icon -->

                    <div class="col-xs-10 col-sm-10">
                        <h2 class="homepage-feature-title">Sign the Papers</h2>

                        <div class="homepage-feature-body">
                            Sign your lease with ease.
                        </div>
                    </div>
                    <!-- /.feature-content -->
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="property-box homepage-property-box">
                <div class="property-box-inner">
                    <h4 class="property-box-title homepage-property-box-title"><a href="#/property/{{id}}">{{property.address}}</a>
                    </h4>
                    <h4 class="property-box-subtitle homepage-property-box-subtitle"><a href="#/property/{{id}}">{{property.city}}
                        {{property.state}}</a>
                    </h4>

                    <div class="property-box-label">Live</div>
                    <!-- /.property-box-label -->
                    <div class="property-box-picture">
                        <div class="property-box-price">Starting Offer ${{property.rent}}</div>
                        <!-- /.property-box-price -->
                        <div class="property-box-picture-inner">
                            <a href="#/property/{{id}}" class="property-box-picture-target">
                                <img src="assets/img/{{id}}/{{property.images[1]}}" alt="">
                            </a><!-- /.property-box-picture-target -->
                        </div>
                        <!-- /.property-picture-inner -->
                    </div>
                    <!-- /.property-picture -->
                    <div class="property-box-meta">

                        <!-- /.col-sm-3 -->
                        <div class="property-box-meta-item col-xs-3 col-sm-3">
                            <strong>{{property.beds}}</strong>
                            <span>Beds</span>
                        </div>
                        <div class="property-box-meta-item col-xs-3 col-sm-3">
                            <strong>{{property.baths}}</strong>
                            <span>Baths</span>
                        </div>
                        <!-- /.col-sm-3 -->
                        <div class="property-box-meta-item col-xs-3 col-sm-3">
                            <strong>{{property.area}}</strong>
                            <span>Area</span>
                        </div>
                        <!-- /.col-sm-3 -->
                        <div class="property-box-meta-item col-xs-3 col-sm-3">
                            <strong>{{property.garages}}</strong>
                            <span>Garages</span>
                        </div>
                        <!-- /.col-sm-3 -->
                    </div>
                    <!-- /.property-box-meta -->
                </div>
                <!-- /.property-box-inner -->
            </div>
        </div>
    </div>
    <hr style="visibility: hidden"/>
    <div class="homepage-block-content fullwidth clearfix">
        <div class="block-content-inner row">
            <div class="col-xs-12 col-md-7">
                <h2>Schedule a Visit</h2>
                <ul class="homepage-feature-list list-unstyled">
                    <li>
                        <i class="fa fa-eye"></i> See the property that could be your future
                        home.
                    </li>
                    <li>
                        <i class="fa fa-home"></i> Attend the open house.
                    </li>
                    <li>
                        <i class="fa fa-calendar"></i> Schedule an appointment with the landlord or
                        leasing agent.
                    </li>
                </ul>
            </div>
            <img class="col-xs-12 col-md-5" src="assets/img/FeatureImages/for-rent.jpg"/>
        </div>
    </div>
    <hr/>
    <div class="homepage-block-content fullwidth clearfix">
        <div class="block-content-inner row">
            <img class="col-xs-12 col-md-3" src="assets/img/FeatureImages/nameyourrent.png"/>
            <div class="col-xs-12 col-md-7 col-md-offset-2">
                <h2>Name Your Rent&trade;</h2>
                <ul class="homepage-feature-list list-unstyled">
                    <li>
                        <i class="fa fa-money"></i> Offer the rent you are willing to pay.
                    </li>
                    <li>
                        <i class="fa fa-truck"></i> Tell us when you can move-in.
                    </li>
                    <li>
                        <i class="fa fa-calendar"></i> Pick how long you want to stay
                        (month-to-month OR lease length).
                    </li>
                    <li>
                        <i class="fa fa-paw"></i> Pets are welcome at selected properties.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="homepage-block-content fullwidth clearfix">
        <div class="block-content-inner row">
            <div class="col-xs-12 col-md-7">
                <h2>Sign the Papers</h2>
                <ul class="homepage-feature-list list-unstyled">
                    <li>
                        <i class="fa fa-ban"></i> No application or credit check fee!
                    </li>
                    <li>
                        <i class="fa fa-pencil-square-o "></i> Complete your application in-person or online
                        after your offer is accepted.
                    </li>
                    <li>
                        <i class="fa fa-suitcase"></i> Prepare to move.
                        leasing agent.
                    </li>
                </ul>
            </div>
            <img class="col-xs-12 col-md-5" src="assets/img/FeatureImages/lease.jpg"/>
        </div>
    </div>
</div>