<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper">
  <div class="container lookings">
    <div class="row">
      <div class="page-header col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Students Looking<a  class="btn btn-primary pull-right" ui-sref="addNewLooking" ui-sref-opts="{reload:true}">Post Looking</a></h2>
      </div>
    </div>
      <div class="row searchAndSortBox" ng-if="looking.education.universityId">

        <!-- Search -->

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-show="!looking.showSearch">
          <button class="btn-rented-medium secondary" ng-click="looking.showSearch=!looking.showSearch" ng-show="!looking.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Search</button>
          <button class="btn-rented-medium secondary" ng-click="looking.showSearch=!looking.showSearch" ng-show="looking.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Close</button>
          <button style="margin-top: 5px" class="btn-rented-small reset" id="search" name="search" ng-click="looking.clearSearchAndSearch(false)">Reset</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="looking.showSearch">
          <button class="btn-rented-medium secondary" ng-click="looking.showSearch=!looking.showSearch" ng-show="!looking.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Search</button>
          <button class="btn-rented-medium secondary" ng-click="looking.showSearch=!looking.showSearch" ng-show="looking.showSearch"><i style="color: #ffffff" class="fa fa-search-plus fa-lg"></i>&nbsp;&nbsp;Close</button>
          <button style="margin-top: 5px" class="btn-rented-small reset" id="search" name="search" ng-click="looking.clearSearchAndSearch(false)">Reset</button>
          <div ng-include=" 'app/dashboard/looking/searchCriteria.html' "></div>
        </div>

        <!-- Sort -->

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 sortBox" ng-show="!looking.showSearch">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
            <select style="margin-top: -2px" id="sortBy" class="form-control" ng-model="looking.sortBy">
              <option value="createdAt">Posting date</option>
              <option value="maxMonthlyRent">Max monthly rent</option>
              <option value="moveInDate">Move-in date</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <input type="radio" name="sortOrder" value="ascending" ng-model="looking.sortOrder"/>&nbsp;<i class="fa fa-arrow-up"></i>
            <input type="radio" name="sortOrder" value="descending" ng-model="looking.sortOrder"/>&nbsp;<i class="fa fa-arrow-down"></i>
            <button class="btn-rented-small secondary" id="sort" name="sort" ng-click="looking.search(false)">Sort</button>
          </div>
        </div>
      </div> <!-- end search and sort -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="!looking.education.universityId && looking.initialized">
         <h3>Please set your <a ui-sref="editProfile({focus:'updateEducation'})">university</a> to see students looking</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <slick dots="true" class="slider" init-onload="true" data="looking.groups" slides-to-show="1" slides-to-scroll="1" ng-if="looking.lookings.length && looking.education.universityId">
        <!--ng-if="look.relatedUserId.id!==looking.me.id" dont use temporary (splicing them on backed)-->
        <div ng-repeat="group in looking.groups" class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 looking" ng-repeat="look in group">
            <div class="flip-container">
              <div class="flipper">
                <div class="front white-box">
                  <a ui-sref="lookingDetail({param:look.id, allIds:looking.allIds})" style="text-decoration: none">
                  <div class="center-image">
                    <img ng-if="look.relatedUserId.profileImage" ng-src="api/images{{look.relatedUserId.profileImage}}" class="img-circle center-block looking-grid-profile-img">
                    <i ng-if="!look.relatedUserId.profileImage" class="fa fa-user fa-4x"></i>
                  </div>
                  <h4>{{look.relatedUserId.firstname}} {{look.relatedUserId.lastname}}</h4>
                  <p class="quoteLooking text-container-looking-view" ng-if="look.relatedUserId.aboutMe">{{look.relatedUserId.aboutMe}}</p>
                  <p class="quoteLooking text-container-looking-view" ng-if="!look.relatedUserId.aboutMe">No description available</p>
                  <hr>
                  <ul class="specs">
                    <li ng-if="look.relatedUserId.usereducationUsers[0].relatedUniversityId.shortName"> <i class="fa fa-building fa-lg"></i>&nbsp;&nbsp;{{look.relatedUserId.usereducationUsers[0].relatedUniversityId.shortName}}</li>
                    <li ng-if="!look.relatedUserId.usereducationUsers[0].relatedUniversityId.shortName"> <i class="fa fa-building fa-lg"></i>&nbsp;&nbsp;N/A</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{look.moveInDate | date}}</li>
                    <li><i class="fa fa-tag"></i>&nbsp;&nbsp;{{look.maxMonthlyRent | currency}} / mo.</li>
                    <li><i class="fa fa-bigBed"></i>&nbsp;&nbsp;{{look.roomType}}</li>
                    <li><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;{{look.gender}}</li>
                  </ul>
                  </a>
                </div>
                <div class="back">
                  <a ui-sref="lookingDetail({param:look.id, allIds:looking.allIds})"> <h2>View</h2> </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        </slick>
      </div>
    </div>
  </div>
</div>
