<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="row white-box searchBox" ng-show="looking.showSearch">

    <!--start of first col 4-->
    <div class="col-md-4">

      <!-- User university -->

      <div class="row">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-building fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="searchByCampus">Search by campus</label><br/>
          <select id="searchByCampus" class="form-control" required name="searchByCampus"
                  data-ng-model="looking.univCriteria.shortName"
                  data-ng-options="university as university.shortName for university in looking.universitiesList">
          </select>
        </div>
      </div>

      <!-- Monthly rent -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-tag  fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="maxMonthlyRent">Max Monthly Rent ($)</label>
          <input type="number" id="maxMonthlyRent" name="maxMonthlyRent"  class="form-control"
                 placeholder="e.x. 750" ng-model="looking.searchCriteria.maxMonthlyRent">
        </div>
      </div>

      <!-- Number of roommates -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-users fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="numRoommates">Max roommates</label>
          <input type="number" id="numRoommates"  name="numRoommates" class="form-control"
                 ng-model="looking.searchCriteria.numRoommates" min="1" max="10"/>
        </div>
      </div>

      <!-- Meet New Roommates -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-user-plus fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="furnished">Meet New Roommates?</label>
          <select id="furnished"  name="furnished" class="form-control"
                  ng-model="looking.searchCriteria.openToFullYearLeaseNewRoomates">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

    </div>

    <!--start of second col 4-->
    <div class="col-md-4">

      <!-- Gender preference -->

      <div class="row">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-venus-mars fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="gender">Gender preference</label>
          <select id="gender" class="form-control" ng-model="looking.searchCriteria.gender" >
            <option value="no preference">No preference</option>
            <option value="male only">Male only</option>
            <option value="female only">Female only</option>
          </select>
        </div>
      </div>

      <!-- Shared bathroom -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-shower fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="sharedBathroom">Shared Bathroom?</label>
          <select id="sharedBathroom"  name="sharedBathroom" class="form-control"
                  ng-model="looking.searchCriteria.sharedBathroom">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Room type -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-bigBed fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="roomType">Room type</label>
          <select id="roomType" class="form-control" ng-model="looking.searchCriteria.roomType" >
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="living room">Living room</option>
          </select>
        </div>
      </div>

      <!-- Furnished -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-desk fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="furnished">Furnished?</label>
          <select id="furnished"  name="furnished" class="form-control"
                  ng-model="looking.searchCriteria.furnished">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

    </div>


    <!--start of third col 4-->
    <div class="col-md-4">

      <!-- Utilities included -->

      <div class="row">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-bar-chart fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="utilitiesIncluded">Utilities included?</label>
          <select id="utilitiesIncluded"  name="utilitiesIncluded" class="form-control"
                  ng-model="looking.searchCriteria.utilitiesIncluded">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Pets Allowed -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-pet fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="petsAllowed">Pets allowed?</label>
          <select id="petsAllowed"  name="petsAllowed" class="form-control"
                  ng-model="looking.searchCriteria.petsAllowed">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Parking Allowed -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-car fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="parkingNeeded">Parking needed</label>
          <select id="parkingNeeded"  name="parkingNeeded" class="form-control"
                  ng-model="looking.searchCriteria.parkingNeeded">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- Smoking -->

      <div class="row post-padding">
        <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
          <div class="post-bubble">
            <i class="fa fa-smoking fa-lg"></i>
          </div>
        </div>
        <div class="col-xs-9 col-sm-7 input-post">
          <label for="smokingAllowed">Smoking allowed?</label>
          <select id="smokingAllowed"  name="smokingAllowed" class="form-control"
                  ng-model="looking.searchCriteria.smokingAllowed">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
      </div>

      <!-- end of 3 columns for room search criteria -->

      <div class="row post-padding" style="text-align: center; margin-top: 20px">
        <button class="btn-rented-medium primary" id="search" name="search" ng-click="looking.search(false)">Search</button>
        <button class="btn-rented-small reset" id="search" name="search" ng-click="looking.clearSearch(true)">Clear</button>
      </div>

    </div>
  </div>
</div>
