<div class="row" style="padding: 0;">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 back-link" style="cursor: pointer;">
    <a ng-click="detail.previous()" ng-hide="currentRoom==0"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</a>
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 back-link pull-right" style="text-align: right;cursor: pointer;">
    <a ng-click="detail.next()" ng-hide="currentRoom==(detail.allIds.length-1)">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
  </div>
</div>


<h2 style="clear:both;">{{detail.lookingDetail.relatedUserId.firstname}}'s profile
  <small class="pull-right" ng-if="detail.me.id == detail.lookingDetail.userId">
    <a class="new-bubble pull-right" style="height: 1.8em; width: 1.8em; padding-top: 6px" ui-sref="editLooking({id:detail.lookingDetail.id})" ui-sref-opts="{reload:true}">
      <i class="fa fa-pencil"></i></a>
  </small>
</h2>

<!-- Info about the user -->

<div class="white-box">
  <div class="row about-me lookingDetails">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="row">

        <!-- User's profile image -->

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
          <div class="picture text-center">
            <img ng-if="detail.lookingDetail.relatedUserId.profileImage" ng-src="api/images{{detail.lookingDetail.relatedUserId.profileImage}}" class="img-circle center-block looking-profile-img">
            <i ng-if="!detail.lookingDetail.relatedUserId.profileImage" class="fa fa-user fa-5x"></i>
          </div>
        </div>

        <!-- User's public info -->

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">

          <dl class="specs">
            <dt>Name:&nbsp;&nbsp;</dt>
            <dd>{{detail.lookingDetail.relatedUserId.firstname}} {{detail.lookingDetail.relatedUserId.lastname}} </dd>

            <dt>University/College:&nbsp;&nbsp;</dt>
            <dd ng-show="detail.lookingDetail.relatedUserId.usereducationUsers[0].educationCenterName">{{detail.lookingDetail.relatedUserId.usereducationUsers[0].educationCenterName}}</dd>
            <dd ng-hide="detail.lookingDetail.relatedUserId.usereducationUsers[0].educationCenterName">No university entered</dd>

            <dt>Graduation Year:&nbsp;&nbsp;</dt>
            <dd ng-show="detail.lookingDetail.relatedUserId.usereducationUsers[0].graduationDate">{{detail.lookingDetail.relatedUserId.usereducationUsers[0].graduationDate | date:'yyyy'}}</dd>
            <dd ng-hide="detail.lookingDetail.relatedUserId.usereducationUsers[0].graduationDate">N/A</dd>

            <dt>Major:&nbsp;&nbsp;</dt>
            <dd ng-show="detail.lookingDetail.relatedUserId.usereducationUsers[0].major">{{detail.lookingDetail.relatedUserId.usereducationUsers[0].major}}</dd>
            <dd ng-hide="detail.lookingDetail.relatedUserId.usereducationUsers[0].major">N/A</dd>

            <dt>Looking to meet new roommates:&nbsp;&nbsp;</dt>
            <dd>{{detail.lookingDetail.openToFullYearLeaseNewRoomates?'Yes':'No'}}</dd>

          </dl>

        </div>

      </div>

      <div class="row">

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
          <dl class="specs">
            <dt>About Me</dt><br>
            <dd ng-show="detail.lookingDetail.relatedUserId.aboutMe"> <h3> "{{detail.lookingDetail.relatedUserId.aboutMe}}" </h3> </dd>
            <dd ng-hide="detail.lookingDetail.relatedUserId.aboutMe"> <h3> No description available </h3> </dd>
          </dl>
        </div>

      </div>

    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
      <a id="email" style="margin-left:20px; position: relative;" class="pull-right" ng-href="mailto:{{detail.lookingDetail.relatedUserId.email}}?subject=Interested%20in%20your%20looking%20post&body=Hi%20{{detail.lookingDetail.relatedUserId.firstname}}%2C%0A%0A%0A%0AThanks%2C%0A{{detail.me.firstname}}%0Ahttps://campusly.org/lookingDetail/{{detail.lookingDetail.id}}/of/{{detail.lookingDetail.id}}">
        <i class="fa fa-send contact-bubble-email"></i><p style="float: right; padding-top: 10px">&nbsp;&nbsp;{{detail.lookingDetail.relatedUserId.email}}</p></a>
      <script type="text/javascript">
        mixpanel.track_links("#email", "Email sent - looking");
        mixpanel.people.increment('Email sent - looking');
      </script>
      <a id="facebookPM" style="margin-left:20px; position: relative;" ng-if="detail.lookingDetail.relatedUserId.facebook" class="pull-right" ng-href="{{detail.lookingDetail.relatedUserId.facebook}}" target="_blank">
        <i style="color: #ffffff" class="fa fa-facebook contact-bubble-facebook"></i><p style="float: right; padding-top: 10px">&nbsp;&nbsp;PM</p></a>
      <script type="text/javascript" ng-if="detail.lookingDetail.relatedUserId.facebook">
        mixpanel.track_links("#facebookPM", "Facebook PM sent - looking");
        mixpanel.people.increment('Facebook PM sent - available room');
      </script>
    </div>
  </div>
</div>
