<header class="login-header" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="left-content">
      <a href="/" ng-if="!isLoggedIn()">
        <img src="../../../assets/images/webname.svg" alt="campusly" >
      </a>
      <a ui-sref="dashboard" ng-if="isLoggedIn()">
        <img src="../../../assets/images/webname.svg" alt="campusly" >
      </a>
    </div>

    <div class="right-content">
      <div id="logged" ng-if="isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <i ui-sref="settings" id="settings" class="fa fa-cog" ng-class="{'fa-spin':hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>
        <img class="img-circle profile-image" ng-if="getCurrentUser().profileImage" ng-src="/api/images{{getCurrentUser().profileImage}}">
        <i ng-if="!getCurrentUser().profileImage" class="fa fa-user fa-2x greetings" style="vertical-align: middle; "></i>
        <p id="greetings" class="greetings">&nbsp;{{getCurrentUser().firstname}}</p>
        <a class="new-bubble" ui-sref-active="active" ui-sref="logout"><i class="fa fa-sign-out" style="cursor: pointer"></i></a>
      </div>

      <div id="notLogged"  ng-if="!isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <a ui-sref-active="active" ui-sref="login" ui-sref-opts="{reload:true, notify:true}" class="btn sign-up">Sign In</a>
      </div>
    </div>
  </div>

</header>

<div ng-include="'components/layout/navbar/sub-navbar.html'" ng-if="isLoggedIn()"></div>

<div class="main-wrapper">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h2>Mission</h2>

        <div class="row text-center">
          <h3>
            Ensure students get the most out of their college or university experience
          </h3>

          <h3>
            Enable colleges and universities to increase student engagement, retention, and graduation rates
          </h3>
        </div>

        <h2>Story</h2>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p style="padding-bottom: 20px">
            We started the company in May 2014 to help renters find housing. Over time we found that we can do much more! <br>
            After talking to many students, property owners, property managers, and universities we discovered that off-campus housing plays a critical role in student success.
            Let's give back and build a strong foundation for the future together!
          </p>
        </div>

        <h2 class="section-title">Team</h2>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/vinit.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Vinit Modi</li>
              <li>UCSD</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/joel.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Joel Rosenberg</li>
              <li>UCSB and SCU</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/kristen.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Kristen Llyod</li>
              <li>UCSD</li>
            </ul>
          </div>
        </div>

        <div class="row text-center post-padding">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/michelle.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Michelle Chen</li>
              <li>SJSU</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/tawan.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Tawan Suttamitr</li>
              <li>SJSU</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/cisco.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Francisco Sandoval</li>
              <li>UCSD</li>
            </ul>
          </div>
        </div>

        <div class="row text-center post-padding">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/kevin.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Kevin Guibara</li>
              <li>UCB</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/perjohn.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Per John Thorenfeldt</li>
              <li>Donski Vgs, Norway</li>
            </ul>
          </div>
        </div>


      </div>

    </div>

  </div>

</div>

