<header class="login-header" ng-controller="NavbarCtrl" ng-class="{transparent: !isLoggedIn()}">
  <div class="container">
    <div class="left-content">
      <a href="/" ng-if="!isLoggedIn()">
        <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
      </a>
      <div ng-if="isLoggedIn()">

        <!-- Menu button only visible on login -->
        <div ng-controller="NavbarCtrl as nav">
          <button class="fa fa-bars fa-2x menu-bars" ng-click="toggle()"></button>
          <div pageslide ps-open="checked" ps-side="left">
            <div class="slider-menu">
              <h2>Menu<a ng-click="toggle()" class="pull-right" ><i class="fa fa-times-circle small"></i></a></h2>
              <ul>
                <a ui-sref="{{tab.sref}}" ui-sref-opts="{reload:true}" active="tab.active" disabled="tab.disabled" class="active" select="setIndex($index)" ng-repeat="tab in nav.tabs">
                  <li>{{tab.title}}</li>
                </a>
              </ul>
            </div>
          </div>
        </div>

        <a ui-sref="dashboard">
          <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
        </a>
      </div>

    </div>
    <div class="right-content">
      <div id="logged" ng-if="isLoggedIn()">
        <!--Hide Facebook when logged-in for now -->
        <!--<div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>-->
        <i ui-sref="settings" id="settings" class="fa fa-cog" ng-class="{'fa-spin':hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>
        <a ui-sref="myProfile" ng-if="getCurrentUser().profileImage"><img class="img-circle profile-image" ng-src="/api/images{{getCurrentUser().profileImage}}"></a>
        <a ui-sref="myProfile" ng-if="!getCurrentUser().profileImage"><i class="fa fa-user fa-2x greetings" style="vertical-align: middle; "></i></a>
        <p id="greetings" class="greetings">&nbsp;{{getCurrentUser().firstname}}</p>
        <a class="new-bubble cancel" ui-sref-active="active" ui-sref="logout"><i class="fa fa-sign-out" style="cursor: pointer; color: #333333"></i></a>
      </div>

      <div id="notLogged"  ng-if="!isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <a ui-sref-active="active" ui-sref="login" ui-sref-opts="{reload:true, notify:true}" class="btn sign-up">Sign In</a>
      </div>
    </div>
  </div>
</header>

<div class="main-wrapper">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h2>Mission</h2>

        <div class="row text-center">
          <h3>
            Enable in-person interactions with students around you
          </h3>

          <h3>
            Modernize your university student services
          </h3>
        </div>

        <h2>Why?</h2>

        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p style="padding-bottom: 20px">
            At UCSD I faced the same problems that many of you may be facing today - everything from RA's, student services, to meeting new people.
            <br><br>
            RA's have it hard - building relationships across the whole floor and planning activities to get you more involved when it's so easy to chat with high school friends or start a game of League.
            It's overwhelming to keep on top off all the student services available to you, it's a pain to walk into the offices when you have a quick question,
            and a reply to my email takes too long.
            Finally meeting new students is hard - its easy for some but not everyone can strike a conversation with a random person; high school doesn't prepare you for that.
            <br><br>
            My goal is to make it easier for you to meet new students and get any help you need from your university student services.
            <br><br>
            -Vinit
          </p>
        </div>

        <h2 class="section-title">Team</h2>

        <div class="row text-center">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/vinit.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Vinit Modi</li>
              <li>UCSD</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img class="circular" src="./../../../assets/images/team/joel.jpg" style="width: 40%">
            <ul style="list-style: none">
              <li><br></li>
              <li>Joel Rosenberg</li>
              <li>UCSB and SCU</li>
            </ul>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

