<!--TODO implement footer-->

<footer class="footer" ng-controller="FooterCtrl as footer">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 logo">
        <img src="assets/images/footer-logo.svg" alt="">
        <span class="copyright">&copy; 2015 Rented, Inc.</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <a href="#">Terms and Conditions</a> |
        <a href="#">Privacy policy </a> |
        <a href="mailto:feedback@campusly.org?=Website%20Feedback" target="_top">Contact us</a>
      </div>
    </div>

  </div>
</footer>
