<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper" cg-busy="{promise:editLooking.busy, message:'Loading your profile... Please wait'}">
<div class="container" ng-if="editLooking.tempLooking">
  <div class="row">
    <div class="page-header">
      <h2>Edit My Looking Post</h2>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box">

      <!--start of first col 4-->
      <div class="col-md-4">

        <!--User University-->

        <div class="row">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-building fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="yourCampusNotPresent">Your campus</label><sup class="asterisk">*</sup>
            <select id="yourCampusNotPresent" class="form-control" required name="yourCampusNotPresent"
                    data-ng-model="editLooking.education.educationCenterName"
                    data-ng-options="university as university.name for university in editLooking.universitiesList">
            </select>
          </div>
        </div>

        <!-- Move-in date -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-arrow-right fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="moveInDate">Move-in date</label><sup class="asterisk">*</sup>
            <p class="input-group">
              <input type="text" id="moveInDate" class="form-control" datepicker-popup="{{format}}" ng-model="editLooking.tempLooking.moveInDate" is-open="datePickers.startDate" close-text="Close" />
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
            </p>
          </div>
        </div>

        <!-- Max monthly rent -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-tag fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="maxMonthlyRent">Max monthly rent ($)</label><sup class="asterisk">*</sup>
            <input type="number" id="maxMonthlyRent" name="maxMonthlyRent" class="form-control"  placeholder="e.x. 500" ng-model="editLooking.tempLooking.maxMonthlyRent"/>
          </div>

        </div>

        <!-- Utilities included -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-bar-chart fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="utilitiesIncluded">Utilities included?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="utilitiesIncluded" class="form-control" ng-model="editLooking.tempLooking.utilitiesIncluded">
            </select>
          </div>
        </div>

      </div>
      <!--end of first col 4-->

      <!--start of second col 4-->
      <div class="col-md-4">

        <!-- No. of roommates -->

        <div class="row topRow">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-users fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="numRoommates">Your group size</label>
            <input type="number" id="numRoommates" name="numRoommates" class="form-control"  placeholder="e.x. 3" ng-model="editLooking.tempLooking.numRoommates"/>
          </div>
        </div>

        <!-- Meet new roommates -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-user-plus fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="openToFullYearLeaseNewRoomates">Meet new roommates?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="openToFullYearLeaseNewRoomates" class="form-control" ng-model="editLooking.tempLooking.openToFullYearLeaseNewRoomates">
            </select>
          </div>
        </div>

        <!-- Gender preference -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-venus-mars fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="gender">Gender preference</label><sup class="asterisk">*</sup>
            <select id="gender" class="form-control" ng-model="editLooking.tempLooking.gender">
              <option value="male only">Male only</option>
              <option value="female only">Female only</option>
              <option value="no preference">No preference</option>
            </select>
          </div>
        </div>

        <!-- Parking -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-car fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="parkingNeeded">Parking included?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="parkingNeeded" class="form-control" ng-model="editLooking.tempLooking.parkingNeeded">
            </select>
          </div>
        </div>

        <!-- Bus lines -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-bus fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="busRouteRequired">Near bus lines?</label>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="busRouteRequired" class="form-control" ng-model="editLooking.tempLooking.busRouteRequired">
            </select>
          </div>
        </div>

      </div>
      <!--end of second col 4-->

      <!--start of third col 4-->
      <div class="col-md-4">

        <!-- Shared bathroom -->

        <div class="row topRow">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-shower fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="sharedBathroom">Shared bathroom?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="sharedBathroom" class="form-control" ng-model="editLooking.tempLooking.sharedBathroom">
            </select>
          </div>
        </div>

        <!-- Rental type -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-bigBed fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="roomType">Rental preference</label><sup class="asterisk">*</sup>
            <select id="roomType" class="form-control" ng-model="editLooking.tempLooking.roomType">
              <option value="Single Room">Single Room</option>
              <option value="Double Room">Double Room</option>
              <option value="Living Room">Living Room</option>
              <option value="Entire Apartment">Entire Apartment</option>
              <option value="Entire House">Entire House</option>
            </select>
          </div>
        </div>

        <!-- Furnished -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-desk fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="furnished">Furnished?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="furnished" class="form-control" ng-model="editLooking.tempLooking.furnished">
            </select>
          </div>
        </div>

        <!-- Smoking -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-smoking fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="smokingAllowed">Smoking allowed?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="smokingAllowed" class="form-control" ng-model="editLooking.tempLooking.smokingAllowed">
            </select>
          </div>
        </div>

        <!-- Pets -->

        <div class="row post-padding">
          <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
            <div class="post-bubble">
              <i class="fa fa-pet fa-lg"></i>
            </div>
          </div>
          <div class="col-xs-9 col-sm-7 input-post">
            <label for="petsAllowed">Pets allowed?</label><sup class="asterisk">*</sup>
            <select
              ng-options="option.value as option.text for option in editLooking.ddlYesNoSelect"
              id="petsAllowed" class="form-control" ng-model="editLooking.tempLooking.petsAllowed">
            </select>
          </div>
        </div>

      </div>
      <!--end of third col 4-->

      <!-- Looking Details -->

      <div class="row post-padding">
        <div class="col-xs-10 col-sm-10 col-xs-offset-2 col-sm-offset-2 input-post">
          <textarea required name="area" id="area" cols="60" rows="3" ng-model="editLooking.tempLooking.area"  class="form-control" placeholder="Edit looking post details"></textarea>
          <p class="col-xs-offset-1 col-sm-offset-1"><br><sup class="asterisk">*</sup>required fields - makes searching your room faster</p>
        </div>
      </div>

  </div>

  </div>

    <div class="row post-padding">
      <div class="col-xs-12 col-sm-12">
        <button ng-click="editLooking.saveChanges(editLooking.tempLooking, editLooking.education)" class="btn-rented-medium primary pull-right">Save</button>
        <button ng-click="editLooking.deleteLooking()" class="btn-rented-medium delete pull-left">Delete Post</button>
      </div>
    </div>

  </div>
</div>

