<div class="container">
    <form name="crediForm" method="post" class="form-horizontal bottom-buffer-xl" ng-class="{ 'show-errors': showErrors }">

        <h1>Credit Check</h1>


        <fieldset ng-show="tenant">
           <legend>Contact</legend>
           
           <div class="row">
               <div class="col-sm-2">
                   <img class="media-object img-circle" ng-src="{{tenant.picture || 'assets/img/avatar.png'}}">
               </div>

               <div class="col-sm-10">
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label class="col-sm-4 control-label">First</label>
                               <div class="col-sm-8">
                                  <input class="form-control input-lg" type="text" ng-model="tenant.firstName" placeholder="" disabled>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label class="col-sm-4 control-label">Last</label>
                               <div class="col-sm-8">
                                  <input class="form-control input-lg" type="text" ng-model="tenant.lastName" placeholder="" disabled>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label class="col-sm-4 control-label">E-Mail</label>
                               <div class="col-sm-8">
                                  <input class="form-control input-lg" type="email" placeholder="{{tenant.email}}" disabled>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-6">
                           <div class="form-group">
                               <label class="col-sm-4 control-label">Phone</label>
                               <div class="col-sm-8">
                                  <input class="form-control input-lg" type="tel" ng-model="tenant.phone" ui-mask="999.999.9999" required disabled>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

        </fieldset>

        <fieldset ng-show="tenant">
           <legend>Credit Check Upload</legend>

           <div class="row">
               <div class="col-sm-6">
                   <div class="form-group">
                       <label class="col-sm-7 control-label">Upload pdf</label>
                       <div class="col-sm-5">
                          <span class="btn btn-rented fileinput-button">
                            Upload <span class="glyphicon glyphicon-cloud-upload"></span>
                            <input id="fileupload" type="file" name="creditCheck" accept="application/pdf" ng-file-select="pdfSelected($files,tenant)">
                          </span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-sm-12">
                      <div class="row control-label" ng-show="creditCheck">
                          <div class="col-xs-8 vcenter">
                              <a href="{{creditCheck}}" download="credit-check.pdf">Credit check</a>
                          </div>
                          <div class="col-xs-1 vcenter">
                              <button class="btn btn-rented" type="button" ng-click="rmPdf(tenant)">
                                   <span class="glyphicon glyphicon-remove"></span>
                              </button>
                          </div>
                      </div>
               </div>
           </div>

        </fieldset>
           
        <fieldset>
           <legend>Tenants</legend>

           <input class="form-control input-lg" ng-model="searchText" placeholder="search...">
           <table class="table">
             <thead>
                 <tr>
                    <th>Name</th>
                    <th>#</th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="user in tenants | filter:searchText">
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td><a ng-click="select(user)">Details</a></td>
                 </tr>
             </tbody>
           </table>

        </fieldset>

    </form>

</div>
