<div id="footer">
    <div id="footer-inner">
        <div class="footer-bottom">
            <div class="container" style="padding-top: 30px; padding-bottom: 20px;">

                <div class="row" style="padding-left: 15px;">

                    <div class="col-lg-4 col-sm-4 col-xs-6">
                        <h4 class="footer-section-title">Help</h4>
                        <ul style="list-style: none;">
                            <li style="padding-bottom: 10px;">Email <a href="mailto:help@rented.co">help@rented.co</a></li>
                            <li>Call toll-free 888-859-4191</li>
                        </ul>
                    </div> <!-- help -->

                    <div class="col-lg-3 col-sm-4 col-xs-6">
                        <h4 class="footer-section-title">Legal</h4>
                        <ul style="list-style: none;">
                            <li style="padding-bottom: 10px;"><a href="#/privacy-policy">Privacy Policy</a></li>
                            <li><a href="#/terms">Terms of Use</a></li>
                        </ul>
                    </div> <!-- legal -->

                    <div class="col-lg-2 col-sm-3 text-center footer-cr">
                        <span>(c) 2014 Rented,Inc.</span>
                    </div> <!-- legal -->

                </div>

            </div><!-- /.container -->
        </div><!-- /.footer-bottom -->
    </div><!-- /#footer-inner -->
</div><!-- /#footer -->
