  <div class="row">
    <div class="col-sm-12">

    <div class="col-sm-4">
      <h3>Contact informations</h3>

      <label for="firstname">First name</label>
      <input type="text" id="firstname" name="firstname" class="form-control" ng-model="step1.tempMe.firstname"/>

      <label for="lastname">Last name</label>
      <input type="text" id="lastname" name="lastname" class="form-control" ng-model="step1.tempMe.lastname"/>

      <!--<label for="username">User name</label>-->
      <!--<input type="text" id="username" name="username" class="form-control" ng-model="step1.tempMe.username "/>-->

      <label for="middlename">Middle name</label>
      <input type="text" id="middlename" name="middlename" class="form-control" ng-model="step1.tempMe.middlename"/>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" ng-model="step1.tempMe.email"/>

      <label for="phone">Phone number:</label>
      <input type="text" id="phone" name="phone" class="form-control" ui-mask="999-999-9999" ng-model="step1.tempMe.phone"/><br/>

    </div>

    <div class="col-sm-4">
      <h3>Current address informations</h3>

      <label for="streetAddress">Address</label>
      <input type="text" id="streetAddress" name="streetAddress" class="form-control"  placeholder="Street name" address-autocomplete="step1.address.streetAddress" ng-model="step1.address.streetAddress.streetAddress"/>

      <label for="streetNumber">Number</label>
      <input type="number" id="streetNumber" name="streetNumber" class="form-control"  placeholder="Street number" ng-model="step1.address.streetAddress.streetNumeric"/>

      <label for="country">Country</label>
      <input type="text" id="country" name="country" class="form-control"  placeholder="country" ng-model="step1.address.streetAddress.state"/>

      <label for="city">City</label>
      <input type="text" id="city" name="city" class="form-control"  placeholder="city" ng-model="step1.address.streetAddress.city"/>

      <label for="zip">Zip code</label>
      <input type="number" id="zip" name="zip" class="form-control"  placeholder="zip code" ng-model="step1.address.streetAddress.zip"/>

      <div class="row">
        <div class="col-md-6">
          <label for="start">Start date</label>
          <p class="input-group">
            <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="step1.address.streetAddress.startDate" is-open="datePickers.startDate" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
        <div class="col-md-6">
          <label for="end">End date</label>
          <p class="input-group">
            <input type="text" id="end" class="form-control" datepicker-popup="{{format}}" ng-model="step1.address.streetAddress.endDate" is-open="datePickers.endDate"  close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </div>
    </div>

      <div class="col-sm-4">
        <h3>University information</h3>

        <label for="educationCenterName">Education centre name</label>
        <input type="text" id="educationCenterName" name="educationCenterName" class="form-control" ng-model="step1.education.educationCenterName"/>

        <label for="type">Type</label>
        <select id="type" class="form-control" data-ng-model="step1.education.type">
          <option value="university">University</option>
          <option value="trade">Trade</option>
          <option value="military">Military</option>
        </select>

            <label for="start">Start date</label>
            <p class="input-group">
              <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="step1.education.startDate" is-open="datePickers.graduationDate" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'graduationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

        <label for="major">Major</label>
        <input type="text" ng-model="step1.education.major" id="major" class="form-control" name="major"/>

        <label for="degreeType">Degree type</label>
        <select id="degreeType" class="form-control" data-ng-model="step1.education.degreeType">
          <option value="undergraduate">Undergraduate</option>
          <option value="graduate">Graduate</option>
          <option value="doctorate">Doctorate</option>
          <option value="post-doctorate">Post-doctorate</option>
        </select>

      </div>
</div>

</div>
