<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>

<div class="main-wrapper">
  <div class="container">

    <div class="messages">


      <h4 ng-model="messages.currentChannel.name">{{messages.currentChannel.name}}</h4>
      <h4 ng-model="messages.currentChannel.secondaryName">{{messages.currentChannel.secondaryChannel}}</h4>

      <br />

      <div class="well">
        <ul>
          <li ng-repeat="message in messages.currentMessages track by $index" ng-model="messages.currentMessages">{{message}}</li>
        </ul>

        <form>
          <input type="text" ng-model='messages.newMessage' />
          <button ng-click="messages.currentPublish('Hello')">Publish to current Channel</button>
          <button ng-click="messages.grabOlderCurrentChatHistory()">Older chat messages</button>
        </form>


          <button ng-click="messages.newPrivateConversation('Aaron', '5@ucsd.edu')">New private message with aayang@ucsd.edu</button>
          <button ng-click="messages.grabInboxHistory()">Older Private Messages</button>
          <button ng-click="messages.privateCurrentSubscribe(messages.privateMessages[0].email)">Message 1st pm</button>
          <button ng-click="messages.privateCurrentSubscribe(messages.privateMessages[1].email)">Message 2nd pm</button>
          <button ng-click="messages.groupChannelCurrentSubscribe(messages.groupChannels[0].name)">Subscribe first group</button>
          <button ng-click="messages.groupChannelCurrentSubscribe(messages.groupChannels[1].name)">Subscribe 2nd group</button>

        <h3>Group Channels</h3>
        <ul>
          <li ng-repeat="groupChannel in messages.groupChannels track by $index" ng-model="messages.groupChannels">{{groupChannel}}</li>
        </ul>

        <h3>Private Messages (Inbox)</h3>
        <ul>
          <li ng-repeat="msg in messages.privateMessages track by $index" ng-model="messages.privateMessages">{{msg}}</li>
        </ul>

      </div>

    </div>
