header.navbar {
  /*background: #5e99a1;*/
}
header.navbar-brand {
  padding-top: 10px;
  color: #fff;
  font-size: 1em;
}
header.navbar-brand img, span{
  /*width: 78px;*/
  position: relative;
  display: inline-block;
  bottom: 0;
}

header.navbar-brand span {
  line-height: 200%;
  bottom: -8px;
}

header.navbar-nav {
  margin-top: 5px;
}

header.navbar-wrapper .navbar {
  border-radius: 0px;
}
header.picture{
  background-image: url(./../../../assets/images/jumbotron/nav.jpg);
}
.facebookNavbar {
  color: #3b5998;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.facebookNavbarIcon {
  color: #3b5998;
  font-size: 1.6em;
  cursor: pointer;
}

.fb-like{
  bottom: 3px;
}
