<header class="login-header" ng-controller="NavbarCtrl" ng-class="{transparent: !isLoggedIn()}">
  <div class="container">
    <div class="left-content">
      <a href="/" ng-if="!isLoggedIn()">
        <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
      </a>
      <a ui-sref="dashboard" ng-if="isLoggedIn()">
        <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
      </a>
    </div>
    <div class="right-content">
      <div id="logged" ng-if="isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <i ui-sref="settings" id="settings" class="fa fa-cog" ng-class="{'fa-spin':hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false"></i>
        <img class="img-circle profile-image" ng-if="getCurrentUser().profileImage" ng-src="/api/images{{getCurrentUser().profileImage}}">
        <i ng-if="!getCurrentUser().profileImage" class="fa fa-user fa-2x greetings" style="vertical-align: middle; "></i>
        <p id="greetings" class="greetings">&nbsp;{{getCurrentUser().firstname}}</p>
        <a class="new-bubble" ui-sref-active="active" ui-sref="logout"><i class="fa fa-sign-out" style="cursor: pointer"></i></a>
      </div>

      <div id="notLogged"  ng-if="!isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <a ui-sref-active="active" ui-sref="login" ui-sref-opts="{reload:true, notify:true}" class="btn sign-up">Sign In</a>
      </div>
    </div>
  </div>
</header>





