<header class="login-header" ng-controller="NavbarCtrl as nav" ng-class="{transparent: !isLoggedIn()}">
  <div class="container">
    <div class="left-content">
      <a href="/" ng-if="!isLoggedIn()">
        <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
      </a>
      <div ng-if="isLoggedIn()">

        <!-- Menu button only visible on login -->
        <div class="slider-menu-bars">
          <button class="fa fa-bars fa-2x menu-bars" ng-click="toggle()"></button>
          <div pageslide ps-open="checked" ps-side="left" ps-speed="0.25">
            <div class="slider-menu">
              <h2>Menu<a ng-click="toggle()" class="pull-right" ><i class="fa fa-times-circle small"></i></a></h2>
              <ul>
                <a ui-sref="{{tab.sref}}" ui-sref-opts="{reload:true}" active="tab.active" disabled="tab.disabled" class="active" select="setIndex($index)" ng-repeat="tab in nav.tabs">
                  <li>{{tab.title}}</li>
                </a>
              </ul>
            </div>
          </div>
        </div>

        <a ui-sref="dashboard">
          <img src="../../../assets/images/webname.png" alt="campusly" height="40px">
          <!-- TODO need to load the logo of the schools dynamically -->
          <!--<img src="../../../assets/images/university-logos/ucdavis.png" alt="UC Davis" height="40px">-->
        </a>
      </div>

    </div>
    <div class="right-content">
      <div id="logged" ng-if="isLoggedIn()" class="loggedIn">
        <a ui-sref="messages">
          <i class="fa fa-comments-o fa-2x"></i>
          <span class="notification-counter" ng-if="nav.notifs.pmNotif > 0">!</span>
        </a>
      </div>

      <div id="notLogged"  ng-if="!isLoggedIn()">
        <div class="fb-like facebookNavbar" fb-like><i class="fa fa-facebook-square facebookNavbarIcon"></i>Like / Share</div>
        <a ui-sref-active="active" ui-sref="login" ui-sref-opts="{reload:true, notify:true}" class="btn sign-up">Sign In</a>
      </div>
    </div>
  </div>
</header>






