
<div ui-view="">
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>No.</th>
      <th>Start date</th>
      <th>End date</th>
      <th>individual annual income</th>
      <th>Household annual income</th>
      <th>Spouse annual income</th>
      <th>Income proof</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in finance.listOfFinances track by $index">
      <td>{{$index+1}}</td>
      <td>{{item.startDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{item.endDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{item.individualAnnualIncom}}</td>
      <td>{{item.householdAnnualIncome}}</td>
      <td>{{item.spouseAnnualIncome}}</td>
      <td>{{item.incomeProof}}</td>
      <td>
        <div class="btnContainter ">
          <button ui-sref=".edit({id: item.id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</button>
          <button ng-click="finance.deleteFinance(item)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i>Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" ui-sref=".new">Add</button>
</div>
