<!-- One time code for campus event -->
<div class="row" ng-if="dashboard.education.relatedUniversityId.id == 3">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Get ready for finals! Free food!</h2>
    <!-- Events Section -->
    <div>
      <a href="https://www.facebook.com/events/790906717689662/" target="_blank"><img border="0" class="img-responsive" src="./../assets/images/events/accb_nerds.jpg"></a>
    </div>

    <div class="white-box" style="margin-top: 10px">
      <div class="row">
        <p>Going today? Need a ride?</p>
        <form name="connectTo" ng-submit="dashboard.updateStatus(connectTo, dashboard.userStatus)" novalidate>
        <div class="col-xs-12 col-sm-8">
            <label class="checkbox"><input type="checkbox" ng-model="dashboard.userStatus.meetForEvents" value="Campus Events">Going to Porter's Pub</label>
            <label class="checkbox"><input type="checkbox" ng-model="dashboard.userStatus.carpoolingToCampus" value="Carpool From Campus">Need a ride to campus</label>
            <label class="checkbox"><input type="checkbox" ng-model="dashboard.userStatus.carpoolingFromCampus" value="Carpool To Campus">Need a ride back</label>
          <a style="margin-top: 10px" href="http://accb.ucsd.edu/" target="_blank">Brought to you by UCSD AS & All Campus Commuter Board</a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button id="UpdateMyStatus" class="btn btn-primary btn-block" type="submit">Update My Status</button>
          <script type="text/javascript">
            $("#target").submit(function( event ) {
              var value = $( "input:checkbox:checked" ).val();
              mixpanel.track("Update My Status", {"Status Change":value});
              mixpanel.people.increment('Update My Status');
            });
          </script>
        </div>
        </form>
      </div>
    </div>
  </div>
</div> <!-- End of one time code for campus event -->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 ng-if="dashboard.me.experianIdToken == 1 && dashboard.me.shareProfile"> Students Around You <small>(within {{dashboard.me.experianIdToken}} mile)&nbsp;<a ui-sref="settings({focus:'radius'})" class="btn-rented-event" >change search distance</a></small></h2>
    <h2 ng-if="dashboard.me.experianIdToken > 1 && dashboard.me.shareProfile"> Students Around You <small>(within {{dashboard.me.experianIdToken}} miles)&nbsp;<a ui-sref="settings({focus:'radius'})" class="btn-rented-event" >change search distance</a></small></h2>
    <h2 ng-if="!dashboard.me.shareProfile"> Students Around You</h2>
    <div class="white-box">
      <h3 ng-if="!dashboard.aroundYou.length && dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.initialized">
        There is no students around you right now
      </h3>
      <h3 ng-if="!dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.initialized">
        Please <a ui-sref="editProfile({focus:'updateAddress'})">update your current address</a> to connect with students around you.
      </h3>
      <h3 ng-if="!dashboard.address.streetAddress.id && !dashboard.me.shareProfile && dashboard.initialized">
        Please <a ui-sref="settings({focus:'allowConnect'})">update your privacy</a> preferences and <a ui-sref="editProfile({focus:'updateAddress'})">add your current address</a> to connect with students around you.
      </h3>
      <h3 ng-if="!dashboard.me.shareProfile && dashboard.initialized && (dashboard.aroundYou.length || dashboard.address.streetAddress.id)">
        Please <a ui-sref="settings({focus:'allowConnect'})">update your privacy</a> preferences to connect with students around you.
      </h3>
      <slick dots="true" class="slider row" slides-to-show="4" slides-to-scroll="3" responsive="dashboard.breakpoints.aroundYou" init-onload="true" infinite="false" data="dashboard.aroundYou" ng-if="dashboard.aroundYou.length && dashboard.me.shareProfile">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 room" ng-repeat="around in dashboard.aroundYou track by $index">
          <img ng-if="around.profileImage" ng-src="api/images{{around.profileImage}}" class="img-circle center-block looking-profile-img" style="max-height: 4em; max-width: 4em;">
          <i ng-if="!around.profileImage" class="fa fa-user fa-4x" style="text-align: center; display: inline-block;width: 100%;"></i>
          <div class="arYouView">
            <h4 class="media-heading user-name" style="text-align: center">
              {{around.firstname}} {{around.lastname[0] | uppercase}}.
            </h4>
            <p ng-show="around.usereducationUsers[0].relatedUniversityId.shortName" style="text-align: center">{{around.usereducationUsers[0].relatedUniversityId.shortName}}</p>
            <p ng-hide="around.usereducationUsers[0].relatedUniversityId.shortName" style="text-align: center">No university entered</p>
            <div class="info" style="margin-left: 23%">
              <strong class="value">
                Interested In:
              </strong>
              <br>
            </div>
            <ul class="specs" style="min-height: 100px; margin-left: 13%">
              <li ng-class="{'interested':(around.userstatusesUsers[0].carpoolingForGroceries || around.userstatusesUsers[0].carpoolingToCampus
                    || around.userstatusesUsers[0].carpoolingFromCampus || around.userstatusesUsers[0].carpoolingForRoadtrip
                    || around.userstatusesUsers[0].carpoolingSplit), 'not-interested':!(around.userstatusesUsers[0].carpoolingForGroceries || around.userstatusesUsers[0].carpoolingToCampus
                    || around.userstatusesUsers[0].carpoolingFromCampus || around.userstatusesUsers[0].carpoolingForRoadtrip
                    || around.userstatusesUsers[0].carpoolingSplit)}"><i class="fa fa-car"></i>&nbsp;&nbsp;Carpooling</li>
              <li ng-class="{'interested':(around.userstatusesUsers[0].walkingToCampus || around.userstatusesUsers[0].walkingFromCampus), 'not-interested':!(around.userstatusesUsers[0].walkingToCampus || around.userstatusesUsers[0].walkingFromCampus)}"><i class="fa fa-child"></i>&nbsp;&nbsp;&nbsp;&nbsp;Walking</li>
              <li ng-class="{'interested':(around.userstatusesUsers[0].meetForHangout || around.userstatusesUsers[0].meetForStudy
                    || around.userstatusesUsers[0].meetForEvents), 'not-interested':!(around.userstatusesUsers[0].meetForHangout || around.userstatusesUsers[0].meetForStudy
                    || around.userstatusesUsers[0].meetForEvents)}"><i class="fa fa-users"></i>&nbsp;&nbsp;Meeting Up</li>
              <li ng-if="dashboard.education.relatedUniversityId.id == 3" ng-class="{'interested':around.userstatusesUsers[0].meetForEvents, 'not-interested':!(around.userstatusesUsers[0].meetForEvents)}"><i class="fa fa-users"></i>&nbsp;&nbsp;Going to Porter's Pub</li>
            </ul>
          </div>
          <div style="text-align: center;width: 100%; padding-top: 10px">
            <a id="facebookPM" ng-href="{{around.facebook}}" ng-class="{'interested': around.facebook, 'not-interested':!around.facebook}" target="_blank"><i class="fa fa-facebook-square fa-2x facebookAroundYou"></i></a>
            <script type="text/javascript">
              mixpanel.track_links("#facebookPM", "Facebook PM sent - around you");
            </script>
            <a id="email" ng-href="mailto:{{around.email}}?Subject=Hello"><i class="fa fa-envelope fa-2x"></i></a>
            <script type="text/javascript">
              mixpanel.track_links("#email", "Email sent - around you");
            </script>
          </div>
        </div>
      </slick>
      <hr ng-if="dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.aroundYou.length">
      <a class="pull-right btn-rented-event view-all" ui-sref="aroundYou" ng-if="dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.aroundYou.length">View All</a>
    </div>
  </div>
</div>
