<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 ng-if="dashboard.me.experianIdToken == 1 && dashboard.me.shareProfile"> Students Around You <small>(within {{dashboard.me.experianIdToken}} mile)&nbsp;<a ui-sref="settings({focus:'radius'})" class="btn-rented-event" >change search distance</a></small></h2>
    <h2 ng-if="dashboard.me.experianIdToken > 1 && dashboard.me.shareProfile"> Students Around You <small>(within {{dashboard.me.experianIdToken}} miles)&nbsp;<a ui-sref="settings({focus:'radius'})" class="btn-rented-event" >change search distance</a></small></h2>
    <h2 ng-if="!dashboard.me.shareProfile"> Students Around You</h2>
    <div class="white-box">
      <h3 ng-if="!dashboard.aroundYou.length && dashboard.address.streetAddress.id && dashboard.me.shareProfile">
        There is no students around you right now
      </h3>
      <h3 ng-if="!dashboard.address.streetAddress.id && dashboard.me.shareProfile">
        Please <a ui-sref="editProfile({focus:'updateAddress'})">update your current address</a> to connect with students around you.
      </h3>
      <h3 ng-if="!dashboard.address.streetAddress.id && !dashboard.me.shareProfile">
        Please <a ui-sref="settings({focus:'allowConnect'})">update your privacy</a> preferences and <a ui-sref="editProfile({focus:'updateAddress'})">add your current address</a> to connect with students around you.
      </h3>
      <h3 ng-if="!dashboard.me.shareProfile && (dashboard.aroundYou.length || dashboard.address.streetAddress.id)">
        Please <a ui-sref="settings({focus:'allowConnect'})">update your privacy</a> preferences to connect with students around you.
      </h3>
      <slick dots="true" class="slider row" slides-to-show="4" slides-to-scroll="4" responsive="dashboard.breakpoints.availableRooms" init-onload="true" infinite="false" data="dashboard.aroundYou" ng-if="dashboard.aroundYou.length && dashboard.me.shareProfile">

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 room" ng-repeat="around in dashboard.aroundYou track by $index">
          <img ng-if="around.profileImage" ng-src="api/images{{around.profileImage}}" class="img-circle center-block looking-profile-img">
          <i ng-if="!around.profileImage" class="fa fa-user fa-4x" style="text-align: center; display: inline-block;width: 100%;"></i>
          <div class="arYouView">
            <h4 class="media-heading user-name" style="text-align: center">
              {{around.firstname}} {{around.lastname[0] | uppercase}}.
            </h4>
            <p ng-show="around.usereducationUsers[0].relatedUniversityId.shortName" style="text-align: center">{{around.usereducationUsers[0].relatedUniversityId.shortName}}</p>
            <p ng-hide="around.usereducationUsers[0].relatedUniversityId.shortName" style="text-align: center">No university entered</p>
            <div class="info" style="margin-left: 23%">
              <strong class="value">
                Interested In:
              </strong>
              <br>
            </div>
            <ul class="specs" style="min-height: 100px; margin-left: 13%">
              <li ng-class="{'interested':(around.userstatusesUsers[0].carpoolingForGroceries || around.userstatusesUsers[0].carpoolingToCampus
                    || around.userstatusesUsers[0].carpoolingFromCampus || around.userstatusesUsers[0].carpoolingForRoadtrip
                    || around.userstatusesUsers[0].carpoolingSplit), 'not-interested':!(around.userstatusesUsers[0].carpoolingForGroceries || around.userstatusesUsers[0].carpoolingToCampus
                    || around.userstatusesUsers[0].carpoolingFromCampus || around.userstatusesUsers[0].carpoolingForRoadtrip
                    || around.userstatusesUsers[0].carpoolingSplit)}"><i class="fa fa-car"></i>&nbsp;&nbsp;Carpooling</li>
              <li ng-class="{'interested':(around.userstatusesUsers[0].walkingToCampus || around.userstatusesUsers[0].walkingFromCampus), 'not-interested':!(around.userstatusesUsers[0].walkingToCampus || around.userstatusesUsers[0].walkingFromCampus)}"><i class="fa fa-child"></i>&nbsp;&nbsp;&nbsp;&nbsp;Walking</li>
              <li ng-class="{'interested':(around.userstatusesUsers[0].meetForHangout || around.userstatusesUsers[0].meetForStudy
                    || around.userstatusesUsers[0].meetForEvents), 'not-interested':!(around.userstatusesUsers[0].meetForHangout || around.userstatusesUsers[0].meetForStudy
                    || around.userstatusesUsers[0].meetForEvents)}"><i class="fa fa-users"></i>&nbsp;&nbsp;Meeting Up</li>
            </ul>
          </div>
          <div style="text-align: center;width: 100%; padding-top: 10px">
            <a id="facebookPM" ng-href="{{around.facebook}}" ng-if="around.facebook" target="_blank"><i class="fa fa-facebook-square fa-2x facebookAroundYou"></i></a>
            <script type="text/javascript">
              mixpanel.track_links("#facebookPM", "Facebook PM sent - around you");
            </script>
            <a id="email" ng-href="mailto:{{around.email}}?Subject=Hello"><i class="fa fa-envelope fa-2x"></i></a>
            <script type="text/javascript">
              mixpanel.track_links("#email", "Email sent - around you");
            </script>
          </div>
        </div>
      </slick>
      <hr ng-if="dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.aroundYou.length">
      <a class="pull-right btn-rented-event view-all" ui-sref="aroundYou" ng-if="dashboard.address.streetAddress.id && dashboard.me.shareProfile && dashboard.aroundYou.length">View All</a>
    </div>
  </div>
</div>
