<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="dashboard-wrapper">
  <div ui-view="">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 my-profile">
          <h2> You </h2>

          <div class="white-box buttons-box">

            <a class="btn btn-rented primary" ui-sref="dashboard.myRooms.addNew">Post Available Room</a>
            <a  class="btn btn-rented secondary" ui-sref="dashboard.myProfile.addNewLooking">Post Looking</a>
          </div>

          <div class="white-box profile-sidebar">
            <div class="messages">
              <h4>New messages</h4>
              <hr>
              <!-- start message box -->
              <div class="message-box" ng-repeat="message in dashboard.messages">
                <div class="media">
                  <div class="media-left">
                    <a >
                      <img class="media-object profile-image img-circle" ng-src="{{message.profile_picture}}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading user-name">{{message.username}}</h4>
                    <p class="message">{{message.message}}</p>
                    <em class="elapsed-time"> <i class="fa fa-clock-o"></i> {{message.elapsed_time}} </em>
                  </div>
                </div>
              </div>
            </div>
            <!-- end message box -->
            <a  class="btn btn-rented primary"> Views all messages </a>
            <hr>

            <div class="profile">
              <div class="set-size">
                <div class="pie-wrapper progress-30">
                  <span class="label"><img src="../assets/fake/girl.jpg" class="img-circle" alt=""></span>
                  <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                  </div>
                  <div class="shadow"></div>
                </div>
              </div>
              <h2> Jennifer Clardy
                <small> Your profile is 30% complete</small>
              </h2>
              <a  class="btn btn-rented secondary" ui-sref="dashboard.myProfile"> Complete Profile </a>
            </div>


          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          <h2 class="section-title"> Available Rooms</h2>
          <div class="white-box available-rooms">
            <slick dots="true" class="slider row" slides-to-show="3" slides-to-scroll="3" responsive="dashboard.breakpoints.availableRooms"  init-onload="true" data="dashboard.availableRooms">

              <!-- start room box -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 room" ng-repeat="room in dashboard.availableRooms track by $index">
                <div class="picture">
                  <img ng-src="{{room.image_url}}" alt="">
                </div>
                <div class="info">
                  <strong class="value">
                    {{room.value | currency}} mo.
                  </strong>
                  <span class="distance">
                    <i class="fa fa-map-marker"></i> {{room.distance}}
                  </span>
                </div>
                <ul class="specs">
                  <li><i class="fa fa-bed"></i> {{room.kind}}</li>
                  <li><i class="fa fa-users"></i> {{room.roommates}} roommates</li>
                  <li><i class="fa fa-bed"></i> {{room.bathroom}} bathroom</li>
                  <li><i class="fa fa-calendar"></i> {{room.availability_date | date }}</li>
                </ul>
              </div>
              <!-- end room box -->
              <hr>
            </slick>
          </div>

          <h2 class="section-title"> Looking for a room</h2>
          <div class="white-box looking-for-room">
            <slick dots="true" class="slider row" slides-to-show="2" slides-to-scroll="2" responsive="dashboard.breakpoints.lookingRoom" init-onload="true" data="dashboard.lookingRoom">

              <!-- start room box -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 room" ng-repeat="person in dashboard.lookingRoom track by $index">
                <div class="media">
                  <div class="media-left">
                    <a >
                      <img class="media-object profile-image img-circle" ng-src="{{person.profile_picture}}" >
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading user-name">{{person.name}}</h4>
                    <p class="quote">{{person.about_me}}</p>
                  </div>
                  <ul class="profile-info">
                    <li>{{person.max_rent | currency}}</li>
                    <li>{{person.type}}</li>
                    <li>{{person.distance}}</li>
                  </ul>
                </div>
                <button ui-sref=".myProfile.editLooking({id: person.id})">edit</button>
              </div>
              <!-- end room box -->
              <hr>
            </slick>
          </div>

          <h2 class="section-title"> Around you</h2>

          <div class="white-box around-you">

            <slick dots="true" class="slider row" slides-to-show="5" slides-to-scroll="5" responsive="dashboard.breakpoints.aroundYou" init-onload="true" data="dashboard.aroundYou">

              <!-- start student box -->
              <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 student" ng-repeat="student in dashboard.aroundYou track by $index">
                <img ng-src="{{student.profile_picture}}" class="profile-image img-circle">
                <h3>{{student.name}}</h3>
                <em>{{student.university}}</em>
              </div>
              <!-- end student box -->
              <hr>
            </slick>
          </div>

          <h2 class="section-title"> My listings</h2>

          <div class="white-box my-listings">

            <slick dots="true" class="slider row" slides-to-show="1" slides-to-scroll="1">

              <!-- start list box -->
              <div class="list-item">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="picture">
                      <img src="http://lorempixel.com/400/250/city/3">
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="info">
                      <span class='value'> $700 mo</span>
                      <span class='address'> 122 Balboa Ave. Unit C, San Diego</span>
                      <span class="elapsed-time">
                        <i class="fa fa-clock-o"></i> Posted on April 14th - edited 2hs ago
                      </span>
                    </div>
                    <div class="edit">
                      <span class='text'>Edit</span>
                      <a  class="bubble">
                        <i class="fa fa-pencil"></i>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
              <!-- end list box -->
            </slick>
            <hr>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
