<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ui-view="" autoscroll="true">
  <div class="main-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 my-profile">

          <!-- User selects their current interest -->

          <h2>I'm Interested In</h2>

          <div class="white-box interested-box">
            <form name="connectTo" ng-submit="dashboard.updateStatus(connectTo, dashboard.userStatus)" novalidate>
              <h4><i class="fa fa-car"></i>Carpooling</h4>
              <label class="checkbox"><input id="c2c" type="checkbox" ng-model="dashboard.userStatus.carpoolingToCampus" value="Carpool From Campus">To Campus</label>
              <label class="checkbox"><input id="cfc" type="checkbox" ng-model="dashboard.userStatus.carpoolingFromCampus" value="Carpool To Campus">From Campus</label>
              <label class="checkbox"><input id="cfg" type="checkbox" ng-model="dashboard.userStatus.carpoolingForGroceries" value="Carpool For Groceries">For Groceries</label>
              <label class="checkbox"><input id="cfrt" type="checkbox" ng-model="dashboard.userStatus.carpoolingForRoadtrip" value="Roadtrip">Roadtrip</label>
              <label class="checkbox"><input id="csplit" type="checkbox" ng-model="dashboard.userStatus.carpoolingSplit" value="Split a Ride">Split a Uber/Lyft</label>

              <h4><i class="fa fa-child"></i>Walking</h4>
              <label class="checkbox"><input id="w2c" type="checkbox" ng-model="dashboard.userStatus.walkingToCampus" value="Walk To Campus">To Campus</label>
              <label class="checkbox"><input id="wfc" type="checkbox" ng-model="dashboard.userStatus.walkingFromCampus" value="Walk From Campus">From Campus</label>

              <h4><i class="fa fa-users"></i>Meeting Up</h4>
              <label class="checkbox"><input id="hout" type="checkbox" ng-model="dashboard.userStatus.meetForHangout" value="Hangout">Hangout</label>
              <label class="checkbox"><input id="sg" type="checkbox" ng-model="dashboard.userStatus.meetForStudy" value="Study Groups">Study Group</label>
              <label class="checkbox"><input id="ce" type="checkbox" ng-model="dashboard.userStatus.meetForEvents" value="Campus Events">Campus Events</label>

              <button id="UpdateMyStatus" class="btn btn-primary btn-block" type="submit">Update My Status</button>
              <script type="text/javascript">
                $("#target").submit(function( event ) {
                  var value = $( "input:checkbox:checked" ).val();
                  mixpanel.track("Update My Status", {"Status Change":value});
                  mixpanel.people.increment('Update My Status');
                });
              </script>

            </form>
          </div>
          <!-- Create a post -->
          <h2>Post</h2>

          <div class="white-box buttons-box">
            <a class="btn btn-secondary" ui-sref="addRoom">Post Available Housing</a>
            <a  class="btn btn-primary" ui-sref="addNewLooking" ui-sref-opts="{reload:true}">Post Looking</a>
          </div>

          <!-- Profile -->

          <h2>You</h2>

          <div class="white-box profile-sidebar">
            <div class="profile">
              <img class="img-circle" ng-if="dashboard.me.profileImage" ng-src="/api/images{{dashboard.me.profileImage}}">
              <i ng-if="!dashboard.me.profileImage" class="fa fa-smile-o fa-3x img-circle" style="text-align: center; display: inline-block;width: 100%;"></i>
              <h2> {{dashboard.me.firstname}} {{dashboard.me.lastname}} </h2>
              <a class="btn btn-secondary btn-block" ui-sref="myProfile"> My Profile </a>
              <p><br></p>
              <a ng-if="dashboard.numberOf>0" ui-sref="myProfile" class="inviteRequest">You have {{dashboard.numberOf}} roommate requests</a>
            </div>
          </div>

          <div class="feedback">
            <ul style="list-style: none">
              Any improvements?
              <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:feedback@campusly.org?=Website%20Feedback">feedback@campusly.org</a></li>
              <li><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/app_scoped_user_id/837190803015531/" target="_blank">Facebook PM</a></li>
            </ul>
          </div>

        </div>

        <!-- Available Housing -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

          <!--Around you partial-->
          <div ng-include="'app/dashboard/around.you.html'"></div>

          <h2 class="section-title"> Available Housing</h2>
          <div class="white-box available-rooms">

            <h3 ng-if="!dashboard.education.universityId && dashboard.initialized">Please set your <a ui-sref="editProfile({focus:'updateEducation'})">university</a> to see available housing</h3>
            <h4 ng-if="!dashboard.availableRooms.length && dashboard.education.universityId && dashboard.initialized">There is no available housing in 100 miles radius around your campus
              <small>
                <a ui-sref="addRoom"><br/>Click here</a> to add room.
              </small>
            </h4>

            <slick dots="true" class="slider row" init-onload="true" data="dashboard.availableRooms" slides-to-show="3" slides-to-scroll="3" infinite="false" responsive="dashboard.breakpoints.availableRooms" ng-if="dashboard.availableRooms.length && dashboard.education.universityId">
              <!-- start room box -->
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 room" ng-repeat="room in dashboard.availableRooms track by $index">
                <a style="text-decoration: none" ui-sref="roomDetail({param: room.roomDetails.id, allIds:dashboard.allIds})">
                  <div class="picture">
                    <img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?center={{room.propertyDetails.coords.latitude}},{{room.propertyDetails.coords.longitude}}&zoom=14&scale=2&size=400x250&markers=color:blue%7C{{room.propertyDetails.coords.latitude}},{{room.propertyDetails.coords.longitude}}&key=AIzaSyAm7woOFr0TOKG0U7jsBF5K3LSifdDjgfs">
                  </div>
                  <div class="info">
                    <strong class="value">
                      {{room.roomDetails.monthlyPrice | currency}} / mo.
                    </strong>
                  </div>
                  <ul class="specs">
                    <li><i class="fa fa-bigBed"></i>&nbsp;&nbsp;{{room.roomDetails.roomType}}</li>
                    <li><i class="fa fa-shower"></i>&nbsp;&nbsp;{{room.roomDetails.sharedBathroom ? "Shared" : "Private"}} bathroom</li>
                    <li ng-show="room.roomDetails.numRoomates > 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetails.numRoomates}} roommates + You</li>
                    <li ng-show="room.roomDetails.numRoomates == 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetails.numRoomates}} roommate + You</li>
                    <li ng-show="room.roomDetails.numRoomates == 0"><i class="fa fa-users"></i>&nbsp;&nbsp;No roommates</li>
                    <li><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;{{room.roomDetails.gender}}</li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{room.roomDetails.availableMoveIn | date }}</li>
                    <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{room.roomDetails.leaseType}}</li>
                    <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{room.propertyDetails.city }}</li>
                  </ul>
                </a>
                <table>
                  <tr>
                    <!--<td><i class="fa fa-comments-o fa-lg"></i></td>-->
                    <td>
                      <a id="email" ng-href="mailto:{{room.relatedCreatorId.email}}?subject=Interested%20in%20your%20available%20housing&body=Hi%20{{room.relatedCreatorId.firstname}}%2C%0A%0A%0A%0AThanks%2C%0A{{dashboard.me.firstname}}%0Ahttps://campusly.org/roomDetail/{{room.roomDetails.id}}/of/{{room.roomDetails.id}}">
                        <i class="fa fa-envelope-o fa-lg"></i></a>
                      <script type="text/javascript">
                        mixpanel.track_links("#email", "Email sent - available room");
                      </script>
                    </td>
                    <td>
                      <a id="facebookPM" ng-if="room.relatedCreatorId.facebook" ng-href="{{room.relatedCreatorId.facebook}}" target="_blank">
                        <i class="fa fa-facebook-square fa-lg"></i></a>
                      <script type="text/javascript" ng-if="room.relatedCreatorId.facebook">
                        mixpanel.track_links("#facebookPM", "Facebook PM sent - available room");
                      </script>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- end room box -->
            </slick>
            <hr ng-if="dashboard.education.universityId">
            <a class="pull-right btn-rented-event view-all" ui-sref="rooms" ng-if="dashboard.education.universityId">View All</a>
          </div>

          <!-- Looking -->

          <h2 class="section-title">Students Looking</h2>
          <div class="white-box looking-for-room" >

            <h3 ng-if="!dashboard.lookingRoom.length && dashboard.initialized && dashboard.education.universityId" >

              Currently no one is looking for a room, why don't you be the first?
              <small>
                <a ui-sref="addNewLooking"><br/>Click here</a> to add looking.
              </small>
            </h3>
            <h3 ng-if="!dashboard.education.universityId && dashboard.initialized">Please set your <a ui-sref="editProfile({focus:'updateEducation'})">university</a> to see students looking</h3>
            <slick dots="true" class="slider row" slides-to-show="2" slides-to-scroll="2" responsive="dashboard.breakpoints.lookingRoom" init-onload="true" infinite="false" data="dashboard.lookingRoom" ng-if="dashboard.lookingRoom.length && dashboard.education.universityId">
              <!-- start room box -->
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 room" ng-repeat="looking in dashboard.lookingRoom track by $index">
                <a style="text-decoration: none" ui-sref="lookingDetail({param:looking.id, allIds:dashboard.allLookingIds})">
                  <div  class="media">
                    <div class="media-left">
                      <img ng-if="looking.relatedUserId.profileImage" ng-src="api/images{{looking.relatedUserId.profileImage}}" class="img-circle" height="100px" width="100px">
                      <i ng-if="!looking.relatedUserId.profileImage" class="fa fa-smile-o fa-3x"></i>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading user-name" ng-bind="looking.relatedUserId.firstname + '&nbsp;' + looking.relatedUserId.lastname | limitTo: 24"></h4>
                      <p ng-show="looking.relatedUserId.aboutMe" class="quote text-container-looking">{{looking.relatedUserId.aboutMe}}</p>
                      <p ng-hide="looking.relatedUserId.aboutMe" class="quote text-container-looking">No description available</p>
                    </div>
                    <ul class="profile-info">
                      <li><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{looking.moveInDate | date}}</li>
                      <li><i class="fa fa-tag"></i>&nbsp;&nbsp;{{looking.maxMonthlyRent | currency}}</li>
                      <li><i class="fa fa-venus-mars"></i>&nbsp;&nbsp;{{looking.gender}}</li>
                    </ul>
                  </div>
                </a>
                <table>
                  <tr>
                    <!--<td><i class="fa fa-comments-o fa-lg"></i></td>-->
                    <td>
                      <a id="email" ng-href="mailto:{{looking.relatedUserId.email}}?subject=Interested%20in%20your%20available%20housing&body=Hi%20{{looking.relatedUserId.firstname}}%2C%0A%0A%0A%0AThanks%2C%0A{{dashboard.me.firstname}}%0Ahttps://campusly.org/lookingDetail/{{looking.id}}/of/{{looking.id}}">
                        <i class="fa fa-envelope-o fa-lg"></i></a>
                      <script type="text/javascript">
                        mixpanel.track_links("#email", "Email sent - available room");
                      </script>
                    </td>
                    <td>
                      <a id="facebookPM" ng-if="looking.relatedUserId.facebook" ng-href="{{looking.relatedUserId.facebook}}" target="_blank">
                        <i class="fa fa-facebook-square fa-lg"></i></a>
                      <script type="text/javascript" ng-if="looking.relatedUserId.facebook">
                        mixpanel.track_links("#facebookPM", "Facebook PM sent - available room");
                      </script>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- end room box -->
            </slick>
            <hr ng-if="dashboard.education.universityId">
            <a class="pull-right btn-rented-event view-all" ui-sref="looking" ng-if="dashboard.education.universityId">View All</a>
          </div>

          <!-- My Available Housing Posts - Hides if no Looking posts-->
          <div ng-if="dashboard.myRoomListings.length" class="posts-dashboard-title">

            <h2 class="section-title"> My Posts - Available Housing</h2>

            <div class="white-box my-listings">
              <h3 ng-if="!dashboard.myRoomListings.length && dashboard.initialized">
                You don't have anything posted yet.
                <small>
                  <a ui-sref="addNewLooking"><br/>Click here</a> to add looking.
                  <a ui-sref="addRoom"><br/>Click here</a> to add room.
                </small>
              </h3>
              <slick ng-if="dashboard.myRoomListings.length" dots="true" class="slider row" slides-to-show="1" slides-to-scroll="1">

                <!-- start list box -->
                <div class="list-item" ng-repeat="room in dashboard.myRoomListings">
                  <div class="row" >

                    <a style="text-decoration: none" ui-sref="roomDetail({param:room.id, allIds:dashboard.myRoomListingsIds})">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <div class="info" >
                          <span class='value'>Rent: {{room.monthlyPrice |currency}} / mo.</span>
                          <span class='address'><i class="fa fa-bigBed"></i>&nbsp;&nbsp;{{room.roomType}}</span>
                          <span class='address'><i class="fa fa-transgender"></i>&nbsp;&nbsp;Gender: {{room.gender}}</span>
                          <span class='address'><i class="fa fa-users"></i>&nbsp;&nbsp;Current roommates: {{room.numRoomates}}</span>
                          <span class='address'><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{room.availableMoveIn | date }}</span>

                      <span class="elapsed-time">
                        <small><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Created on {{room.createdAt | date:'longDate'}}</small>
                      </span>

                      <span class="elapsed-time" ng-if="room.updatedAt">
                        <small><i class="fa fa-pencil"></i>&nbsp;&nbsp;Last updated at {{room.updatedAt  | date:'longDate'}}</small>
                      </span>

                        </div>
                      </div>

                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="picture">
                          <img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?center={{room.relatedPropertyId.latitude}},{{room.relatedPropertyId.longitude}}&zoom=14&scale=2&size=400x250&markers=color:blue%7C{{room.relatedPropertyId.latitude}},{{room.relatedPropertyId.longitude}}&key=AIzaSyAm7woOFr0TOKG0U7jsBF5K3LSifdDjgfs">
                        </div>
                      </div>
                    </a>

                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                      <div class="edit">
                        <a class="new-bubble pull-left" ui-sref="editRoom({id:room.id})" ui-sref-opts="{reload:true}">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </slick>
              <hr ng-if="dashboard.myRoomListings.length > 1">
            </div>
          </div>

          <!-- My Looking Posts - Hides if no Looking posts-->
          <div ng-if="dashboard.userLookings.length" class="posts-dashboard-title">

            <h2 class="section-title"> My Posts - Looking</h2>

            <div class="white-box my-listings" >
              <h3 ng-if="!dashboard.userLookings.length && dashboard.initialized" >
                You don't have anything posted yet.
                <small>
                  <a ui-sref="addNewLooking"><br/>Click here</a> to add looking.
                  <a ui-sref="addRoom"><br/>Click here</a> to add room.
                </small>
              </h3>
              <slick dots="true" class="slider row" slides-to-show="1" slides-to-scroll="1" ng-if="dashboard.userLookings.length">

                <!-- start list box -->
                <div class="list-item" ng-repeat="look in dashboard.userLookings">
                  <div class="row" >
                    <a style="text-decoration: none" ui-sref="lookingDetail({param:look.id, allIds:dashboard.myLookingsIds})">
                      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                        <div class="info">
                          <span class='value'>Max Rent: {{look.maxMonthlyRent | currency}}</span>
                          <span class='address'><i class="fa fa-transgender"></i>&nbsp;&nbsp;Gender: {{look.gender}}</span>
                          <span class='address'><i class="fa fa-bigBed"></i>&nbsp;&nbsp;{{look.roomType}}</span>
                          <span class='address'><i class="fa fa-users"></i>&nbsp;&nbsp;Group size: {{look.numRoommates}}</span>
                          <span class='address'><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{look.moveInDate | date}}</span>

                          <span class="elapsed-time">
                            <small><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Created on {{look.createdAt | date:'longDate'}}</small>
                          </span>

                          <span class="elapsed-time" ng-if="look.updatedAt">
                             <small><i class="fa fa-pencil"></i>&nbsp;&nbsp;Last updated at {{look.updatedAt  | date:'longDate'}}</small>
                          </span>

                        </div>
                      </div>
                    </a>

                    <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
                      <div class="edit">
                        <a class="new-bubble pull-right" ui-sref="editLooking({id:look.id})" ui-sref-opts="{reload:true}">
                          <i class="fa fa-pencil"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </slick>
              <hr ng-if="dashboard.userLookings.length > 1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
