<div class="header-shadow bottom-buffer-lg">
    <div class="container">
        <a go-back class="prev pull-left">Back</a>
        <h1>{{property.address.street}}</h1>

        <div class="row bottom-buffer">
            <div class="col-sm-2">
               <img ng-src="{{property.pictures[0]}}" class="img-responsive">
            </div>
            <div class="col-sm-offset-3 col-sm-7">
                <div class="row">
                    <div class="col-sm-offset-6 col-sm-3 counter">
                        <p class="counter-val">{{property.bestOffer.rentAmount | rentCurrency }}</p>
                        <p class="counter-desc">Highest Offer</p>
                    </div>
                    <div class="col-sm-3 counter">
                        <p class="counter-val">{{property.bestOffer.moveInDate | date: 'MMM dd'}}</p>
                        <p class="counter-desc">Move In Date</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="row bottom-buffer-lg">
        <div class="col-sm-4 top-buffer" ng-repeat="bid in property.bids | loadBid">
            <div class="row">
              <div class="col-sm-3">
                 <img ng-src="{{bid.user.picture || 'assets/img/avatar.png'}}" class="img-circle img-responsive">
              </div>
              <div class="col-sm-9">
                <h4 style="font-size: 24px; font-weight: bold;">{{bid.user.firstName}} {{bid.user.lastName}}</h4>
                <p><strong>Rent:</strong> {{bid.rentAmount | rentCurrency}}</p>
                <p><strong>Move-In Date:</strong> {{bid.moveInDate | date:'MMM dd'}}</p>
                <p><strong>Phone:</strong> {{bid.user.phone}}</p>
                <p><strong>Pets:</strong> Ok</p>
              </div>
            </div>
            <div class="row top-buffer-sm">
                <button class="btn btn-rented">Accept</button>
                <button class="btn btn-rented" ng-click="bidDetails(bid,property)">See More</button>
            </div>
            <div class="row top-buffer-sm">
                <button class="btn btn-rented">Counter Offer</button>
            </div>
        </div>
    </div>

</div>

