<div class="container">
    <h1>Active Properties</h1>

    <div class="row properties">
        <div class="col-sm-3 top-buffer-lg" ng-repeat="property in properties | loadProperty">
            <ng-include src="'owner/partials/property-teaser.tpl.html'"></ng-include>
            <a href="#/property/{{property.$id}}" class="btn btn-rented">See More</a>
            <a href="#/owners/properties/{{property.$id}}/edit" class="btn btn-rented">Edit</a>
        </div>
    </div>

    <h1>Tenant Occupied</h1>

    <div class="row properties bottom-buffer-xl">
        <div class="col-sm-3 top-buffer-lg" ng-repeat="property in [1,2,3,4]">
            <img pl-holder="holder.js/238x158">
            <p><strong>Number of offers:</strong> 2</p>
            <p><strong>Highest offer:</strong> $5000</p>
            <p><strong>Highest Credit Score:</strong> 800</p>
            <button type="button" class="btn btn-rented">See More</button>
        </div>
    </div>
</div>
