<div class="modal-header header-shadow">
    <div class="container">
       <div class="button-container">
           <div class="buttons">
              <a ng-click="cancel()"><img src="assets/img/close.png"></a>
           </div>
           <h1><img ng-src="{{property.tenant.picture || 'assets/img/avatar.png'}}" class="img-circle" style="width: 60px;"> {{property.tenant.firstName}} {{property.tenant.lastName}}'s Profile</h1>
       </div>

       <div class="row bottom-buffer">
            <div class="col-sm-2">
               <img ng-src="{{property.pictures[0]}}" class="img-responsive">
            </div>
            <div class="col-sm-4">
               <p class="top-buffer" style="font-size: 30px;">{{property.address.street}}</p>
            </div>
            <div class="col-sm-6">
                <div class="row top-buffer-sm small-pad">
                    <div class="col-sm-3 col-sm-offset-3 counter">
                        <p class="counter-val">{{property.bestOffer.rentAmount | rentCurrency}}</p>
                        <p class="counter-desc">Rent</p>
                    </div>
                    <div class="col-sm-3 counter">
                        <p class="counter-val">{{property.bestOffer.moveInDate | date: 'MMM dd'}}</p>
                        <p class="counter-desc">Move In Date</p>
                    </div>
                    <div class="col-sm-3 counter">
                        <p class="counter-val"><img src="assets/img/pet.png"></p>
                        <p class="counter-desc">Pets friendly</p>
                    </div>
                </div>
            </div>
       </div>

    </div>
</div>
<div class="modal-body">
    <div class="container" ng-repeat="tenant in [property.tenant]" ng-include="'owner/partials/tenant-profile.tpl.html'">
    </div>
</div>
<div ng-include="'partials/footer.tpl.html'"></div>
