<div class="container">
    <ul class="nav navbar-nav navbar-arrow">
        <li><a class="first-arrow"></a></li>
        <li><a href="/owners/add-property" ng-class="isActive('/owners/add-property',true)">1<br>Add a<br> Property</a></li>
        <li><a href="/owners/add-property/2" ng-class="isActive('/owners/add-property/2')">2<br>Verify<br>Profile</a></li>
        <li><a href="/owners/add-property/3" ng-class="isActive('/owners/add-property/3')" style="padding-right: 0px; padding-left: 90px;">3<br>Ready to Qualify<br> for Tenants</a></li>
    </ul>
</div>
