<div class="container">
    <ul class="nav navbar-nav navbar-user">
       <li><a href="#/owners/add-property" class="first" ng-class="isActive('/owners/add-property')">Add Property</a></li>
       <li><a href="#/owners/dashboard" ng-class="isActive('/owners/dashboard')">My Dashboard</a></li>
       <li><a href="#/owners/properties" ng-class="isActive('/owners/properties')">My Properties</a></li>
       <li><a href="#/owners/tenants" ng-class="isActive('/owners/tenants')">My Tenants</a></li>
       <li><a href="#/owners/profile" ng-class="isActive('/owners/profile')">My Profile</a></li>
    </ul>
</div>
