<form method="post" class="form-horizontal" ng-controller="OwnerPropertyCtrl">

    <div class="buttons" ng-show="add">
        <a href="#/owners/add-property/2" class="next pull-right" style="padding-left: 20px;">Next</a>
        <button type="button" class="btn btn-rented pull-right" style="margin-right: 10px" ng-click="save(property)">Save</button>
    </div>

    <h1 style="margin-top: 0px;" ng-show="add">Property {{profile.properties.length+1}}</h1>

    <div class="content-header" ng-hide="add">
        <div class="row" style="min-height: 210px;">
            <div class="col-sm-12 text-center box-bottom">
                <div class="buttons">
                    <button type="button" class="btn btn-rented" ng-click="remove(property)">Remove</button>
                    <button type="button" class="btn btn-rented" ng-click="save(property)">Save</button>
                </div>

                <h1>{{property.address.street}}</h1>
                <h2>{{property.address.city}}, {{property.address.state}} {{property.address.zip}}</h2>
            </div>
        </div>
    </div>


    <fieldset class="fieldset-required">
        <legend>Address</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Street</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.street" autofocus>
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Apt. number</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.aptNumber">
                   </div>
               </div>
           </div>

        </div>

        <div class="row">
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">City</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.city">
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">State</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.state">
                   </div>
               </div>
           </div>
        </div>

        <div class="row">
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Zip</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.zip">
                   </div>
               </div>
           </div>
        </div>

    </fieldset>

    <fieldset class="fieldset-required">
        <legend>Pricing</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-8 control-label">Suggested Monthly Rent</label>
                   <div class="col-sm-4">
                      <input class="form-control input-lg" type="number" ng-model="property.targetRent">
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Lease Term</label>
                   <div class="col-sm-8">
                      <select class="form-control input-lg" ng-model="property.leaseTerm">
                          <option value="">Select...</option>
                          <option value="1">Month-to-month</option>
                          <option value="12">1 year</option>
                          <option value="24">1, 2 years</option>
                          <option value="36">1, 2, 3 years</option>
                      </select>
                   </div>
               </div>
           </div>

        </div>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group" ng-show="property.dynamicPricing">
                   <label class="col-sm-8 control-label">Lowest Acceptable Offer</label>
                   <div class="col-sm-4">
                      <input class="form-control input-lg" type="number" ng-model="property.lowestRent">
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <div class="col-sm-12">
                     <div class="checkbox">
                        <label class="control-label">
                          <input type="checkbox" ng-model="property.dynamicPricing"> Enable Dynamic Pricing
                        </label>
                     </div>
                   </div>
               </div>
           </div>

        </div>

    </fieldset>

    <fieldset class="fieldset-required">
        <legend>Move-In Information</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-6 control-label">Available Date</label>
                   <div class="col-sm-6">
                      <input class="form-control input-lg" type="date" ng-model="property.availableDate">
                   </div>
               </div>
               <div class="form-group">
                   <label class="col-sm-6 control-label">Security Deposit</label>
                   <div class="col-sm-6">
                      <input class="form-control input-lg" type="number" ng-model="property.securityDeposit">
                   </div>
               </div>
               <div class="form-group" ng-show="property.pets.allowDogs || property.pets.allowCats || property.pets.allowOther">
                   <label class="col-sm-6 control-label">Pet Deposit per Pet</label>
                   <div class="col-sm-6">
                      <input class="form-control input-lg" type="number" ng-model="property.pets.deposit">
                   </div>
               </div>
           </div>

           <div class="col-sm-6">
               <div class="form-group" style="min-height: 49px;">
                   <label class="col-sm-2 control-label">Pets</label>
                   <div class="col-sm-10">
                     <div class="row">
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowDogs"> Dogs
                            </label>
                         </div>
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowCats"> Cats
                            </label>
                         </div>
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowOther"> Other
                            </label>
                         </div>
                     </div>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-12">
                      <input class="form-control input-lg" type="text" ng-model="property.pets.other" ng-show="property.pets.allowOther" placeholder="Ex. Turtle">
                   </div>
               </div>
           </div>

         </div>
    </fieldset>


    <fieldset>
       <legend>Upload Image</legend>

       <div class="row">

           <div class="col-sm-4">
                <span class="btn btn-rented fileinput-button">
                    Upload <span class="glyphicon glyphicon-cloud-upload"></span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="image" ng-file-select="pictureSelected($files)" multiple accept="image/*">
                </span>
           </div>

       </div>

       <div class="row">

           <div class="alert alert-{{shoutUpload.type}} text-center vertical-buffer" ng-show="shoutUpload">{{shoutUpload.content}}</div>

           <div class="col-sm-3 top-buffer" ng-repeat="picture in property.pictures">
               <img ng-src="{{picture}}" class="img-responsive" ng-click="removePicture(picture)">
           </div>

       </div>

    </fieldset>

</form>
