<form method="post" name="propertyForm" class="form-horizontal" ng-class="{ 'show-errors': showErrors }" ng-controller="OwnerPropertyCtrl">

    <div class="buttons" ng-show="add">
        <button type="button" class="btn btn-rented" style="margin-right: 10px" ng-click="save(property)">Save</button>
        <a href="#/owners/add-property/2" class="next" style="padding-left: 20px;">Next</a>
    </div>

    <h1 style="margin-top: 0px;" ng-show="add">Property {{propertyNo}}</h1>

    <div class="content-header" ng-hide="add">
        <div class="row" style="min-height: 210px;">
            <div class="col-sm-12 text-center box-bottom">
                <div class="buttons">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-rented" ng-click="remove(property)">Remove</button>
                            <button type="button" class="btn btn-rented" ng-click="save(property)">Save</button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-rented-success" ng-click="property.disabled= true" ng-hide="property.disabled">Enabled</button>
                            <button type="button" class="btn btn-rented-danger" ng-click="property.disabled= false" ng-show="property.disabled">Disabled</button>
                        </div>
                    </div>
                </div>

                <h1>{{property.address.street}}</h1>
                <h2>{{property.address.city}}, {{property.address.state}} {{property.address.zip}}</h2>
            </div>
        </div>
    </div>


    <fieldset class="fieldset-required">
        <legend>Address</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Street</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.street" autofocus required>
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Apt. number</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.aptNumber" required>
                   </div>
               </div>
           </div>

        </div>

        <div class="row">
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">City</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.city" required>
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">State</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.state" typeahead="state for state in states | filter:$viewValue | limitTo:8" ng-pattern="{{statesPattern}}" required>
                   </div>
               </div>
           </div>
        </div>

        <div class="row">
           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Zip</label>
                   <div class="col-sm-8">
                      <input class="form-control input-lg" type="text" ng-model="property.address.zip" ng-pattern="/[0-9]{5}/" maxlength="5" required>
                   </div>
               </div>
           </div>
        </div>

    </fieldset>

    <fieldset>
       <legend>Property Details</legend>

       <div class="row">

           <div class="col-sm-4">
               <div class="form-group">
                   <label class="col-sm-7 control-label">Bedrooms</label>
                   <div class="col-sm-5">
                      <select class="form-control input-lg" ng-model="property.bedrooms" required>
                          <option value="">Select...</option>
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                      </select>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="form-group">
                   <label class="col-sm-7 control-label">Bathrooms</label>
                   <div class="col-sm-5">
                      <select class="form-control input-lg" ng-model="property.bathrooms" required>
                          <option value="">Select...</option>
                          <option value="0">0</option>
                          <option value="0.5">0.5</option>
                          <option value="1">1</option>
                          <option value="1.5">1.5</option>
                          <option value="2">2</option>
                          <option value="2.5">2.5</option>
                          <option value="3">3</option>
                          <option value="3.5">3.5</option>
                          <option value="4">4</option>
                          <option value="4.5">4.5</option>
                          <option value="5">5</option>
                          <option value="5.5">5.5</option>
                          <option value="6">6</option>
                          <option value="6.5">6.5</option>
                      </select>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="form-group">
                   <label class="col-sm-7 control-label">Parking</label>
                   <div class="col-sm-5">
                      <select class="form-control input-lg" ng-model="property.parking" required>
                          <option value="">Select...</option>
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                      </select>
                   </div>
               </div>
           </div>

       </div>

       <div class="row">

           <div class="col-sm-4">
               <div class="form-group">
                   <label class="col-sm-7 control-label">Area <sub>(sq.ft.)</sub></label>
                   <div class="col-sm-5">
                      <input class="form-control input-lg" type="number" ng-model="property.area" max="99999">
                   </div>
               </div>
           </div>

       </div>


       <div class="row">
          <div class="col-sm-12">
              <div class="form-group">
                  <label class="col-sm-8 control-label">Description</label>
              </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <textarea class="form-control" ng-model="property.description" rows="10" required></textarea>
          </div>
       </div>
    </fieldset>

    <fieldset class="fieldset-required">
        <legend>Pricing</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-8 control-label">Suggested Monthly Rent</label>
                   <div class="col-sm-4">
                      <input class="form-control input-lg" type="text" ng-model="property.targetRent" placeholder="US Dollars" ui-money-mask="0" required>
                   </div>
               </div>
               <div class="form-group" ng-hide="property.securitySameAsRent">
                   <label class="col-sm-8 control-label">Security Deposit</label>
                   <div class="col-sm-4">
                      <input class="form-control input-lg" type="text" ng-model="property.securityDeposit" placeholder="US Dollars" ui-money-mask="0" ng-required="!property.securitySameAsRent">
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-12">
                     <div class="checkbox">
                        <label class="control-label">
                          <input type="checkbox" ng-model="property.dynamicPricing"> Enable Dynamic Pricing
                        </label>
                     </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-4 control-label">Lease Term</label>
                   <div class="col-sm-8">
                      <select class="form-control input-lg" ng-model="property.leaseTerm" required>
                          <option value="">Select...</option>
                          <option value="1">Month-to-month</option>
                          <option value="12">1 year</option>
                          <option value="24">1, 2 years</option>
                          <option value="36">1, 2, 3 years</option>
                      </select>
                   </div>
               </div>
           </div>

        </div>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group" ng-show="property.dynamicPricing">
                   <label class="col-sm-8 control-label">Lowest Acceptable Offer</label>
                   <div class="col-sm-4">
                      <input class="form-control input-lg" type="text" ng-model="property.lowestRent" placeholder="US Dollars" ui-money-mask="0" ng-required="property.dynamicPricing">
                   </div>
               </div>
           </div>
           <div class="col-sm-6">
               <div class="form-group" ng-show="property.dynamicPricing">
                   <div class="col-sm-12">
                     <div class="checkbox">
                        <label class="control-label">
                          <input type="checkbox" ng-model="property.securitySameAsRent"> Security Deposit Same As Rent
                        </label>
                     </div>
                   </div>
               </div>
           </div>

        </div>

    </fieldset>

    <fieldset class="fieldset-required">
        <legend>Move-In Information</legend>

        <div class="row">

           <div class="col-sm-6">
               <div class="form-group">
                   <label class="col-sm-6 control-label">Available Date</label>
                   <div class="col-sm-6">
                        <div class="input-group input-group-lg">
                          <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="property.availableDate" is-open="opened" ng-required="true" close-text="Close" min="minDate" min-date="minDate" max-date="'2022-06-22'" datepicker-localdate>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-rented" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </div>
                   </div>
               </div>
               <div class="form-group" ng-show="property.pets.allowDogs || property.pets.allowCats || property.pets.allowOther">
                   <label class="col-sm-6 control-label">Pet Deposit per Pet</label>
                   <div class="col-sm-6">
                      <input class="form-control input-lg" type="text" ng-model="property.pets.deposit" placeholder="US Dollars" ui-money-mask="0" ng-required="property.pets.allowDogs || property.pets.allowCats || property.pets.allowOther">
                   </div>
               </div>
           </div>

           <div class="col-sm-6">
               <div class="form-group" style="min-height: 49px;">
                   <label class="col-sm-2 control-label">Pets</label>
                   <div class="col-sm-10">
                     <div class="row">
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowDogs"> Dogs Ok
                            </label>
                         </div>
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowCats"> Cats Ok
                            </label>
                         </div>
                         <div class="checkbox col-sm-4">
                            <label class="control-label">
                              <input type="checkbox" ng-model="property.pets.allowOther"> Other
                            </label>
                         </div>
                     </div>
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-sm-12">
                      <input class="form-control input-lg" type="text" ng-model="property.pets.other" ng-show="property.pets.allowOther" placeholder="Ex. Submit Request, Turtles, Snakes" ng-required="property.pets.allowOther">
                   </div>
               </div>
           </div>

         </div>
    </fieldset>

    <fieldset>
       <legend>Upload Image</legend>

       <div class="row">

           <div class="col-sm-4">
                <span class="btn btn-rented fileinput-button">
                    Upload <span class="glyphicon glyphicon-cloud-upload"></span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="image" ng-file-select="pictureSelected($files)" multiple accept="image/*">
                </span>
           </div>
           <div class="col-sm-8">
                <span>Upload property pictures, max file size 5MB per picture. <br>The first picture will be your property profile picture.</span>
           </div>

       </div>

       <div class="row">

           <div class="alert alert-{{shoutUpload.type}} text-center vertical-buffer" ng-show="shoutUpload">{{shoutUpload.content}}</div>

           <div class="col-sm-3 top-buffer" ng-repeat="picture in property.pictures">
               <img ng-src="{{picture}}" class="img-responsive" ng-click="removePicture(picture)">
           </div>

       </div>

    </fieldset>

</form>
