<div class="row">
    <div class="col-sm-6">
        <fieldset class="readonly">
          <legend>Contact</legend>

           <div class="form-group">
               <label class="control-label">First</label>
               <span class="field-text">{{tenant.firstName}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Last</label>
               <span class="field-text">{{tenant.lastName}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Phone</label>
               <span class="field-text">{{tenant.phone}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">E-mail</label>
               <span class="field-text">{{tenant.email}}</span>
           </div>

        </fieldset>
    </div>
    <div class="col-sm-6">
        <fieldset>
          <legend>Address</legend>

           <div class="form-group">
               <label class="control-label">Street</label>
               <span class="field-text">{{tenant.address.street}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">City</label>
               <span class="field-text">{{tenant.address.city}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">State</label>
               <span class="field-text">{{tenant.address.state}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Zip</label>
               <span class="field-text">{{tenant.address.zip}}</span>
           </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <fieldset class="readonly">
          <legend>Move-In Information</legend>

           <div class="form-group">
               <label class="control-label"># of Occupants</label>
               <span class="field-text">{{tenant.movein.occupantsNo}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Annual Income</label>
               <span class="field-text">{{tenant.movein.annualIncome}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Pets</label>
               <span class="field-text">{{tenant.pets}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Reason for moving</label>
               <span class="field-text">{{tenant.movein.reason}}</span>
           </div>

        </fieldset>
    </div>
    <div class="col-sm-6">
        <fieldset>
          <legend>Financial Information</legend>

           <div class="form-group">
               <label class="control-label">Household Income Level</label>
               <span class="field-text">{{tenant.financial.incomeLevel}}</span>
           </div>

           <div class="form-group">
               <label class="control-label">Other Income</label>
               <span class="field-text">{{tenant.financial.otherIncome}}</span>
           </div>

        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <fieldset class="readonly">
          <legend>Emergency Contact</legend>

           <div class="form-group">
               <label class="control-label">Contact Info</label>
               <span class="field-text">{{tenant.emergencyPhone}}</span>
           </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <fieldset class="readonly">
          <legend>Vehicle Details</legend>

           <div class="form-group">
               <label class="control-label">Year</label>
               <span class="field-text">{{tenant.vehicle.year}}</span>
           </div>
           <div class="form-group">
               <label class="control-label">Make</label>
               <span class="field-text">{{tenant.vehicle.make}}</span>
           </div>
           <div class="form-group">
               <label class="control-label">Model</label>
               <span class="field-text">{{tenant.vehicle.model}}</span>
           </div>
           <div class="form-group">
               <label class="control-label">Vehicle</label>
               <span class="field-text">{{tenant.vehicle.vehicle}}</span>
           </div>
        </fieldset>
    </div>
</div>
