<div class="vertical-buffer-xl">

    <div class="row text-center" style="position: relative; margin-bottom: 80px;">
        <div style="position: absolute; right: 40px;">
           <a href="#/owners/add-property/3" class="arrow">Next</a>
        </div>

        <h1>Credit Check</h1>
    </div>

    <p class="text-lg" style="margin-bottom: 70px;">Thank you for completing your profile, Rented Team will contact you shortly. 
    Your offer will still be submitted.</p>
    
    <a href="#/owners/add-property/3" class="text-lg">Continue to Apply</a>
</div>
