<h2 class="center">Reference List</h2>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Current Landlord/Property Manager</legend>
            <div class="form-group">
                <label for="streetField">Name</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.currentLandlord.name"/>
            </div>
            <div class="form-group">
                <label for="streetField">Street</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.currentLandlord.street"/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="cityField">City</label>
                        <input type="text" class="form-control" id="cityField" name="city"
                               ng-model="referenceList.currentLandlord.city"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="stateField">State</label>
                        <input type="text" class="form-control" id="stateField" name="state"
                               ng-model="referenceList.currentLandlord.state"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="zipField">Zip</label>
                        <input type="text" class="form-control" id="zipField" name="zip"
                               ng-model="referenceList.currentLandlord.zip"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneField">Phone</label>
                <input type="text" class="form-control" id="phoneField" name="phone"
                       ng-model="referenceList.currentLandlord.phone"/>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Previous Landlord/Property Manager</legend>
            <div class="form-group">
                <label for="streetField">Name</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.pastLandlord.name"/>
            </div>
            <div class="form-group">
                <label for="streetField">Street</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.pastLandlord.street"/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="cityField">City</label>
                        <input type="text" class="form-control" id="cityField" name="city"
                               ng-model="referenceList.pastLandlord.city"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="stateField">State</label>
                        <input type="text" class="form-control" id="stateField" name="state"
                               ng-model="referenceList.pastLandlord.state"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="zipField">Zip</label>
                        <input type="text" class="form-control" id="zipField" name="zip"
                               ng-model="referenceList.pastLandlord.zip"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneField">Phone</label>
                <input type="text" class="form-control" id="phoneField" name="phone"
                       ng-model="referenceList.pastLandlord.phone"/>
            </div>
        </fieldset>
    </div>
    <div class="col-sm-12 col-md-4">
        <fieldset>
            <legend>Personal Reference</legend>
            <div class="form-group">
                <label for="streetField">Name</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.other.name"/>
            </div>
            <div class="form-group">
                <label for="streetField">Street</label>
                <input type="text" class="form-control" id="streetField" name="street"
                       ng-model="referenceList.other.street"/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label for="cityField">City</label>
                        <input type="text" class="form-control" id="cityField" name="city"
                               ng-model="referenceList.other.city"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="stateField">State</label>
                        <input type="text" class="form-control" id="stateField" name="state"
                               ng-model="referenceList.other.state"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="form-group">
                        <label for="zipField">Zip</label>
                        <input type="text" class="form-control" id="zipField" name="zip"
                               ng-model="referenceList.other.zip"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneField">Phone</label>
                <input type="text" class="form-control" id="phoneField" name="phone"
                       ng-model="referenceList.other.phone"/>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <button  class="btn btn-primary btn-inversed btn-block" ng-click="saveReferences()">{{referencesMessage}}</button>
    </div>
</div>