<div class="main">
  <div ng-include="'components/layout/navbar/navbar.html'"></div>
  <section class="login-box white-box">
    <h2 class="heading">Sign up with...</h2>

    <article class="social">
      <a class="link email"><span>Email</span></a>
      <a class="link fb" ng-click="signup.loginOauth('facebook')"><span>Facebook</span></a>
      <a class="link google" ng-click="signup.loginOauth('google')"><span>Google+</span></a>
    </article>

    <form class="main-form" name="form" ng-submit="signup.register(form)" novalidate>

      <label class="lbl">
        <input type="text" ng-model="signup.user.firstname" placeholder="First name" ng-class="{'has-success': form.firstname.$valid && signup.submitted, 'has-error': form.firstname.$invalid && signup.submitted}" required/>
        <p class="help-block" ng-show="form.firstname.$error.required && signup.submitted">A first name is required</p>
      </label>

      <label class="lbl">
        <input type="text" ng-model="signup.user.lastname" placeholder="Last name" ng-class="{'has-success': form.lastname.$valid && signup.submitted, 'has-error': form.lastname.$invalid && signup.submitted}" required/>
        <p class="help-block" ng-show="form.lastname.$error.required && signup.submitted">A last name is required</p>
      </label>

      <label class="lbl" ng-class="{ 'has-success': form.email.$valid && signup.submitted, 'has-error': form.email.$invalid && signup.submitted }">
        <input type="email" ng-model="signup.user.email"  placeholder="Your email address (.edu required)" required>
        <p class="help-block" ng-show="form.email.$error.email && signup.submitted">Doesn't look like a valid email.</p>
        <p class="help-block" ng-show="form.email.$error.required && signup.submitted">What's your email address?</p>
        <p class="help-block" ng-show="!form.email.$error.email && !form.email.$error.required && form.email.$invalid && signup.submitted">Your email have to finish with .edu</p>
        <p class="help-block" ng-show="form.email.$error.mongoose" >{{ signup.errors.email }}</p>
      </label>

      <label class="lbl" ng-class="{ 'has-success': form.password.$valid && signup.submitted, 'has-error': form.password.$invalid && signup.submitted }">
        <input type="password" ng-model="signup.user.password" ng-minlength="3" placeholder="Minimum 3 characters required" required>
      </label>

      <label class="lbl" ng-class="{ 'has-success': form.password.$valid && signup.submitted, 'has-error': form.password.$invalid && signup.submitted }">
        <input type="password" ng-model="signup.user.confirmPassword" match="signup.user.password" placeholder="Repeat password" ng-minlength="3" ui-validate=" '$value==signup.user.password' "
               ui-validate-watch=" 'signup.user.password' " required>
        <p class="help-block" ng-show="form.password.$error.required && signup.submitted">Please provide valid password</p>
        <p class="help-block" ng-show="form.password.$error && signup.submitted && !form.password.$error.required">Password's dont match</p>
      </label>

      <p class="help-block" ng-show="form.password.$error.mongoose">{{ signup.errors.password }}</p>

      <div class="options">
        <input type="submit" value="Sign me up!" class="lrg-btn submit">
        <span>Already have an account? <a class="link" ui-sref="login">Sign in</a></span>
      </div>

    </form>
  </section>
</div>
