<div class="container edit-profile" cg-busy="{promise:editProfile.initializeData.$promise, message:'Loading Your Profile', delay:50}">
  <div class="page-header">
    <h2> Personal Data </h2>
  </div>
  <div class="white-box">
    <div class="row about-me">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="form" name="personalDataForm" ng-submit="editProfile.changePersonalData(personalDataForm)" novalidate>
          <div class="row">

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="picture text-center">
                <img ng-if="editProfile.me.profileImage" ng-src="api/images{{editProfile.me.profileImage}}" class="img-circle">
                <i ng-if="!editProfile.me.profileImage" class="fa fa-user" style="font-size:120px"></i>
                <input type="file" nv-file-select uploader="editProfile.uploader" id="fileUpload"/>
                <ul>
                  <li ng-repeat="item in editProfile.uploader.queue">
                    <button class="bubble" ng-click="item.upload()"><i class="fa fa-upload"></i></button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" id="firstname" name="firstname" ng-model="editProfile.tempMe.firstname"/>
              </div>
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" id="lastname" name="lastname" ng-model="editProfile.tempMe.lastname"/>
              </div>
              <div class="form-group">
                <label> About Me</label>
                <textarea class="form-control" ng-model="editProfile.tempMe.aboutMe"></textarea>
              </div>
              <div class="form-group">
                <label> Phone Number</label>
                <input class="form-control" type="text" id="phone" name="phone" ng-model="editProfile.tempMe.phone" ui-mask="999-999-9999">

              </div>
            </div>
          </div>
          <input type="submit" class="btn" value="Save">
        </form>
      </div>
    </div>
  </div>

  <div class="page-header">
    <h2> Education Data </h2>
  </div>
  <div class="white-box">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
<pre>{{editProfile.tempEducation|json}}</pre>
          <label for="educationCenterName">Education centre name</label>
          <select id="educationCenterName" class="form-control"
                  ng-model="editProfile.tempEducation.educationCenterName"
                  ng-options="university.name for university in editProfile.universitiesList">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          <select id="type" class="form-control" data-ng-model="editProfile.tempEducation.type">
            <option value="university">University</option>
            <option value="trade">Trade</option>
            <option value="military">Military</option>
          </select>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
              <label for="start">Start date</label>
              <p class="input-group">
                <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="editProfile.tempEducation.startDate" is-open="datePickers.EducationStartDate" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn" ng-click="open($event,'EducationStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
        </div>

        <label for="major">Major</label>
        <input type="text" ng-model="editProfile.tempEducation.major" id="major" class="form-control" name="major"/>

        <label for="degreeType">Degree type</label>
        <select id="degreeType" class="form-control" data-ng-model="editProfile.tempEducation.degreeType">
          <option value="undergraduate">Undergraduate</option>
          <option value="graduate">Graduate</option>
          <option value="doctorate">Doctorate</option>
          <option value="post-doctorate">Post-doctorate</option>
        </select>

        <br/>

        <button class="btn btn-primary" ng-click="editProfile.saveEducation(editProfile.tempEducation)">Save changes</button>

      </div>

    </div>
  </div>


  <div class="page-header">
    <h2> Address Data </h2>
  </div>
  <div class="white-box">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="streetAddress">Address lookup</label>
        <input  type="text" id="streetAddress" name="streetAddress" class="form-control"  placeholder="Street name" address-autocomplete="editProfile.tempAddress.streetAddress"/>

        <label for="streetName">Street name</label>
        <input type="text" id="streetName" name="streetName" class="form-control"  placeholder="Street name" ng-model="editProfile.tempAddress.streetAddress.streetAddress" readonly/>

        <label for="streetNumber">Number</label>
        <input type="number" id="streetNumber" name="streetNumber" class="form-control"  placeholder="Street number" ng-model="editProfile.tempAddress.streetAddress.streetNumeric" readonly/>

        <label for="zip">Zip code</label>
        <input type="number" id="zip" name="zip" class="form-control"  placeholder="zip code" ng-model="editProfile.tempAddress.streetAddress.zip" readonly/>

        <label for="city">City</label>
        <input type="text" id="city" name="city" class="form-control"  placeholder="city" ng-model="editProfile.tempAddress.streetAddress.city" readonly/>

        <label for="city">State</label>
        <input type="text" id="state" name="state" class="form-control"  placeholder="state" ng-model="editProfile.tempAddress.streetAddress.state" readonly/>

        <label for="apt">Apt</label>
        <input type="number" id="apt" name="apt" class="form-control"  placeholder="apt" ng-model="editProfile.tempAddress.streetAddress.apt"/><br/>

        <div class="row">
          <div class="col-md-6">
            <label for="start">Start date</label>
            <p class="input-group">
              <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="editProfile.tempAddress.streetAddress.startDate" is-open="datePickers.AddressStartDate" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn" ng-click="open($event,'AddressStartDate')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
          <div class="col-md-6">
            <label for="end">End date</label>
            <p class="input-group">
              <input type="text" id="end" class="form-control" datepicker-popup="{{format}}" ng-model="editProfile.tempAddress.streetAddress.endDate" is-open="datePickers.AddressEndDate" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn" ng-click="open($event,'AddressEndDate')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
        <button class="btn btn-primary" ng-click="editProfile.saveAddress(editProfile.tempAddress.streetAddress)">Save Changes</button>
      </div>
    </div>
  </div>
</div>
</div>
