<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper">
<div class="container edit-profile">

  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 back-link">
    <a ui-sref="myProfile"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
  </div>

  <div class="page-header">
    <h2> Personal </h2>
  </div>

  <!-- Personal info -->

  <div class="white-box">
    <div class="row about-me">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="form" name="personalDataForm" ng-submit="editProfile.changePersonalData(personalDataForm)" novalidate>
          <div class="row">

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
              <div class="picture text-center">
                <img ng-if="editProfile.me.profileImage" ng-src="api/images{{editProfile.me.profileImage}}" class="img-circle looking-profile-img">
                <i ng-if="!editProfile.me.profileImage" class="fa fa-user fa-5x"></i>
                <input type="file" nv-file-select uploader="editProfile.uploader" id="fileUpload"/>
                <ul>
                  <li ng-repeat="item in editProfile.uploader.queue">
                    <button class="bubble" ng-click="item.upload()"><i class="fa fa-upload"></i></button>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
              <div class="form-group input-post">
                <label for="firstname">First Name</label>
                <input class="form-control borderRadiusFix" type="text" id="firstname" name="firstname" ng-model="editProfile.tempMe.firstname" required ng-class="{'educationError': personalDataForm.firstname.$error.required && editProfile.submittedData}"/>
              </div>
              <div class="form-group input-post">
                <label for="lastname">Last Name</label>
                <input class="form-control borderRadiusFix" type="text" id="lastname" name="lastname" ng-model="editProfile.tempMe.lastname" required ng-class="{'educationError': personalDataForm.lastname.$error.required && editProfile.submittedData}"/>
              </div>
              <div class="form-group input-post-2">
                <label for="aboutMe">About Me</label>
                <textarea class="form-control" cols="50" rows="2" id="aboutMe" ng-model="editProfile.tempMe.aboutMe"></textarea>
              </div>
              <div class="form-group input-post">
                <label for="phone">Phone Number</label>
                <input class="form-control borderRadiusFix" type="text" id="phone" name="phone" ng-model="editProfile.tempMe.phone" ui-mask="999-999-9999">
              </div>

            </div>
          </div>
          <input type="submit" class="btn-rented-medium primary pull-right" value="Save" ng-disabled="personalDataForm.$pristine">
        </form>
      </div>
    </div>
  </div>

  <!-- University -->

  <div class="page-header">
    <h2 class="section-title">University </h2>
  </div>
  <div class="white-box">
    <div class="row">

      <form name="educationForm" ng-submit="editProfile.saveEducation(editProfile.tempEducation, educationForm)" novalidate>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
            <p id="scrollEducation">University, major, and graduation dates are helpful in finding roommates or other students around you.<br><br></p>
            <div class="form-group input-post">
              <label for="educationCenterName">University name</label>
              <select id="educationCenterName" class="form-control" required name="universityName"
                      ng-class="{'educationError': educationForm.universityName.$error.required && editProfile.submitted}"
                      data-ng-model="editProfile.tempEducation.educationCenterName"
                      data-ng-options="university as university.name for university in editProfile.universitiesList">
              </select>
            </div>
            <div class="form-group input-post">
              <label for="major">Major</label>
              <input type="text" ng-model="editProfile.tempEducation.major" id="major" class="form-control borderRadiusFix" name="major" ng-class="{'educationError': educationForm.major.$error.required && editProfile.submitted}"/>
            </div>
          </div>
        </div>
        <p class="help-block" ng-show="form.lastname.$error.required && signup.submitted">A last name is required</p>
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
            <div class="form-group input-post">
              <label for="start">Graduation date</label>
              <p class="input-group">
                <input type="text" id="start" class="form-control borderRadiusFix" datepicker-popup="{{format}}" ng-model="editProfile.tempEducation.graduationDate"
                       is-open="datePickers.EducationStartDate" name="graduation" close-text="Close" ng-class="{'educationError': educationForm.graduation.$error.required && editProfile.submitted}"/>
              <span class="input-group-btn">
                <button type="btn-rented-medium primary" class="btn btn-default" ng-click="open($event,'EducationStartDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
            </div>
          </div>
        </div>
        <input ng-if="editProfile.tempEducation.id" type="submit" value="save" class="btn-rented-medium primary pull-right"  ng-disabled="educationForm.$pristine"/>
        <input ng-if="!editProfile.tempEducation.id" type="submit" value="save" class="btn-rented-medium primary pull-right"/>

      </div>
      </form>
    </div>

  </div>

  <!-- Current Address -->

  <div class="page-header">
    <h2 class="section-title">Current Address</h2>

  </div>
  <div class="white-box">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <form name="editAddressForm" ng-submit="editProfile.saveAddress(editAddressForm, editProfile.tempAddress.streetAddress)" novalidate>

        <div class="row">

          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">

            <p id="scrollAddress">Current address helps you meet new students around you for carpooling, events, etc.<br>Your address is NOT shared with anyone and kept private.<br><br></p>
            <div class="form-group input-post">

              <label for="streetAddress">Address lookup</label>
              <input type="text" id="streetAddress" name="streetAddress" class="form-control borderRadiusFix" placeholder="Start entering an address to autofill" address-autocomplete="editProfile.tempAddress.streetAddress"/>

            </div>

            <div class="form-group input-post-readonly">

              <label for="streetNumber">Street Number</label>
              <input type="number" id="streetNumber" name="streetNumber" class="form-control" placeholder="Street number" ng-model="editProfile.tempAddress.streetAddress.streetNumeric" readonly ng-class="{'educationError': editAddressForm.streetNumber.$error.required && editProfile.submittedAddress}" required/>

            </div>

            <div class="form-group input-post-readonly">

              <label for="streetName">Street Name</label>
              <input type="text" id="streetName" name="streetName" class="form-control borderRadiusFix" placeholder="Street name" ng-model="editProfile.tempAddress.streetAddress.streetAddress" readonly ng-class="{'educationError': editAddressForm.streetName.$error.required && editProfile.submittedAddress}" required/>

            </div>
            <div class="form-group input-post">

              <label for="apt">Apt No.</label>
              <input type="text" id="apt" name="apt" class="form-control borderRadiusFix" placeholder="apt" ng-model="editProfile.tempAddress.streetAddress.apt"/>

            </div>

            <div class="form-group input-post-readonly">

              <label for="zip">Zip Code</label>
              <input type="number" id="zip" name="zip" class="form-control" placeholder="zip code" ng-model="editProfile.tempAddress.streetAddress.zip" readonly ng-class="{'educationError': editAddressForm.zip.$error.required && editProfile.submittedAddress}" required/>

            </div>

            <div class="form-group input-post-readonly">

              <label for="city">City</label>
              <input type="text" id="city" name="city" class="form-control borderRadiusFix" placeholder="city" ng-model="editProfile.tempAddress.streetAddress.city" readonly ng-class="{'educationError': editAddressForm.city.$error.required && editProfile.submittedAddress}" required/>

            </div>

            <div class="form-group input-post-readonly">

              <label for="city">State</label>
              <input type="text" id="state" name="state" class="form-control borderRadiusFix"  placeholder="state" ng-model="editProfile.tempAddress.streetAddress.state" readonly ng-class="{'educationError': editAddressForm.state.$error.required && editProfile.submittedAddress}" required/>

            </div>
              <p ng-if="editProfile.errors" class="help-block">{{editProfile.errors}}</p>
          </div>

        </div>
        <input ng-if="editProfile.tempAddress.streetAddress.id" type="submit" value="Save" class="btn-rented-medium primary pull-right"  ng-disabled="editAddressForm.$pristine"/>
        <input ng-if="!editProfile.tempAddress.streetAddress.id" type="submit" class="btn-rented-medium primary pull-right" value="Save" />

        </form>
      </div>

    </div>
  </div>

</div>

</div>
