<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>

<!-- Main wrapper class - responsible for page styling -->

<div class="main-wrapper">
  <div class="container my-profile">
    <div class="row">
      <div class="page-header">
        <h2>Edit My Housing Post</h2>
      </div>

      <form name="editRoomForm" novalidate>

        <!-- Room listing view -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box" id="room-specifics">

          <!--start of first col 4-->
          <div class="col-md-4">

            <!--User University-->

            <div class="row">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-building fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="yourCampusNotPresent">Your campus</label><sup class="asterisk">*</sup><br/>
                <select id="yourCampusNotPresent" class="form-control" required name="yourCampusNotPresent"
                        ng-class="{'educationError': editRoomForm.yourCampusNotPresent.$error.required && vm.submitted}"
                        data-ng-model="vm.education.educationCenterName"
                        data-ng-options="university as university.name for university in vm.universitiesList">
                </select>
              </div>
            </div>

            <!-- Move-in -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-arrow-right fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="availableMoveIn">Move-in date</label><sup class="asterisk">*</sup>
                <p class="input-group">
                  <input type="text" id="availableMoveIn" required name="availableMoveIn" class="form-control" datepicker-popup="{{format}}" ng-model="vm.room.availableMoveIn"
                         is-open="datePickers.startDate" close-text="Close" ng-class="{'educationError': editRoomForm.availableMoveIn.$error.required && vm.submitted}"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
              </div>
            </div>

            <!-- Monthly rent -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-tag  fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="monthlyPrice">Monthly Rent ($)</label><sup class="asterisk">*</sup>
                <input type="number" id="monthlyPrice" name="monthlyPrice" required class="form-control"  placeholder="e.x. 750" ng-model="vm.room.monthlyPrice"
                       ng-class="{'educationError': editRoomForm.monthlyPrice.$error.required && vm.submitted}"/>
                <div ng-show="addNewRoomForm.monthlyPrice.$dirty && addNewRoomForm.monthlyPrice.$invalid">
                  <p class="help-block error" >Enter a the monthly rent</p>
                </div>
              </div>
            </div>

            <!-- Security Deposit -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-tags fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="securityDeposit">Security Deposit ($)</label>
                <input type="number" id="securityDeposit" name="securityDeposit" class="form-control"  placeholder="e.x. 750" ng-model="vm.room.securityDeposit"
                       ng-class="{'educationError': editRoomForm.securityDeposit.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Monthly utilities -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bar-chart fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="monthlyUtilityCost">Monthly utilities ($)</label><sup class="asterisk">*</sup>
                <input type="number" id="monthlyUtilityCost" required name="monthlyUtilityCost" class="form-control"  placeholder="e.x. 50"
                       ng-model="vm.room.monthlyUtilityCost" ng-class="{'educationError': editRoomForm.monthlyUtilityCost.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Rental type -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bigBed fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="roomType">Rental type</label><sup class="asterisk">*</sup>
                <select id="roomType" class="form-control" ng-model="vm.room.roomType" name="roomType" required ng-class="{'educationError': editRoomForm.roomType.$error.required && vm.submitted}">
                  <option value="Single Room">Single room</option>
                  <option value="Double Room">Double room</option>
                  <option value="Living Room">Living room</option>
                  <option value="Entire Apt">Entire Apartment</option>
                  <option value="Entire House">Entire House</option>
                </select>
              </div>
            </div>

          </div>

          <!--start of second col 4-->
          <div class="col-md-4">

            <!-- Rental length -->

            <div class="row topRow">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-clock-o fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="leaseType">Rental length</label><sup class="asterisk">*</sup>
                <select id="leaseType" name="leaseType" class="form-control" ng-model="vm.room.leaseType" required ng-class="{'educationError': editRoomForm.leaseType.$error.required && vm.submitted}">
                  <option value="month-to-month">Month to month</option>
                  <option value="1-3 months">1-3 months</option>
                  <option value="4-6 months">4-6 months</option>
                  <option value="7-9 months">7-9 months</option>
                  <option value="10-11 months">10-11 months</option>
                  <option value="1-year">1 year</option>
                  <option value="2-years">2+ years</option>
                </select>
              </div>
            </div>

            <!-- Gender preference -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-venus-mars fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="gender">Gender preference</label><sup class="asterisk">*</sup>
                <select id="gender" class="form-control" ng-model="vm.room.gender" name="gender" required ng-class="{'educationError': editRoomForm.gender.$error.required && vm.submitted}">
                  <option value="no preference">No preference</option>
                  <option value="male only">Male only</option>
                  <option value="female only">Female only</option>
                </select>
              </div>
            </div>

            <!-- Number of roommates -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-users fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="numRoomates">Current # of roommates</label><sup class="asterisk">*</sup>
                <input type="number" id="numRoomates" required name="numRoomates" class="form-control" ng-model="vm.room.numRoomates" min="1" max="10"
                       ng-class="{'educationError': editRoomForm.numRoomates.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Bathrooms -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-toiletPaper fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="bathrooms">Bathrooms</label><sup class="asterisk">*</sup>
                <input type="number" id="bathrooms" required name="bathrooms" class="form-control"  placeholder="Number of bathrooms"
                       ng-model="vm.room.relatedPropertyId.bathrooms" ng-class="{'educationError': editRoomForm.bathrooms.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Shared bathroom -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-shower fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="sharedBath">Shared bathroom?</label><sup class="asterisk">*</sup>
                <select name ="sharedBath"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  ng-class="{'educationError': editRoomForm.sharedBath.$error.required && vm.submitted}"
                  id="sharedBath" class="form-control" ng-model="vm.room.sharedBathroom">
                </select>
              </div>
            </div>

            <!-- Bedrooms -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="bedrooms">Bedrooms</label><sup class="asterisk">*</sup>
                <input type="number" id="bedrooms" required name="bedrooms" class="form-control"  placeholder="Number of bedrooms" ng-model="vm.room.relatedPropertyId.bedrooms"
                       ng-class="{'educationError': editRoomForm.bedrooms.$error.required && vm.submitted}"/>
              </div>
            </div>

          </div>

          <!--start of third col 4-->
          <div class="col-md-4">

            <!-- Furnished -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-desk fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="furnished">Furnished?</label><sup class="asterisk">*</sup>
                <select name="furnished"
                  ng-class="{'educationError': editRoomForm.furnished.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="furnished" class="form-control" ng-model="vm.room.furnished">
                </select>
              </div>
            </div>

            <!-- Smoking -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-smoking fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="smokingAllowed">Smoking allowed?</label><sup class="asterisk">*</sup>
                <select name="smokingAllowed"
                  ng-class="{'educationError': editRoomForm.smokingAllowed.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="smokingAllowed" class="form-control" ng-model="vm.room.smokingAllowed">
                </select>
              </div>
            </div>

            <!-- Pets Allowed -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-pet fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="petsAllowed">Pets allowed?</label><sup class="asterisk">*</sup>
                <select name="petsAllowed"
                  ng-class="{'educationError': editRoomForm.petsAllowed.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="petsAllowed" class="form-control" ng-model="vm.room.petsAllowed">
                </select>


              </div>
            </div>

            <!-- Parking Allowed -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-car fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="parkingAvailable">Parking available</label><sup class="asterisk">*</sup>
                <select name="parkingAvailable"
                  ng-class="{'educationError': editRoomForm.parkingAvailable.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="parkingAvailable" class="form-control" ng-model="vm.room.parkingAvailable">
                </select>
              </div>
            </div>

          </div>

          <!-- Description -->

          <div class="row post-padding">
            <div class="col-xs-11 col-sm-11 input-post">
              <textarea name="roomDescription" id="roomDescription" cols="60" rows="3" ng-model="vm.room.description"  class="form-control" placeholder="Enter room description (optional)" ></textarea>
              <p class="col-xs-offset-1 col-sm-offset-1"><br><sup class="asterisk">*</sup>required fields - makes searching your room faster</p>
            </div>
          </div>

        </div>


      </form>

      <!-- End of form -->

      <!-- Address boxes -->

      <div class="row">

        <!--  Address  -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="page-header">
            <h2 class="section-title">Property Address</h2>
          </div>

          <div class="white-box">

            <!-- Display current property address -->

            <div class="row address-specs">

              <div class="col-xs-12 col-sm-12">

                <dl class="specs">
                  <dt>Street number:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.streetNumeric}}</dd>

                  <dt>Street name:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.streetAddress}}</dd>

                  <dt ng-if="vm.room.relatedPropertyId.apt">Apt:&nbsp;&nbsp;</dt>
                  <dd ng-if="vm.room.relatedPropertyId.apt">{{vm.room.relatedPropertyId.apt}}</dd>

                  <dt>City:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.city}}</dd>

                  <dt>Zip:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.zip}}</dd>

                  <dt>State:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.state}}</dd>

                </dl>

              </div>

            </div>

          </div>
          <div class="row address-specs">
            <br/>
            <p class="light alert warning" ng-if="editRoomForm.$error.required.length>0 && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspPlease fill in all required fields. {{editRoomForm.$error.required.length}} more required.</p>
            <p class="light alert warning" ng-if="editRoomForm.$error.max && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspMaximum 10 roommates allowed</p>
          </div>
        </div>
        <!-- End Address  -->

      </div>

    </div>

    <div class="row post-padding">
      <div class="col-xs-12 col-sm-12">
        <button class="btn-rented-medium primary pull-right" ng-click="vm.edit(editRoomForm, vm.education)">Save</button>
        <button class="btn-rented-medium delete pull-left" ng-disabled="editRoomForm.$dirty" ng-click="vm.deleteRoom()">Delete</button>
      </div>
    </div>
  </div>
</div>
