<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>

<!-- Main wrapper class - responsible for page styling -->

<div class="main-wrapper">
  <div class="container my-profile">
    <div class="row">
      <div class="page-header">
        <h2>Edit Room</h2>
      </div>

      <form name="editRoomForm" novalidate>

        <!-- Room listing view -->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box" id="room-specifics">

          <!--start of first col 4-->
          <div class="col-md-4">

            <!--User University-->

            <div class="row">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-building fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="yourCampusNotPresent">Your campus</label><sup class="asterisk">*</sup><br/>
                <select id="yourCampusNotPresent" class="form-control" required name="yourCampusNotPresent"
                        ng-class="{'educationError': editRoomForm.yourCampusNotPresent.$error.required && vm.submitted}"
                        data-ng-model="vm.education.educationCenterName"
                        data-ng-options="university as university.name for university in vm.universitiesList">
                </select>
              </div>
            </div>

            <!-- Move-in -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-arrow-right fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="availableMoveIn">Move-in date</label><sup class="asterisk">*</sup>
                <p class="input-group">
                  <input type="text" id="availableMoveIn" required name="availableMoveIn" class="form-control" datepicker-popup="{{format}}" ng-model="vm.room.availableMoveIn"
                         is-open="datePickers.startDate" close-text="Close" ng-class="{'educationError': editRoomForm.availableMoveIn.$error.required && vm.submitted}"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>
              </div>
            </div>

            <!-- Move-out -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-arrow-left fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="leaseEndDate">Move-out date</label>
                <p class="input-group">
                  <input type="text" id="leaseEndDate" name="monthlyPrice" class="form-control" datepicker-popup="{{format}}" ng-model="vm.room.leaseEndDate" is-open="datePickers.endDate" close-text="Close" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                </p>
              </div>
            </div>

            <!-- Monthly rent -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-tag  fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="monthlyPrice">Monthly Rent ($)</label><sup class="asterisk">*</sup>
                <input type="number" id="monthlyPrice" name="monthlyPrice" required class="form-control"  placeholder="e.x. 750" ng-model="vm.room.monthlyPrice"
                       ng-class="{'educationError': editRoomForm.monthlyPrice.$error.required && vm.submitted}"/>
                <div ng-show="addNewRoomForm.monthlyPrice.$dirty && addNewRoomForm.monthlyPrice.$invalid">
                  <p class="help-block error" >Enter a the monthly rent</p>
                </div>
              </div>
            </div>

            <!-- Security Deposit -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-tags fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="securityDeposit">Security Deposit ($)</label>
                <input type="number" id="securityDeposit" name="securityDeposit" class="form-control"  placeholder="e.x. 750" ng-model="vm.room.securityDeposit"
                       ng-class="{'educationError': editRoomForm.securityDeposit.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Monthly utilities -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bar-chart fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="monthlyUtilityCost">Monthly utilities ($)</label><sup class="asterisk">*</sup>
                <input type="number" id="monthlyUtilityCost" required name="monthlyUtilityCost" class="form-control"  placeholder="e.x. 50"
                       ng-model="vm.room.monthlyUtilityCost" ng-class="{'educationError': editRoomForm.monthlyUtilityCost.$error.required && vm.submitted}"/>
              </div>
            </div>

          </div>

          <!--start of second col 4-->
          <div class="col-md-4">

            <!-- Lease type -->

            <div class="row topRow">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-clipboard fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="leaseType">Lease type</label><sup class="asterisk">*</sup>
                <select id="leaseType" name="leaseType" class="form-control" ng-model="vm.room.leaseType" required ng-class="{'educationError': editRoomForm.leaseType.$error.required && vm.submitted}">
                  <option value="sub-lease">Sub-lease</option>
                  <option value="month-to-month">Month to month</option>
                  <option value="lease take over">Lease take over</option>
                </select>
              </div>
            </div>

            <!-- Number of roommates -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-users fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="numRoomates">Current # of roommates</label><sup class="asterisk">*</sup>
                <input type="number" id="numRoomates" required name="numRoomates" class="form-control" ng-model="vm.room.numRoomates" min="1" max="10"
                       ng-class="{'educationError': editRoomForm.numRoomates.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Property type -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-building fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="type">Property type</label>
                <select id="type" class="form-control" name="type" ng-model="vm.room.relatedPropertyId.type" ng-class="{'educationError': editRoomForm.type.$error.required && vm.submitted}">
                  <option value="apt">Apartment</option>
                  <option value="sfh">Single family house</option>
                  <option value="townhouse">Townhouse</option>
                </select>
              </div>
            </div>

            <!-- Bathrooms -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-toiletPaper fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="bathrooms">Bathrooms</label><sup class="asterisk">*</sup>
                <input type="number" id="bathrooms" required name="bathrooms" class="form-control"  placeholder="Number of bathrooms"
                       ng-model="vm.room.relatedPropertyId.bathrooms" ng-class="{'educationError': editRoomForm.bathrooms.$error.required && vm.submitted}"/>
              </div>
            </div>

            <!-- Shared bathroom -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-shower fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="sharedBath">Shared bathroom?</label><sup class="asterisk">*</sup>
                <select name ="sharedBath"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  ng-class="{'educationError': editRoomForm.sharedBath.$error.required && vm.submitted}"
                  id="sharedBath" class="form-control" ng-model="vm.room.sharedBathroom">
                </select>
              </div>
            </div>

            <!-- Bedrooms -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bed fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="bedrooms">Bedrooms</label><sup class="asterisk">*</sup>
                <input type="number" id="bedrooms" required name="bedrooms" class="form-control"  placeholder="Number of bedrooms" ng-model="vm.room.relatedPropertyId.bedrooms"
                       ng-class="{'educationError': editRoomForm.bedrooms.$error.required && vm.submitted}"/>
              </div>
            </div>

          </div>

          <!--start of third col 4-->
          <div class="col-md-4">

            <!-- Room type -->

            <div class="row topRow">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-bigBed fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="roomType">Rental type</label><sup class="asterisk">*</sup>
                <select id="roomType" class="form-control" ng-model="vm.room.roomType" name="roomType" required ng-class="{'educationError': editRoomForm.roomType.$error.required && vm.submitted}">
                  <option value="single">Single room</option>
                  <option value="double">Double room</option>
                  <option value="living room">Living room</option>
                  <option value="loft">Entire Apt.</option>
                </select>
              </div>
            </div>

            <!-- Furnished -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-desk fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="furnished">Furnished?</label><sup class="asterisk">*</sup>
                <select name="furnished"
                  ng-class="{'educationError': editRoomForm.furnished.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="furnished" class="form-control" ng-model="vm.room.furnished">
                </select>
              </div>
            </div>

            <!-- Smoking -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-smoking fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="smokingAllowed">Smoking allowed?</label><sup class="asterisk">*</sup>
                <select name="smokingAllowed"
                  ng-class="{'educationError': editRoomForm.smokingAllowed.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="smokingAllowed" class="form-control" ng-model="vm.room.smokingAllowed">
                </select>
              </div>
            </div>

            <!-- Gender preference -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-venus-mars fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="gender">Gender preference</label><sup class="asterisk">*</sup>
                <select id="gender" class="form-control" ng-model="vm.room.gender" name="gender" required ng-class="{'educationError': editRoomForm.gender.$error.required && vm.submitted}">
                  <option value="no preference">No preference</option>
                  <option value="male only">Male only</option>
                  <option value="female only">Female only</option>
                </select>
              </div>
            </div>

            <!-- Pets Allowed -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-pet fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="petsAllowed">Pets allowed?</label><sup class="asterisk">*</sup>
                <select name="petsAllowed"
                  ng-class="{'educationError': editRoomForm.petsAllowed.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="petsAllowed" class="form-control" ng-model="vm.room.petsAllowed">
                </select>


              </div>
            </div>

            <!-- Parking Allowed -->

            <div class="row post-padding">
              <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                <div class="post-bubble">
                  <i class="fa fa-car fa-lg"></i>
                </div>
              </div>
              <div class="col-xs-9 col-sm-7 input-post">
                <label for="parkingAvailable">Parking available</label><sup class="asterisk">*</sup>
                <select name="parkingAvailable"
                  ng-class="{'educationError': editRoomForm.parkingAvailable.$error.required && vm.submitted}"
                  ng-options="option.value as option.text for option in vm.ddlYesNoSelect" required
                  id="parkingAvailable" class="form-control" ng-model="vm.room.parkingAvailable">
                </select>
              </div>
            </div>

          </div>

          <!-- Description -->

          <div class="row post-padding">
            <div class="col-xs-11 col-sm-11 input-post">
              <textarea name="roomDescription" id="roomDescription" cols="60" rows="3" ng-model="vm.room.description"  class="form-control" placeholder="Enter room description (optional)" ></textarea>
              <p class="col-xs-offset-1 col-sm-offset-1"><br><sup class="asterisk">*</sup>required fields - makes searching your room faster</p>
            </div>
          </div>

        </div>


      </form>

      <!-- End of form -->

      <!-- Roommates and Address boxes -->

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="page-header">
            <h2> Roommates </h2>
            <a class="bubble edit-profile" ng-click="vm.toggleRoommatesAddon()">
              <i class="fa fa-plus" ng-hide="vm.showRoommatesAddonButtons"></i>
              <i class="fa fa-minus" ng-show="vm.showRoommatesAddonButtons"></i>
            </a>
          </div>
          <div class="white-box roommates">

            <div ng-show='vm.showRoommatesAddonButtons' class="text-center">
              <a class="btn btn-primary btn-half-block" ng-click="vm.toggleAddRoommate()">
                <i class="fa fa-plus"></i>
                Add Roommate
              </a>
              <a class="btn btn-secondary btn-half-block" ng-click="vm.toggleInviteRoomate()">
                <i class="fa fa-envelope"></i>
                Invite Roommate
              </a>
              <hr>
            </div>

            <div ng-show="vm.showAddRoommate">
              <a class="bubble cancel" ng-click="vm.cancelRoommateAddAddon()"><i class="fa fa-close"></i></a>
              <h3>Search for your Roommate using by email. </h3>

              <angucomplete-alt id="members"
                                placeholder="Search for roommate"
                                pause="400"
                                selected-object="addNewRoommate"
                                local-data="vm.users"
                                search-fields="email"
                                title-field="firstname,lastname"
                                description-field="email"
                                image-field="profileImage"
                                input-class="form-control form-control-small"
                                match-class="redFont"
                                clear-selected="true">
                <hr>
            </div>

            <div ng-show="vm.showInviteRoomate">
              <a class="bubble cancel" ng-click="vm.cancelRoommateInviteAddon()"><i class="fa fa-close"></i></a>
              <br/>
              <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

                  <div class="form-group input-post">
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="email" ng-model="vm.invite.email" class="form-control"/>
                  </div>

                  <div class="form-group input-post">
                    <label for="firstname">First name:</label>
                    <input id="firstname" name="firstname" type="text" ng-model="vm.invite.firstname" class="form-control"/>
                  </div>

                  <div class="form-group input-post">
                    <label for="lastname">Last name:</label>
                    <input id="lastname" name="lastname" type="text" ng-model="vm.invite.lastname" class="form-control"/>
                  </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <a class="btn btn-primary pull-right" ng-href="mailto:{{vm.invite.email}}?Subject=Join%20Campusly%20community&body=Hey%20{{vm.invite.firstname}}%20{{vm.invite.lastname}},%0D%0A%0D%0AJoin%20me%20in%20the%20Campusly%20community!%20Sign-up%20for%20free%20at%20https://campusly.org/%0D%0A%0D%0A-{{vm.me.firstname}}" target="_top"><i class="fa fa-send fa-lg"></i>&nbspSend invitation</a>
                </div>

              </div>


            </div>

            <h2 class="no-roommate"  ng-show="!vm.showAddRoommate && vm.roommates.length === 0 && !vm.showInviteRoomate">
              You don't have any roommate yet.
              <small>
                <a href="" ng-click="vm.toggleAddRoommate()">Click here</a> to find and add your roommates.
              </small>
            </h2>
            <div class="row roommate" ng-repeat="roommate in vm.roommates">
              <div class="col-xs-2">
                <div class="picture">
                  <img ng-if="roommate.relatedRoommateId.profileImage" ng-src="api/images{{roommate.relatedRoommateId.profileImage}}" alt="" class="img-circle looking-profile-img">
                  <i ng-if="!roommate.relatedRoommateId.profileImage" class="fa fa-user fa-4x"></i>
                </div>
              </div>
              <div class="col-xs-6 info">
                <span class="name"> {{roommate.relatedRoommateId.firstname}} {{roommate.relatedRoommateId.lastname}} </span>
                <span class="email">{{roommate.relatedRoommateId.email}}</span>
                <span class="university" ng-if="roommate.relatedRoommateId.usereducationUsers[0].educationCenterName">{{roommate.relatedRoommateId.usereducationUsers[0].educationCenterName}}</span>
                <span class="university" ng-if="!roommate.relatedRoommateId.usereducationUsers[0].educationCenterName">User didn't provide education data</span>
                <span class="city" ng-if="roommate.relatedRoommateId.addresshistoryUsers.length">{{roommate.relatedRoommateId.addresshistoryUsers[0].zip}} {{roommate.relatedRoommateId.addresshistoryUsers[0].city}} / {{roommate.relatedRoommateId.addresshistoryUsers[0].state}}</span>
                <span class="city" ng-if="!roommate.relatedRoommateId.addresshistoryUsers.length">User didn't provide address data</span>
              </div>
              <div class="actions col-xs-4">
                <a class="bubble remove" ng-click="vm.removeRoommate(roommate)"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>

          </div>
        </div>

        <!--  Address  -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="page-header">
            <h2>Property Address</h2>
          </div>

          <div class="white-box">

            <!-- Display current property address -->

            <div class="row address-specs">

              <div class="col-xs-12 col-sm-12">

                <dl class="specs">
                  <dt>Street number:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.streetNumeric}}</dd>

                  <dt>Street name:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.streetAddress}}</dd>

                  <dt ng-if="vm.room.relatedPropertyId.apt">Apt:&nbsp;&nbsp;</dt>
                  <dd ng-if="vm.room.relatedPropertyId.apt">{{vm.room.relatedPropertyId.apt}}</dd>

                  <dt>City:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.city}}</dd>

                  <dt>Zip:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.zip}}</dd>

                  <dt>State:&nbsp;&nbsp;</dt>
                  <dd>{{vm.room.relatedPropertyId.state}}</dd>

                </dl>

              </div>

            </div>

          </div>
          <div class="row address-specs">
            <br/>
            <p class="light alert warning" ng-if="editRoomForm.$error.required.length>0 && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspPlease fill in all required fields. {{editRoomForm.$error.required.length}} more required.</p>
            <p class="light alert warning" ng-if="editRoomForm.$error.max && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspMaximum 10 roommates allowed</p>
          </div>
        </div>
        <!-- End Address  -->

      </div>

    </div>

    <div class="row post-padding">
      <div class="col-xs-12 col-sm-12">
        <button class="btn-rented-medium primary pull-right" ng-disabled="editRoomForm.$pristine " ng-click="vm.edit(editRoomForm, vm.education)">Save</button>
        <button class="btn-rented-medium delete pull-left" ng-disabled="editRoomForm.$dirty" ng-click="vm.deleteRoom()">Delete</button>
      </div>
    </div>
  </div>
</div>
