<div class="app-modal-inner">
  <form name="modal.forms.addressForm" novalidate>
    <div class="row">
      <div class="col-md-6">
        <label for="streetAddress">Address</label>
        <input type="text" id="streetAddress" name="streetAddress" class="form-control"  placeholder="Street name" address-autocomplete="modal.data.streetAddress" ng-model="modal.data.streetAddress.streetAddress" required/>
        <label for="streetNumber">Number</label>
        <input type="number" id="streetNumber" name="streetNumber" class="form-control"  placeholder="Street number" ng-model="modal.data.streetAddress.streetNumeric" required/>
        <label for="apt">Apt</label>
        <input type="text" id="apt" name="apt" class="form-control"  placeholder="apt" ng-model="modal.data.streetAddress.apt"/><br/>
      </div>
      <div class="col-md-6">
        <label for="city">City</label>
        <input type="text" id="city" name="city" class="form-control"  placeholder="city" ng-model="modal.data.streetAddress.city" required/>
        <label for="country">Country</label>
        <input type="text" id="country" name="country" class="form-control"  placeholder="country" ng-model="modal.data.streetAddress.state"/>
        <label for="zip">Zip code</label>
        <input type="number" id="zip" name="zip" class="form-control"  placeholder="zip code" ng-model="modal.data.streetAddress.zip" required/><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="present">Present?</label><br/>
        <label class="radio-inline"><input type="radio" name="present" id="present" ng-model="modal.data.streetAddress.present" value="1">Yes</label>
        <label class="radio-inline"><input type="radio" name="present"  ng-model="modal.data.streetAddress.present" value="0">No</label><br/><br/>
      </div>
      <div class="col-md-9">
        <div class="col-md-6">
          <label for="start">Start date</label>
          <p class="input-group">
            <input type="text" id="start" class="form-control" datepicker-popup="{{format}}" ng-model="modal.data.streetAddress.startDate" is-open="datePickers.startDate" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
          </p>
        </div>
        <div class="col-md-6" ng-show="modal.data.streetAddress.present==0">
          <label for="end">End date</label>
          <p class="input-group">
            <input type="text" id="end" class="form-control" datepicker-popup="{{format}}" ng-model="modal.data.streetAddress.endDate" is-open="datePickers.endDate"  close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </div>
    </div>

    <div class="has-error">
      <p translate class="help-block" ng-show="modal.forms.addressForm.streetAddress.$invalid && modal.submitted">
        Street name is required.
      </p>
      <p translate class="help-block" ng-show="modal.forms.addressForm.streetNumber.$invalid && modal.submitted">
        Street number is required.
      </p>
      <p translate class="help-block" ng-show="modal.forms.addressForm.zip.$invalid && modal.submitted">
        ZIP is required.
      </p>
      <p translate class="help-block" ng-show="modal.forms.addressForm.city.$invalid && modal.submitted">
        City is required.
      </p>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<div class="app-modal-address-primary">-->
          <!--Make address primary-->
          <!--<input type="checkbox" name="isPrimaryCheck" ng-model="modal.data.addressData.isPrimary"-->
                 <!--ng-init="modal.data.addressData.isPrimary=true" class="ng-pristine ng-valid ng-touched" value="true" checked="checked"/>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </form>
</div>
