.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
  background: #428bca;
}
.modal-info .modal-header {
  background: #3399cc;
}
.modal-success .modal-header {
  background: #5cb85c;
}
.modal-warning .modal-header {
  background: #f0ad4e;
}
.modal-danger .modal-header {
  background: #d9534f;
}
.modal-info .btn-confirm {
  color: white;
  background: #3399cc;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.ng-enter {
  opacity: 0;
}
.ng-enter-active {
   opacity: .5;
 }

.ng-leave {
  opacity: .5;
}
.ng-leave-active {
   opacity: 0;
 }
.pac-container {
  z-index: 1051 !important;
}
