<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta httpss-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <title>Campusly - Reset Password</title>
</head>
<body>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        <table class="container">
          <tr>
            <td>

              <!-- content start -->
              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td style="text-align: center">

                          <img width="76" height="100" src="http://i61.tinypic.com/2dj1e84.jpg" class="center-block" style="margin-top: 30px;">

                        </td>
                        <td class="expander"></td>
                      </tr>
                      <tr>
                        <td>

                          <h1>Hi, {{=name}}</h1>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>


                          <p>Someone has requested a reset of your Campusly password. You can change your password by clicking this button:</p>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>


              <table class="row">
                <tr>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>

                      </tr>
                    </table>

                  </td>
                  <td class="wrapper ">

                    <table class="four columns">
                      <tr>
                        <td class="center">
                          <center>
                            <table class="button success round">
                              <tr>
                                <td>

                                  <a href="{{=PWDRESET_URL}}{{=PWDRESETTOKEN}}">Reset my password</a>

                                </td>
                              </tr>
                            </table>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                  <td class="wrapper last">

                    <table class="four columns">
                      <tr>


                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td>


                          <p>If this button does not work, simply copy and paste this link into your web browser: </p>
                          <p><a href="{{=PWDRESET_URL}}{{=PWDRESETTOKEN}}">{{=PWDRESET_URL}}{{=PWDRESETTOKEN}}</a></p>

                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>




              <table class="row">
                <tr>
                  <td class="wrapper last">

                    <table class="twelve columns">
                      <tr>
                        <td align="center">
                          <center>
                            <p style="text-align:center;"><a href="https://campusly.org/terms">Terms</a> | <a href="https://campusly.org/privacy">Privacy</a></p>
                          </center>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>

              <!-- container end below -->
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
</body>
</html>
