<div class="row">

    <!--<span ng-click="room.previous()" ng-hide="currentRoom==0" class="previousArrow"><i class="fa fa-arrow-left previousArrow">&nbsp;&nbsp;Previous</i></span>-->
    <!--<span ng-click="room.next()" ng-hide="currentRoom==(room.allIds.length-1)" class="nextArrow">Next&nbsp;&nbsp;<i class="fa fa-arrow-right nextArrow"></i></span>-->

 <div class="row" style="padding: 0;">
   <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 back-link" style="cursor: pointer">
      <a ng-click="room.previous()" ng-hide="currentRoom==0"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Previous</a>
   </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 back-link pull-right" style="text-align: right;cursor: pointer;">
      <a ng-click="room.next()" ng-hide="currentRoom==(room.allIds.length-1)">Next&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>
    </div>
 </div>


  <div class="page-header">
    <h2>Highlights</h2>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 highlights white-box">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="picture">
          <img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?center={{room.roomDetail.propertyDetails.coords.latitude}},{{room.roomDetail.propertyDetails.coords.longitude}}&zoom=14&scale=2&size=400x350&markers=color:blue%7C{{room.roomDetail.propertyDetails.coords.latitude}},{{room.roomDetail.propertyDetails.coords.longitude}}&key=AIzaSyAm7woOFr0TOKG0U7jsBF5K3LSifdDjgfs">
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 details">

        <strong class="value">
          <br>
          {{room.roomDetail.roomDetails.monthlyPrice | currency}} / mo.
        </strong>

        <p class='address'>
          <br>
          {{room.roomDetail.propertyDetails.streetNumeric}} {{room.roomDetail.propertyDetails.streetAddress}} {{room.roomDetail.propertyDetails.apt}}, {{room.roomDetail.propertyDetails.city}} {{room.roomDetail.propertyDetails.zip}}
        </p>

        <div ng-if="room.education.id" class="distances">
          <p>
            <span class="distance" ng-if="room.distance.DRIVING && room.education.relatedUniversityId.name"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{room.distance.DRIVING}}les from {{room.education.relatedUniversityId.name}}</span>
            <span class="distance" ng-if="!room.distance.DRIVING && room.education.relatedUniversityId.name"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;calculating distance from your university</span>
            <br><br>
          </p>

          <p class="address">Travel time<br><br></p>
          <a class="distance-bubble">
            <i class="fa fa-car fa-lg"></i>
            <span class="top15" ng-if="room.duration.DRIVING">{{room.duration.DRIVING}}</span>
            <span class="top15" ng-if="!room.duration.DRIVING"><i class="fa fa-circle-o-notch fa-spin"></i></span>
          </a>

          <a class="distance-bubble">
            <i class="fa fa-bicycle fa-lg"></i>
            <span class="top15" ng-if="room.duration.BICYCLING">{{room.duration.BICYCLING}}</span>
            <span class="top15" ng-if="!room.duration.BICYCLING"><i class="fa fa-circle-o-notch fa-spin"></i></span>
          </a>

          <a class="distance-bubble">
            <i class="fa fa-child fa-lg"></i>
            <span class="top15" ng-if="room.duration.WALKING">{{room.duration.WALKING}}</span>
            <span class="top15" ng-if="!room.duration.WALKING"><i class="fa fa-circle-o-notch fa-spin"></i></span>
          </a>

        </div>

        <div ng-show="!room.education.id">
          <br>
          <h3><a ui-sref="myProfile">Update Profile</a> & view distance from your university</h3>
        </div>

        <table class="specs">
          <br>
          <tr>
            <td><i class="fa fa-bigBed"></i>&nbsp;&nbsp;Room type:&nbsp;&nbsp;{{room.roomDetail.roomDetails.roomType}}</td>
            <td><i class="fa fa-shower"></i>&nbsp;&nbsp;{{room.roomDetail.roomDetails.sharedBathroom ? "Shared" : "Private"}} bathroom</td>
          </tr>
          <tr>
            <td ng-show="room.roomDetail.roomDetails.numRoomates > 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetail.roomDetails.numRoomates}} roommates + You</td>
            <td ng-show="room.roomDetail.roomDetails.numRoomates == 1"><i class="fa fa-users"></i>&nbsp;&nbsp;{{room.roomDetail.roomDetails.numRoomates}} roommate + You</td>
            <td><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;Move-in:&nbsp;&nbsp;{{room.roomDetail.roomDetails.availableMoveIn | date }}</td>
          </tr>
          <tr>
            <td><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Utilities:&nbsp;&nbsp;{{room.roomDetail.roomDetails.monthlyUtilityCost | currency}}</td>
            <td ng-show="room.roomDetail.roomDetails.leaseEndDate"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Move-out:&nbsp;&nbsp;{{room.roomDetail.roomDetails.leaseEndDate | date }}</td>
          </tr>
        </table>

      </div>
    </div>

    <hr>

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <a id="email" style="margin-left:20px; position: relative;" class="pull-right" ng-href="mailto:{{room.creatorEmail}}?Subject=Interested%20in%20your%20room">
          <i class="fa fa-send contact-bubble-email"></i><p style="float: right; padding-top: 10px">&nbsp;&nbsp;{{room.creatorEmail}}</p></a>
        <script type="text/javascript">
          mixpanel.track_links("#email", "Email sent - available room");
          mixpanel.people.increment('Email sent - available room');
        </script>
        <a id="facebookPM" style="margin-left:20px; position: relative;" class="pull-right" ng-if="room.creatorFacebook" ng-href="{{room.creatorFacebook}}" target="_blank">
          <i style="color: #ffffff" class="fa fa-facebook contact-bubble-facebook"></i><p style="float: right; padding-top: 10px">&nbsp;&nbsp;PM</p></a>
        <script type="text/javascript" ng-if="room.creatorFacebook">
          mixpanel.track_links("#facebookPM", "Facebook PM sent - available room");
          mixpanel.people.increment('Facebook PM sent - available room');
        </script>

        <!--<a class="contact-bubble-email" href="" target="_top"><i class="fa fa-facebook fa-lg"></i></a>-->
        <!-- Facebook link commented out for now -->

      </div>

    </div>

  </div>
</div>
