<!--<div class="container">-->
  <div class="row">
    <div class="col-sm-12">

      <div class="col-sm-4">
        <h3>Prior address</h3>

        <label for="streetAddress">Address</label>
        <input type="text" id="streetAddress" name="streetAddress" class="form-control"  placeholder="Street name" address-autocomplete="step1.address.streetAddress" ng-model="step1.address.streetAddress.streetAddress"/>

        <label for="streetNumber">Number</label>
        <input type="number" id="streetNumber" name="streetNumber" class="form-control"  placeholder="Street number" ng-model="step1.address.streetAddress.streetNumeric"/>

        <label for="country">Country</label>
        <input type="text" id="country" name="country" class="form-control"  placeholder="country" ng-model="step1.address.streetAddress.state"/>

        <label for="city">City</label>
        <input type="text" id="city" name="city" class="form-control"  placeholder="city" ng-model="step1.address.streetAddress.city"/>

        <label for="zip">Zip code</label>
        <input type="number" id="zip" name="zip" class="form-control"  placeholder="zip code" ng-model="step1.address.streetAddress.zip"/>
</div>

      </div>
</div>

<!--</div>-->

