<div class="container">
  <br/>
  <tabset class="dashboard-sidebar">
    <tab ng-repeat="tab in myProfile.tabs" heading="{{tab.title}}"
         disabled="true" active="tab.active" ng-click="false"></tab>
  </tabset>

  <div ui-view="" >

  </div>

  <!--<div class="row">-->
      <button ng-show="!myProfile.isLastTab()" class="btn btn-primary pull-right" ng-click="myProfile.proceed()">Next</button>
      <button ng-show="myProfile.isLastTab()" class="btn btn-primary pull-right" ng-click="myProfile.proceed()">Finish</button>
    <!--</div>-->
</div>

