<div class="container" cg-busy="{promise:address.listOfAddresses.$promise, message:'Loading Your Profile', delay:100}">
  <br/>
  <tabset class="dashboard-sidebar">
    <tab ng-repeat="tab in myProfile.tabs" heading="{{tab.title}}"
         active="tab.active" ui-sref="{{tab.route}}"></tab>
    <!--disabled="true" ng-click="false"-->
  </tabset>

  <div ui-view="" >

  </div>

  <!--<div class="row">-->
      <!--<button ng-show="!myProfile.isLastTab()" class="btn btn-primary pull-right" ng-click="myProfile.proceed()">Next</button>-->
      <!--<button ng-show="myProfile.isLastTab()" class="btn btn-primary pull-right" ng-click="myProfile.proceed()">Finish</button>-->
    <!--</div>-->
</div>

