<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>
<div class="main-wrapper">
  <div class="container my-profile">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
          <div class="page-header">
            <h2> Your Profile </h2>
          </div>
        </div>
          <div class="col-xs-3 col-sm-8 col-md-8 col-lg-8">
            <a class="profile-bubble edit-profile pull-right" ui-sref="editProfile"> <i class="fa fa-pencil"></i> </a>
        </div>
      </div>


      <div class="white-box">
        <div class="row about-me">
          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="picture">
              <img ng-if="myProfile.me.profileImage" ng-src="api/images{{myProfile.me.profileImage}}" class="img-circle center-block looking-profile-img">
              <i ng-if="!myProfile.me.profileImage" class="fa fa-user fa-5x"></i>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <dl>
              <dt>Name&nbsp;&nbsp;</dt>
              <dd>{{myProfile.tempMe.firstname}} {{myProfile.tempMe.lastname}} </dd>
              <dt>University&nbsp;&nbsp;</dt>
              <dd>{{myProfile.education.educationCenterName.name}}</dd>
              <dt>Year&nbsp;&nbsp;</dt>
              <dd>{{myProfile.education.graduationDate | date:'yyyy'}}</dd>
              <dt>Major&nbsp;&nbsp;</dt>
              <dd>{{myProfile.education.major}}</dd>
              <dt>About Me&nbsp;&nbsp;</dt>
              <dd> <p class="quote" ng-if="myProfile.me.aboutMe"><br>{{myProfile.me.aboutMe}} </p> </dd>
            </dl>

          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <dl>
              <dt>Phone Number&nbsp;&nbsp;</dt>
              <dd ng-show="myProfile.me.phone">{{myProfile.me.phone}}</dd>
              <dt>Address&nbsp;&nbsp;</dt>
              <dd ng-show="myProfile.address.streetAddress">{{myProfile.address.streetAddress.streetNumeric}} {{myProfile.address.streetAddress.streetAddress}}</dd>
              <dt>City State Zip&nbsp;&nbsp;</dt>
              <dd ng-show="myProfile.address.streetAddress">{{myProfile.address.streetAddress.city}}, {{myProfile.address.streetAddress.state}} {{myProfile.address.streetAddress.zip}} </dd>
            </dl>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
            <button class="btn btn-primary" style="background-color: #3B5998;" ng-click="loginOauth('facebook')" ng-disabled="myProfile.tempMe.facebook">
              <i style="color: #ffffff" class="fa fa-facebook fa-lg"></i>&nbsp&nbspLink with facebook</button>

            <button class="btn btn-primary" style="background-color: #3B5998;" ng-click="myProfile.unlinkAccount()" ng-disabled="!myProfile.tempMe.facebook">
              <i style="color: #ffffff" class="fa fa-facebook fa-lg"></i>&nbsp&nbspUnlink</button>
          </div>

        </div>
      </div>
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="page-header">
            <h2 class="section-title"> Roommates <small ng-if="myProfile.confirmed">({{myProfile.confirmed}}/10)</small> </h2>

            <a class="bubble edit-profile" ng-click="myProfile.toggleRoommatesAddon()">
              <i class="fa fa-plus" ng-hide="myProfile.showRoommatesAddonButtons"></i>
              <i class="fa fa-minus" ng-show="myProfile.showRoommatesAddonButtons"></i>
            </a>
          </div>
          <div class="white-box roommates">
            <h4 ng-if="myProfile.unconfirmed">{{myProfile.unconfirmed}} request(s) pending </h4>
            <div ng-show='myProfile.showRoommatesAddonButtons' class="text-center">
              <a class="btn btn-primary btn-half-block" ng-click="myProfile.toggleAddRoommate()" ng-disabled="myProfile.confirmed>10">
                <i class="fa fa-plus"></i>
                Add Roommate
              </a>
              <a class="btn btn-secondary btn-half-block" ng-click="myProfile.toggleInviteRoomate()">
                <i class="fa fa-envelope"></i>
                Invite Roommate
              </a>
              <hr>
            </div>

            <div ng-show="myProfile.showAddRoommate">
              <a class="bubble cancel" ng-click="myProfile.cancelRoommateAddAddon()"><i class="fa fa-close"></i></a>
              <h3>Search for your roommate by email address</h3>

              <angucomplete-alt id="members"
              placeholder="Search for roommate"
              pause="400"
              selected-object="myProfile.addNewRoommate"
              local-data="myProfile.users"
              search-fields="email"
              title-field="firstname,lastname"
              description-field="email"
              image-field="profileImage"
              input-class="form-control form-control-small"
              match-class="redFont"
              clear-selected="true">
              <hr>
            </div>

            <div ng-show="myProfile.showInviteRoomate">
              <a class="bubble cancel" ng-click="myProfile.cancelRoommateInviteAddon()"><i class="fa fa-close"></i></a>
              <br/>
              <div class="row">

                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">

                  <div class="form-group input-post">
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="email" ng-model="myProfile.invite.email" class="form-control"/>
                  </div>

                  <div class="form-group input-post">
                    <label for="firstname">First name:</label>
                    <input id="firstname" name="firstname" type="text" ng-model="myProfile.invite.firstname" class="form-control"/>
                  </div>

                  <div class="form-group input-post">
                    <label for="lastname">Last name:</label>
                    <input id="lastname" name="lastname" type="text" ng-model="myProfile.invite.lastname" class="form-control"/>
                  </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <a class="btn btn-primary pull-right" ng-href="mailto:{{myProfile.invite.email}}?Subject=Join%20Campusly%20community&body=Hey%20{{myProfile.invite.firstname}}%20{{myProfile.invite.lastname}},%0D%0A%0D%0AJoin%20me%20in%20the%20Campusly%20community!%20Sign-up%20for%20free%20at%20https://campusly.org/%0D%0A%0D%0A-{{myProfile.me.firstname}}" target="_top"><i class="fa fa-send fa-lg"></i>&nbspSend invitation</a>
                </div>

              </div>


            </div>

            <h2 class="no-roommate" ng-show="!myProfile.showAddRoommate && myProfile.roommates.length === 0 && !myProfile.showInviteRoomate">
                <a href="" ng-click="myProfile.toggleAddRoommate()">Click here</a> to find and add your roommates.
            </h2>
            <div class="row roommate" ng-repeat="roommate in myProfile.roommates">
              <div class="col-xs-2" ng-class="{'not-approved' : !roommate.confirmed}">
                <div class="picture">
                  <img ng-if="roommate.relatedRoommateId.profileImage" ng-src="api/images{{roommate.relatedRoommateId.profileImage}}" alt="" class="img-circle looking-profile-img">
                  <i ng-if="!roommate.relatedRoommateId.profileImage" class="fa fa-user fa-4x"></i>
                </div>
              </div>
              <div class="col-xs-6 info" ng-class="{'not-approved' : !roommate.confirmed}">
                <span ng-if="!roommate.confirmed">Status: pending</span>
                <span class="name"> {{roommate.relatedRoommateId.firstname || roommate.relatedUserId.firstname}} {{roommate.relatedRoommateId.lastname || roommate.relatedUserId.lastname}} </span>
                <span class="email">{{roommate.relatedRoommateId.email || roommate.relatedUserId.email}}</span>
                <span class="university" ng-if="roommate.relatedRoommateId.usereducationUsers[0].educationCenterName || roommate.relatedUserId.usereducationUsers[0].educationCenterName">{{roommate.relatedRoommateId.usereducationUsers[0].educationCenterName || roommate.relatedUserId.usereducationUsers[0].educationCenterName}}</span>
                <span class="university" ng-if="!roommate.relatedRoommateId.usereducationUsers[0].educationCenterName && !roommate.relatedUserId.usereducationUsers[0].educationCenterName">University not added</span>
              </div>
              <div class="actions col-xs-4">
                <a ng-if="roommate.relatedUserId && !roommate.confirmed && myProfile.confirmed<=10" class="new-bubble approve" ng-click="myProfile.approveRoommate(roommate)"><i class="fa fa-check"></i></a>
                <a class="new-bubble remove" ng-click="myProfile.removeRoommate(roommate)"><i ng-if="!roommate.confirmed" class="fa fa-times"></i><i ng-if="roommate.confirmed" class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </div>

        <!--  PET & VEHICLE BOX  -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="page-header">
            <h2 class="section-title"> Pets & Vehicles </h2>
            <a class="bubble" ng-click="myProfile.togglePetAddon()">
              <i class="fa fa-plus" ng-hide="myProfile.showPetAddonButtons"></i>
              <i class="fa fa-minus" ng-show="myProfile.showPetAddonButtons"></i>
            </a>
          </div>
          <div class="white-box pets">
            <div ng-show='myProfile.showPetAddonButtons' class="text-center">
              <a class="btn btn-primary btn-half-block" ng-click="myProfile.toggleAddPet()">
                <i class="fa fa-pet"></i> Add Pet
              </a>
              <a class="btn btn-secondary btn-half-block" ng-click="myProfile.toggleAddVehicle()">
                <i class="fa fa-vehicle"></i> Add Vehicle
              </a>
              <hr>
            </div>
            <form ng-show="myProfile.showAddPet">
              <h3>Add a new pet</h3>
              <p>(All fields required)</p>
              <hr>
              <label for="type">Type</label>
              <select id="type" class="form-control" ng-model="addPet.tempPet.type">
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="fish">Fish</option>
              </select>

              <label for="breed">breed</label>
              <input type="text" id="breed" name="breed" class="form-control" ng-model="addPet.tempPet.breed"/>

              <label for="weight">Weight in lbs</label>
              <input type="text" id="weight" name="weight" class="form-control" ng-model="addPet.tempPet.weightLbs"/>
              <br>
              <button class="btn btn-primary" ng-click="myProfile.addNewPet(addPet.tempPet)">Add pet</button>
              <a class="btn btn-default" ng-click="myProfile.cancelPetAddAddon('a')">Cancel</i></a>
              <hr>
            </form>

            <form ng-show="myProfile.showAddVehicle">
              <h3>Add a new vehicle</h3>
              <p>(All fields required)</p>
              <hr>
              <label for="model">Model</label>
              <input type="text" id="model" name="model" class="form-control" ng-model="newVehicle.tempVehicle.model"/>

              <label for="make">Make</label>
              <input type="text" id="make" name="make" class="form-control" ng-model="newVehicle.tempVehicle.make"/>

              <label for="year">Year</label>
              <input type="text" id="year" name="year" class="form-control" ng-model="newVehicle.tempVehicle.year"/>

              <label for="license">License plate</label>
              <input type="text" id="license" name="license" class="form-control" ng-model="newVehicle.tempVehicle.licensePlate"/>

              <label for="color">Color</label>
              <input type="text" id="color" name="color" class="form-control" ng-model="newVehicle.tempVehicle.color"/>

              <br>
              <button class="btn btn-primary" ng-click="myProfile.addNewVehicle(newVehicle.tempVehicle)">Add Vehicle</button>
              <a class="btn btn-default" ng-click="myProfile.cancelVehicleAddAddon('a')">Cancel</i></a>
              <hr>
            </form>

            <div class="pet row" ng-repeat="pet in myProfile.pets track by $index">
              <div class="picture col-xs-2">
                <span class="badge pet"></span>
              </div>
              <div class="info col-xs-6">
                <span class="main-data">
                  <input type="text" ng-model='pet.breed' ng-readonly="myProfile.selectedPet != $index" class="col-xs-12">
                </span>
                <span class="details col-xs-12">
                  <select ng-model="pet.type" ng-disabled="myProfile.selectedPet != $index">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="bird">Bird</option>
                    <option value="fish">Fish</option>
                  </select>
                  <input id="weightLbs" type="text" ng-model='pet.weightLbs' ng-readonly="myProfile.selectedPet != $index">Lbs
                </span>
              </div>
              <div class="actions col-xs-4">
                <a class="new-bubble" ng-click="myProfile.editPet($index)" ng-show="myProfile.selectedPet != $index"><i class="fa fa-pencil"></i></a>
                <a class="new-bubble cancel" ng-click="myProfile.cancelPetAddAddon()" ng-hide="myProfile.selectedPet != $index"><i class="fa fa-close"></i></a>
                <a class="new-bubble" ng-show="myProfile.selectedPet == $index" ng-click="myProfile.savePet(pet)"><i class="fa fa-save"></i></a>
                <a class="new-bubble remove" style="color: red" ng-click="myProfile.deletePet(pet)" ng-show="myProfile.selectedPet == $index"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>

            <div class="pet row" ng-repeat="vehicle in myProfile.vehicles">
              <div class="picture col-xs-2">
                <span class="badge vehicle">&nbsp;</span>
              </div>
              <div class="info col-xs-6">
                <span class="main-data">
                  <input type="text" ng-model='vehicle.make' ng-readonly="myProfile.selectedVehicle != $index" class="col-xs-12">
                  <input type="text" ng-model='vehicle.model' ng-readonly="myProfile.selectedVehicle != $index" class="col-xs-5">
                  <input type="text" ng-model='vehicle.year' ng-readonly="myProfile.selectedVehicle != $index" class="col-xs-5 col-xs-offset-1">
                </span>
                <span class="details">
                  <input type="text" ng-model='vehicle.licensePlate' ng-readonly="myProfile.selectedVehicle != $index" class="col-xs-5">
                  <input type="text" ng-model='vehicle.color' ng-readonly="myProfile.selectedVehicle != $index" class="col-xs-5 col-xs-offset-1">
                </span>
              </div>
              <div class="actions col-xs-4">
                <a class="new-bubble" ng-click="myProfile.editVehicle($index)" ng-show="myProfile.selectedVehicle != $index"><i class="fa fa-pencil"></i></a>
                <a class="new-bubble cancel" ng-click="myProfile.cancelVehicleAddAddon()" ng-hide="myProfile.selectedVehicle != $index"><i class="fa fa-close"></i></a>
                <a class="new-bubble" ng-show="myProfile.selectedVehicle == $index" ng-click="myProfile.saveVehicle(vehicle)"><i class="fa fa-save"></i></a>
                <a class="new-bubble remove" ng-click="myProfile.deleteVehicle(vehicle)" ng-show="myProfile.selectedVehicle == $index"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- END PET & VEHICLE BOX  -->

      </div>
    </div>
  </div>

</div>
