<div ng-include="'components/layout/navbar/navbar.html'"></div>
<div ng-include="'components/layout/navbar/sub-navbar.html'"></div>

<!-- Main wrapper class - responsible for page styling -->

<div class="main-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="page-header">
          <h2>Post Available Room</h2>
        </div>

        <!-- Form for entire partial -->

        <form name="addNewRoomForm" ng-submit="vm.create(addNewRoomForm, vm.education)" novalidate>

          <!-- Room listing view -->

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 white-box" id="room-specifics">

            <!--start of first col 4-->
            <div class="col-md-4">

              <!--User University Present-->

              <div class="row" ng-if="vm.education.createdAt">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-building fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label>Your campus</label><sup class="asterisk">*</sup><br/>
                  <p><small>{{vm.education.educationCenterName.name}}</small></p>
                </div>
              </div>

              <!--User University Not Present -->

              <div class="row" ng-if="!vm.education.createdAt">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-building fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="yourCampusNotPresent">Your campus</label><sup class="asterisk">*</sup><br/>
                  <select id="yourCampusNotPresent" class="form-control" required name="yourCampusNotPresent"
                          ng-class="{'educationError': addNewRoomForm.yourCampusNotPresent.$error.required && vm.submitted}"
                          data-ng-model="vm.education.educationCenterName"
                          data-ng-options="university as university.name for university in vm.universitiesList"
                          ng-init="vm.education.educationCenterName=vm.universitiesList[vm.education.universityId-1]">
                  </select>
                </div>
              </div>



              <!-- Move-in -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-arrow-right fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="availableMoveIn">Move-in date<sup class="asterisk">*</sup></label>
                  <p class="input-group">
                    <input type="text" id="availableMoveIn" required name="availableMoveIn" class="form-control borderRadiusFix" datepicker-popup="{{format}}" ng-model="vm.room.availableMoveIn" is-open="datePickers.startDate" close-text="Close"  ng-class="{'educationError': addNewRoomForm.availableMoveIn.$invalid && vm.submitted}"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event,'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </div>
              </div>

              <!-- Move-out -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-arrow-left fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="leaseEndDate">Move-out date</label>
                  <p class="input-group">
                    <input type="text" id="leaseEndDate" name="moveOut" class="form-control borderRadiusFix" datepicker-popup="{{format}}" ng-model="vm.room.leaseEndDate" is-open="datePickers.endDate" close-text="Close" ng-class="{'educationError': addNewRoomForm.moveOut.$invalid && vm.submitted}"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event,'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                  </p>
                </div>
              </div>

              <!-- Monthly rent -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-tag  fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="monthlyPrice">Monthly Rent ($)<sup class="asterisk">*</sup></label>
                  <input type="number" min="0" id="monthlyPrice" name="monthlyPrice" required class="form-control"  placeholder="e.x. 750" ng-model="vm.room.monthlyPrice" ng-class="{'educationError': addNewRoomForm.monthlyPrice.$invalid && vm.submitted}">
                  <div ng-show="addNewRoomForm.monthlyPrice.$dirty && addNewRoomForm.monthlyPrice.$invalid">
                    <p class="help-block error" >Enter a the monthly rent</p>
                  </div>
                </div>
              </div>

              <!-- Security Deposit -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-tags fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="securityDeposit">Security Deposit ($)</label>
                  <input type="number" min="0" id="securityDeposit" name="securityDeposit" class="form-control"  placeholder="e.x. 750" ng-model="vm.room.securityDeposit" ng-class="{'educationError': addNewRoomForm.securityDeposit.$invalid && vm.submitted}"/>
                </div>
              </div>

              <!-- Monthly utilities -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-bar-chart fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="monthlyUtilityCost">Monthly utilities ($)<sup class="asterisk">*</sup></label>
                  <input type="number" min="0" id="monthlyUtilityCost" required name="monthlyUtilityCost" class="form-control"  placeholder="e.x. 50" ng-model="vm.room.monthlyUtilityCost" ng-class="{'educationError': addNewRoomForm.monthlyUtilityCost.$invalid && vm.submitted}"/>
                </div>
              </div>

            </div>

            <!--start of second col 4-->
            <div class="col-md-4">

              <!-- Lease type -->

              <div class="row topRow">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-clipboard fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="leaseType">Lease type<sup class="asterisk">*</sup></label>
                  <select id="leaseType" class="form-control" name="leaseType" ng-model="vm.room.leaseType" ng-class="{'educationError': addNewRoomForm.leaseType.$invalid && vm.submitted}" required>
                    <option value="sub-lease">Sub-lease</option>
                    <option value="month-to-month">Month to month</option>
                    <option value="lease take over">Lease take over</option>
                  </select>
                </div>
              </div>

              <!-- Number of roommates -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-users fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="numRoommates">Current # of roommates<sup class="asterisk">*</sup></label>
                  <input type="number" min="0" id="numRoommates" required name="numRoommates" class="form-control" ng-model="vm.room.numRoomates" max="10" ng-class="{'educationError': addNewRoomForm.numRoommates.$invalid && vm.submitted}"/>
                </div>
              </div>

              <!-- Property type -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-building fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="type">Property type</label>
                  <select id="type" class="form-control" ng-model="vm.property.type" name="propertyType" ng-class="{'educationError': addNewRoomForm.propertyType.$invalid && vm.submitted}">
                    <option value="apt">Apartment</option>
                    <option value="sfh">Single family house</option>
                    <option value="townhouse">Townhouse</option>
                  </select>
                </div>
              </div>

              <!-- Bathrooms -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-toiletPaper fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="bathrooms">Bathrooms</label><sup class="asterisk">*</sup><br/>
                  <input type="number" min="0" id="bathrooms" required name="bathrooms" class="form-control"  placeholder="Number of bathrooms" ng-model="vm.property.bathrooms" ng-class="{'educationError': addNewRoomForm.bathrooms.$invalid && vm.submitted}"/>
                </div>
              </div>

              <!-- Shared bathroom -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-shower fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="sharedBath">Shared Bathroom?<sup class="asterisk">*</sup></label>
                  <select id="sharedBath" required name="sharedBath" class="form-control" ng-model="vm.room.sharedBathroom" ng-class="{'educationError': addNewRoomForm.sharedBath.$invalid && vm.submitted}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Bedrooms -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-bed fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="bedrooms">Bedrooms</label><sup class="asterisk">*</sup><br/>
                  <input type="number" min="0" id="bedrooms" required name="bedrooms" class="form-control"  placeholder="Number of bedrooms" ng-model="vm.property.bedrooms" ng-class="{'educationError': addNewRoomForm.bedrooms.$invalid && vm.submitted}"/>
                </div>
              </div>

            </div>


            <!--start of third col 4-->
            <div class="col-md-4">

              <!-- Room type -->

              <div class="row topRow">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-bigBed fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="roomType">Room type</label><sup class="asterisk">*</sup>
                  <select id="roomType" class="form-control" ng-model="vm.room.roomType" required name="roomType" ng-class="{'educationError': addNewRoomForm.roomType.$invalid && vm.submitted}">
                    <option value="single">Single</option>
                    <option value="double">Double</option>
                    <option value="living room">Living room</option>
                  </select>
                </div>
              </div>

              <!-- Furnished -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-desk fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="furnished">Furnished?<sup class="asterisk">*</sup></label>
                  <select id="furnished" required name="furnished" class="form-control" ng-model="vm.room.furnished" ng-class="{'educationError': addNewRoomForm.furnished.$invalid && vm.submitted}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Smoking -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-smoking fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="smokingAllowed">Smoking allowed?<sup class="asterisk">*</sup></label>
                  <select id="smokingAllowed" required name="smokingAllowed" class="form-control" ng-model="vm.room.smokingAllowed" ng-class="{'educationError': addNewRoomForm.smokingAllowed.$invalid && vm.submitted}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Gender preference -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-venus-mars fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="gender">Gender preference</label><sup class="asterisk">*</sup>
                  <select id="gender"class="form-control" ng-model="vm.room.gender" required name="gender" ng-class="{'educationError': addNewRoomForm.gender.$invalid && vm.submitted}">
                    <option value="no preference">No preference</option>
                    <option value="male only">Male only</option>
                    <option value="female only">Female only</option>
                  </select>
                </div>
              </div>

              <!-- Pets Allowed -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-pet fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="petsAllowed">Pets allowed?</label><sup class="asterisk">*</sup>
                  <select id="petsAllowed" required name="petsAllowed" class="form-control" ng-model="vm.room.petsAllowed" ng-class="{'educationError': addNewRoomForm.petsAllowed.$invalid && vm.submitted}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

              <!-- Parking Allowed -->

              <div class="row post-padding">
                <div class="col-xs-2 col-sm-2 col-xs-offset-1 col-sm-offset-1">
                  <div class="post-bubble">
                    <i class="fa fa-car fa-lg"></i>
                  </div>
                </div>
                <div class="col-xs-9 col-sm-7 input-post">
                  <label for="parkingAvailable">Parking available</label><sup class="asterisk">*</sup>
                  <select id="parkingAvailable" required name="parkingAvailable" class="form-control" ng-model="vm.room.parkingAvailable" ng-class="{'educationError': addNewRoomForm.parkingAvailable.$invalid && vm.submitted}">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                  </select>
                </div>
              </div>

            </div>

            <!-- end of 3 columns for room listing -->

            <!-- Description -->

            <div class="row post-padding">
              <div class="col-xs-11 col-sm-11 input-post">
                <textarea name="roomDescription" id="roomDescription" cols="60" rows="3" ng-model="vm.room.description"  class="form-control" placeholder="Enter room description (optional)"></textarea>
                <p class="col-xs-offset-1 col-sm-offset-1"><br><sup class="asterisk">*</sup>required fields - makes searching your room faster</p>
              </div>
            </div>

          </div>

          <!-- end of whitebox for room listing -->


          <!-- Roommates and Address -->

          <div class="row">

            <!--  Address box  -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="page-header">
                <h2 class="section-title">Property Address</h2>
              </div>
              <div class="white-box pets">

                <div class="row">

                  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">

                    <!-- Address autocomplete -->

                    <div class="form-group input-post">

                      <label for="streetAddress">Address lookup</label>
                      <input  type="text" id="streetAddress" name="streetAddress" class="form-control borderRadiusFix"  placeholder="Type your address to autocomplete" address-autocomplete="vm.property.streetAddress"/>

                    </div>

                    <!-- Address autofill -->

                    <div class="form-group input-post-readonly">

                      <label for="streetNumber" class="post-padding">Street Number</label><sup class="asterisk">*</sup>
                      <input required type="number" min="0" id="streetNumber" name="streetNumber" class="form-control"  placeholder="Street number" ng-model="vm.property.streetAddress.streetNumeric" readonly ng-class="{'educationError': addNewRoomForm.streetNumber.$invalid && vm.submitted}"/>

                    </div>

                    <div class="form-group input-post-readonly">

                      <label for="streetName">Street Name</label><sup class="asterisk">*</sup>
                      <input required type="text" id="streetName" name="streetName" class="form-control borderRadiusFix"  placeholder="Street name" ng-model="vm.property.streetAddress.streetAddress" readonly ng-class="{'educationError': addNewRoomForm.streetName.$invalid && vm.submitted}"/>

                    </div>

                    <div class="form-group input-post">

                      <label for="apt">Apt No.</label>
                      <input type="number" min="0" id="apt" name="apt" class="form-control"  placeholder="e.x. 2C" ng-model="vm.property.streetAddress.apt"/>

                    </div>

                    <div class="form-group input-post-readonly">

                      <label for="city">City</label><sup class="asterisk">*</sup>
                      <input required type="text" id="city" name="city" class="form-control borderRadiusFix"  placeholder="City" ng-model="vm.property.streetAddress.city" readonly ng-class="{'educationError': addNewRoomForm.city.$invalid && vm.submitted}"/>

                    </div>

                    <div class="form-group input-post-readonly">

                      <label for="state">State</label><sup class="asterisk">*</sup>
                      <input required type="text" id="state" name="state" class="form-control borderRadiusFix"  placeholder="State" ng-model="vm.property.streetAddress.state" readonly ng-class="{'educationError': addNewRoomForm.state.$invalid && vm.submitted}"/>

                    </div>

                    <div class="form-group input-post-readonly">

                      <label for="zip">Zip Code</label><sup class="asterisk">*</sup>
                      <input required type="number" min="0" id="zip" name="zip" class="form-control"  placeholder="Zip code" ng-model="vm.property.streetAddress.zip" readonly ng-class="{'educationError': addNewRoomForm.zip.$invalid && vm.submitted}"/>

                    </div>
                    <p><br><sup class="asterisk">*</sup>required fields</p>
                    <br/>
                    <p class="alert warning" ng-if="addNewRoomForm.$error.required.length>0 && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspPlease fill in all required fields. {{addNewRoomForm.$error.required.length}} more required.</p>
                    <p class="alert warning" ng-if="addNewRoomForm.$error.max && vm.submitted"><i style="color: white" class="fa fa-exclamation-triangle"></i>&nbsp&nbspMaximum 10 roommates allowed</p>

                  </div>

                </div>

              </div>
            </div>
            <!-- End address box -->

          </div>

          <!-- Save button for looking post -->

          <div class="row post-padding">
            <div class="col-xs-12 col-sm-12">
              <p class="pull-left">Any improvements?&nbsp;<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:feedback@campusly.org?=Website%20Feedback">feedback@campusly.org</a> | <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/app_scoped_user_id/837190803015531/" target="_blank">Facebook PM</a></p>
              <button class="btn-rented-medium primary pull-right" type="submit">Save</button>
            </div>
          </div>

        </form>

      </div>

    </div>

  </div>
</div>
